Repository mfin/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/k8s, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/k8s:
  - "k8s/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"

fix(container): update image ghcr.io/advplyr/audiobookshelf to v2.2.17
  k8s/archive/audiobookshelf/values.yaml
Labels: area/k8s

fix(github-release): update control-d-inc/ctrld to v1.1.3
  ansible/rpi/inventory/group_vars/all/ctrld.yaml
Labels: area/ansible

fix(github-release): update kubernetes/kubernetes to v1.26.3
  .taskfiles/k8s/scripts/kubeconform.sh
  k8s/bootstrap/argocd/values.yaml
Labels: area/k8s

fix(helm): update chart grafana to 6.52.4
  k8s/monitoring/grafana/Chart.yaml
Labels: area/k8s

chore(container): update image ghcr.io/onedr0p/sabnzbd to 72e1c95
  k8s/media/sabnzbd/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 929d43f
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to ba058ab
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 1608df8
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to f32a173
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 59e397a
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 369e89d
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

fix(container): update image docker.io/library/redis to v7.0.10
  k8s/storage/redis/values.yaml
Labels: area/k8s

fix(container): update image quay.io/minio/minio to release.2023-03-20t20-16-18z
  k8s/archive/minio/values.yaml
Labels: area/k8s

fix(helm): update chart cloudnative-pg to 0.17.1
  k8s/archive/cloudnative-pg/Chart.yaml
Labels: area/k8s

feat(container): update image ghcr.io/flaresolverr/flaresolverr to v3.1.0
  k8s/automation/flaresolverr/values.yaml
Labels: area/k8s

fix: unifi 3.0 finally
  terraform/unifi/port_forward.tf
  terraform/unifi/secret.sops.yaml
Labels: area/terraform

fix: remove wg-easy
  ansible/rpi/playbooks/roles/ufw/tasks/main.yaml
Labels: area/ansible

feat(helm): update chart argo-cd to 5.27.1
  k8s/bootstrap/argocd/Chart.yaml
Labels: area/k8s

feat(helm): update chart volsync to 0.7.0
  k8s/storage/volsync/Chart.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to e0f5ab3
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 1bc2e7c
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 4d5c94a
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.409
  k8s/media/sonarr/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 8073017
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to f09e5f4
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

feat: add lidarr
  k8s/bootstrap/app-of-apps/values.yaml
  k8s/media/lidarr/Chart.yaml
  k8s/media/lidarr/secrets.yaml
  k8s/media/lidarr/templates/pvc.yaml
  k8s/media/lidarr/templates/volsync.yaml
  k8s/media/lidarr/values.yaml
Labels: area/k8s

fix: add lidarr to unpackerr
  k8s/media/unpackerr/secrets.yaml
  k8s/media/unpackerr/templates/configmap.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 764ff79
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/onedr0p/sabnzbd to 39222df
  k8s/media/sabnzbd/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/onedr0p/sabnzbd to c493413
  k8s/media/sabnzbd/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.411
  k8s/media/sonarr/values.yaml
Labels: area/k8s

fix(container): update image quay.io/minio/minio to release.2023-03-22t06-36-24z
  k8s/archive/minio/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.412
  k8s/media/sonarr/values.yaml
Labels: area/k8s

fix(container): update image homeassistant/home-assistant to v2023.3.6
  k8s/automation/home-assistant/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to bb2ea37
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

feat(github-action): update actions/checkout action to v3.5.0
  .github/workflows/publish-cloudflare-networks.yaml
  .github/workflows/renovate.yaml
  .github/workflows/sync-labels.yaml
Labels: area/github

chore(container): update image ghcr.io/authelia/authelia to 0ff84ce
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to c74500f
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/wakeful-cloud/yarr to 1843890
  k8s/selfhosted/yarr/values.yaml
Labels: area/k8s

fix(github-action): update renovatebot/github-action action to v36.0.2
  .github/workflows/renovate.yaml
Labels: area/github
