Repository mfin/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/k8s, area/hack, area/terraform

fix(helm): update chart cilium to 1.15.3
  k8s/networking/cilium/Chart.yaml
Labels: area/k8s

feat(container): update image ghcr.io/mfin/argocd to v2.10.6
  k8s/bootstrap/argocd/values.yaml
Labels: area/k8s

feat(helm): update chart argo-cd to 5.55.0
  k8s/bootstrap/argocd/Chart.yaml
Labels: area/k8s

feat(helm): update chart ingress-nginx to 4.10.0
  k8s/networking/nginx-external/Chart.yaml
  k8s/networking/nginx-internal/Chart.yaml
Labels: area/k8s

feat(helm): update chart kube-prometheus-stack to 56.21.4
  k8s/monitoring/kube-prometheus-stack/Chart.yaml
Labels: area/k8s

feat(helm)!: Update chart kube-prometheus-stack to 58.0.0
  k8s/monitoring/kube-prometheus-stack/Chart.yaml
Labels: area/k8s

chore(container): update image ghcr.io/mfin/argocd to 57949ef
  k8s/bootstrap/argocd/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/mfin/n8n to cf593a9
  k8s/automation/n8n/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/mfin/postgres-minio-backup to 4d63116
  k8s/automation/n8n/templates/backup.yaml
  k8s/automation/nocodb/templates/backup.yaml
  k8s/selfhosted/miniflux/templates/backup.yaml
Labels: area/k8s

chore(container): update image ghcr.io/mfin/postgres-minio-restore to 3c20542
  .taskfiles/postgres/templates/RestoreJob.tmpl.yaml
Labels: none

fix: update registry for unpackerr
  k8s/media/unpackerr/values.yaml
Labels: area/k8s

Update values.yaml
  k8s/automation/n8n/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/mfin/n8n to cf593a9
  k8s/automation/n8n/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/mfin/n8n to bdf493c
  k8s/automation/n8n/values.yaml
Labels: area/k8s

fix(github-release): update k3s-io/k3s to v1.29.3+k3s1
  ansible/k3s/inventory/group_vars/all/k3s.yaml
Labels: area/ansible

fix(github-release): update kubernetes/kubernetes to v1.29.3
  .taskfiles/k8s/scripts/kubeconform.sh
Labels: none

fix(terraform): update terraform http to 3.4.2
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: area/terraform

feat(ansible): update community.general to 8.5.0
  ansible/requirements.yaml
Labels: area/ansible

feat(github-release): update hashicorp/terraform to 1.8.0
  terraform/cloudflare/.terraform-version
  terraform/unifi/.terraform-version
Labels: area/terraform

feat(github-action)!: Update peter-evans/create-pull-request action to v6.0.2
  .github/workflows/publish-cloudflare-networks.yaml
Labels: area/github

chore(container): update image ghcr.io/mfin/argocd to 40d3635
  k8s/bootstrap/argocd/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/mfin/n8n to e7d5418
  k8s/automation/n8n/values.yaml
Labels: area/k8s

fix: remove goldilocks and readarr
  k8s/bootstrap/app-of-apps/values.yaml
Labels: area/k8s

fix: remove source as well
  k8s/media/readarr/Chart.yaml
  k8s/media/readarr/secrets.yaml
  k8s/media/readarr/templates/pvc.yaml
  k8s/media/readarr/templates/volsync.yaml
  k8s/media/readarr/values.yaml
  k8s/monitoring/goldilocks/Chart.yaml
  k8s/monitoring/goldilocks/secrets.yaml
  k8s/monitoring/goldilocks/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/mfin/postgres-minio-backup to 5410ff3
  k8s/automation/n8n/templates/backup.yaml
  k8s/automation/nocodb/templates/backup.yaml
  k8s/selfhosted/miniflux/templates/backup.yaml
Labels: area/k8s

chore(container): update image ghcr.io/mfin/postgres-minio-restore to 4426e09
  .taskfiles/postgres/templates/RestoreJob.tmpl.yaml
Labels: none

feat(container): update image gotenberg/gotenberg to v8.4.0
  k8s/automation/gotenberg/values.yaml
Labels: area/k8s

fix(helm): update chart kube-prometheus-stack to 58.0.1
  k8s/monitoring/kube-prometheus-stack/Chart.yaml
Labels: area/k8s

feat(helm): update chart prometheus-blackbox-exporter to 8.15.0
  k8s/monitoring/blackbox-exporter/Chart.yaml
Labels: area/k8s

fix(container): update image ghcr.io/taxel/plextraktsync to v0.29.14
  k8s/media/plex-trakt-sync/templates/cronjob.yaml
  k8s/media/plex-trakt-sync/values.yaml
Labels: area/k8s

fix(github-action): update renovatebot/github-action action to v40.1.9
  .github/workflows/renovate.yaml
Labels: area/github

fix(helm): update chart cilium to 1.15.4
  k8s/networking/cilium/Chart.yaml
Labels: area/k8s

fix(github-action): update peter-evans/create-pull-request action to v6.0.3
  .github/workflows/publish-cloudflare-networks.yaml
Labels: area/github

fix: remove pairdrop
  k8s/selfhosted/pairdrop/Chart.yaml
  k8s/selfhosted/pairdrop/secrets.yaml
  k8s/selfhosted/pairdrop/templates/pvc.yaml
  k8s/selfhosted/pairdrop/templates/volsync.yaml
  k8s/selfhosted/pairdrop/values.yaml
  k8s/selfhosted/static/values.yaml
Labels: area/k8s

chore(container): update image nginx to 9ff236e
  k8s/selfhosted/static/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/onedr0p/sabnzbd to da0b03d
  k8s/media/sabnzbd/values.yaml
Labels: area/k8s

fix(container): update image docker.io/caronc/apprise to v1.1.2
  k8s/automation/apprise-api/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/lidarr-develop to v2.2.5.4141
  k8s/media/lidarr/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/radarr-develop to v5.4.6.8723
  k8s/media/radarr-4k/values.yaml
  k8s/media/radarr/values.yaml
Labels: area/k8s

fix(helm): update chart grafana to 7.3.8
  k8s/monitoring/grafana/Chart.yaml
Labels: area/k8s

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
    - any-glob-to-any-file: "ansible/**/*"
area/github:
  - changed-files:
    - any-glob-to-any-file: ".github/**/*"
area/k8s:
  - changed-files:
    - any-glob-to-any-file: "k8s/**/*"
area/hack:
  - changed-files:
    - any-glob-to-any-file: "hack/**/*"
area/terraform:
  - changed-files:
    - any-glob-to-any-file: "terraform/**/*"
