Repository mfin/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/k8s, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
    - any-glob-to-any-file: "ansible/**/*"
area/github:
  - changed-files:
    - any-glob-to-any-file: ".github/**/*"
area/k8s:
  - changed-files:
    - any-glob-to-any-file: "k8s/**/*"
area/hack:
  - changed-files:
    - any-glob-to-any-file: "hack/**/*"
area/terraform:
  - changed-files:
    - any-glob-to-any-file: "terraform/**/*"

chore(container): update image nginx to 25dfd56
  k8s/selfhosted/static/values.yaml
Labels: area/k8s

chore(container): update image nginx to 6db391d
  k8s/selfhosted/static/values.yaml
Labels: area/k8s

fix(github-action): update renovatebot/github-action action to v40.1.5
  .github/workflows/renovate.yaml
Labels: area/github

chore(container): update image ghcr.io/bjw-s/calibre-web to 9aef000
  k8s/media/calibre-web/values.yaml
Labels: area/k8s

feat: add script to delete all jobs
  .taskfiles/k8s/Taskfile.yaml
  .taskfiles/k8s/scripts/delete-jobs.sh
Labels: none

fix: turn off snmp-exporter
  k8s/monitoring/snmp-exporter/values.yaml
Labels: area/k8s

fix(github-action): update peter-evans/create-pull-request action to v5.0.3
  .github/workflows/publish-cloudflare-networks.yaml
Labels: area/github

fix(container): update image ghcr.io/miniflux/miniflux to v2.1.1
  k8s/selfhosted/miniflux/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/lidarr-develop to v2.2.3.4098
  k8s/media/lidarr/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/plex to v1.40.1.8227-c0dd5a73e
  k8s/media/plex/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.14.3.4333
  k8s/media/prowlarr/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/radarr-develop to v5.4.3.8677
  k8s/media/radarr-4k/values.yaml
  k8s/media/radarr/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/readarr-develop to v0.3.20.2452
  k8s/media/readarr/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/sabnzbd to v4.2.3
  k8s/media/sabnzbd/values.yaml
Labels: area/k8s

fix(container): update image gotenberg/gotenberg to v8.2.2
  k8s/automation/gotenberg/values.yaml
Labels: area/k8s

fix(helm): update chart reloader to 1.0.71
  k8s/system/reloader/Chart.yaml
Labels: area/k8s

feat(container): update image cloudflare/cloudflared to v2024.3.0
  k8s/networking/cloudflared/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.2.1367
  k8s/media/sonarr/values.yaml
Labels: area/k8s

feat(container): update image ghcr.io/paperless-ngx/paperless-ngx to v2.6.3
  k8s/selfhosted/paperless-ngx/values.yaml
Labels: area/k8s

chore(container): update image linuxserver/pairdrop to a1bbd47
  k8s/selfhosted/pairdrop/values.yaml
Labels: area/k8s

fix(github-action): update renovatebot/github-action action to v40.1.6
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-action): update renovatebot/github-action action to v40.1.7
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update image ghcr.io/flaresolverr/flaresolverr to v3.3.16
  k8s/automation/flaresolverr/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/qbittorrent to v4.6.4
  k8s/media/qbittorrent/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/readarr-develop to v0.3.21.2475
  k8s/media/readarr/values.yaml
Labels: area/k8s

fix(container): update image nocodb/nocodb to v0.204.9
  k8s/automation/nocodb/values.yaml
Labels: area/k8s

fix(github-release): update hashicorp/terraform to 1.7.5
  terraform/cloudflare/.terraform-version
  terraform/unifi/.terraform-version
Labels: area/terraform

fix(github-release): update k3s-io/k3s to v1.29.3+k3s1
  ansible/k3s/inventory/group_vars/all/k3s.yaml
Labels: area/ansible

fix(github-release): update kubernetes/kubernetes to v1.29.3
  .taskfiles/k8s/scripts/kubeconform.sh
Labels: none

fix(helm): update chart cert-manager to v1.14.4
  k8s/networking/cert-manager/Chart.yaml
Labels: area/k8s

fix(helm): update chart cilium to 1.15.3
  k8s/networking/cilium/Chart.yaml
Labels: area/k8s

fix(helm): update chart democratic-csi to 0.14.6
  k8s/storage/democratic-csi-local/Chart.yaml
Labels: area/k8s

fix(helm): update chart grafana to 7.3.7
  k8s/monitoring/grafana/Chart.yaml
Labels: area/k8s

fix(helm): update chart node-feature-discovery to 0.15.3
  k8s/system/node-feature-discovery/Chart.yaml
Labels: area/k8s

fix(helm): update chart reflector to 7.1.262
  k8s/system/reflector/Chart.yaml
Labels: area/k8s

fix(helm): update chart reloader to 1.0.72
  k8s/system/reloader/Chart.yaml
Labels: area/k8s

fix(helm): update chart vpa to 4.4.5
  k8s/system/vpa/Chart.yaml
Labels: area/k8s

fix(terraform): update terraform http to 3.4.2
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: area/terraform

feat(ansible): update community.general to 8.5.0
  ansible/requirements.yaml
Labels: area/ansible

feat(container): update image docker.io/caronc/apprise to v0.10.0
  k8s/automation/apprise-api/values.yaml
Labels: area/k8s
