Repository mfin/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/k8s, area/hack, area/terraform

feat(container): update image ghcr.io/onedr0p/filebrowser to v2.25.0
  k8s/media/filebrowser/values.yaml
Labels: area/k8s

feat(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.9.1.3981
  k8s/media/prowlarr/values.yaml
Labels: area/k8s

feat(container): update image ghcr.io/unpoller/unpoller to v2.9.2
  k8s/monitoring/unpoller/values.yaml
Labels: area/k8s

feat(container): update image intel/intel-gpu-plugin to v0.28.0
  k8s/system/intel-device-plugins-gpu/templates/gpudeviceplugin.yaml
Labels: area/k8s

feat(container): update image quay.io/minio/minio to release.2023-09-23t03-47-50z
  k8s/archive/minio/values.yaml
Labels: area/k8s

feat(helm): update chart cert-manager to v1.13.0
  k8s/networking/cert-manager/Chart.yaml
Labels: area/k8s

feat(helm): update chart goldilocks to 7.2.0
  k8s/monitoring/goldilocks/Chart.yaml
Labels: area/k8s

feat(helm): update chart grafana to 6.60.1
  k8s/monitoring/grafana/Chart.yaml
Labels: area/k8s

feat(helm): update chart loki to 5.23.0
  k8s/monitoring/loki/Chart.yaml
Labels: area/k8s

feat(helm): update chart node-feature-discovery to 0.14.1
  k8s/system/node-feature-discovery/Chart.yaml
Labels: area/k8s

feat(helm): update chart reflector to 7.1.203
  k8s/system/reflector/Chart.yaml
Labels: area/k8s

feat(helm): update chart snapshot-controller to 1.9.1
  k8s/storage/snapshot-controller/Chart.yaml
Labels: area/k8s

feat(helm): update chart snapshot-validation-webhook to 1.8.1
  k8s/storage/snapshot-validation-webhook/Chart.yaml
Labels: area/k8s

feat(github-action)!: Update tibdex/github-app-token action to v2.1.0
  .github/workflows/labeler.yaml
  .github/workflows/publish-cloudflare-networks.yaml
  .github/workflows/renovate.yaml
  .github/workflows/sync-labels.yaml
Labels: area/github

feat(helm)!: Update chart kube-prometheus-stack to 51.2.0
  k8s/monitoring/kube-prometheus-stack/Chart.yaml
Labels: area/k8s

feat(helm)!: Update chart vpa to 3.0.1
  k8s/system/vpa/Chart.yaml
Labels: area/k8s

feat(terraform)!: Update Terraform sops to 1.0.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
  terraform/unifi/.terraform.lock.hcl
  terraform/unifi/main.tf
Labels: area/terraform

fix: remove authelia from filebrowser
  k8s/media/filebrowser/values.yaml
Labels: area/k8s

Revert "fix: remove authelia from filebrowser"
  k8s/media/filebrowser/values.yaml
Labels: area/k8s

fix: update dependant image
  k8s/system/intel-device-plugins-gpu/templates/gpudeviceplugin.yaml
Labels: area/k8s

chore(container): update image ghcr.io/mfin/n8n to f715900
  k8s/automation/n8n/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 3070c46
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 3e9068b
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/cross-seed/cross-seed to 13a9802
  k8s/media/cross-seed/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 581ae85
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to ff645e3
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 110425c
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to a970541
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 2eaa17d
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 546fa87
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 7aa0927
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to bbb33ef
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/mfin/postgres-minio-backup to 90ca464
  k8s/automation/n8n/templates/backup.yaml
  k8s/automation/nocodb/templates/backup.yaml
  k8s/selfhosted/miniflux/templates/backup.yaml
Labels: area/k8s

chore(container): update image ghcr.io/mfin/postgres-minio-restore to f537dd6
  .taskfiles/postgres/templates/RestoreJob.tmpl.yaml
Labels: none

chore(container): update image ghcr.io/authelia/authelia to a572d7e
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/wakeful-cloud/yarr to 65c3078
  k8s/archive/yarr/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to e9f4121
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to e67519a
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 6aa50cc
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 0d1e13c
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/k8s:
  - "k8s/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
