Repository mfin/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/k8s, area/hack, area/terraform

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.500
  k8s/media/sonarr/values.yaml
Labels: area/k8s

fix(helm): update chart actions-runner-controller to 0.23.3
  k8s/system/actions-runner-controller/Chart.yaml
Labels: area/k8s

fix(helm): update chart grafana to 6.56.4
  k8s/monitoring/grafana/Chart.yaml
Labels: area/k8s

fix(helm): update chart loki to 5.5.1
  k8s/monitoring/loki/Chart.yaml
Labels: area/k8s

fix(helm): update chart prometheus-smartctl-exporter to 0.4.3
  k8s/monitoring/smartctl-exporter/Chart.yaml
Labels: area/k8s

fix(helm): update chart promtail to 6.11.2
  k8s/monitoring/promtail/Chart.yaml
Labels: area/k8s

feat(container): update image ghcr.io/onedr0p/lidarr-develop to v1.2.0.3183
  k8s/media/lidarr/values.yaml
Labels: area/k8s

feat(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.5.0.3300
  k8s/media/prowlarr/values.yaml
Labels: area/k8s

feat(github-release): update rancher/system-upgrade-controller to v0.11.0
  k8s/archive/system-upgrade-controller/kustomization.yaml
Labels: area/k8s

feat(helm): update chart prometheus-blackbox-exporter to 7.8.0
  k8s/monitoring/blackbox-exporter/Chart.yaml
Labels: area/k8s

feat(github-action)!: Update renovatebot/github-action action to v37.0.0
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update image ghcr.io/koenkk/zigbee2mqtt to v1.30.4
  k8s/automation/zigbee2mqtt/values.yaml
Labels: area/k8s

fix(helm): update chart cert-manager to v1.11.2
  k8s/networking/cert-manager/Chart.yaml
Labels: area/k8s

fix(helm): update chart pod-gateway to 6.5.1
  k8s/networking/pod-gateway/Chart.yaml
Labels: area/k8s

feat(container): update image homeassistant/home-assistant to v2023.5.3
  k8s/automation/home-assistant/values.yaml
Labels: area/k8s

feat(helm): update chart argo-cd to 5.33.3
  k8s/bootstrap/argocd/Chart.yaml
Labels: area/k8s

feat(helm): update chart kube-prometheus-stack to 45.27.2
  k8s/monitoring/kube-prometheus-stack/Chart.yaml
Labels: area/k8s

feat(helm): update chart traefik to 22.3.0
  k8s/networking/traefik/Chart.yaml
Labels: area/k8s

feat(helm)!: Update chart traefik to 23.0.1
  k8s/networking/traefik/Chart.yaml
Labels: area/k8s

fix: add back cloudflared
  k8s/archive/cloudflared/secrets.yaml
  k8s/networking/cloudflared/Chart.yaml
  k8s/networking/cloudflared/secrets.yaml
  k8s/networking/cloudflared/templates/configmap.yaml
  k8s/networking/cloudflared/templates/dnsendpoint.yaml
  k8s/networking/cloudflared/templates/secret.yaml
  k8s/networking/cloudflared/values.yaml
Labels: area/k8s

fix: enable cloudflared
  k8s/bootstrap/app-of-apps/values.yaml
Labels: area/k8s

fix: update external-dns
  k8s/networking/external-dns/templates/crd.yaml
  k8s/networking/external-dns/values.yaml
Labels: area/k8s

fix: cloudflared config
  k8s/networking/cloudflared/templates/configmap.yaml
Labels: area/k8s

fix: structure
  k8s/networking/external-dns/crds/DNSEndpoint.yaml
Labels: area/k8s

fix: metrics for cloudflared
  k8s/networking/cloudflared/templates/configmap.yaml
Labels: area/k8s

fix: enable crd dns
  k8s/networking/external-dns/values.yaml
Labels: area/k8s

fix: switch navidrome to cloudflared
  k8s/media/navidrome/secrets.yaml
Labels: area/k8s

fix: remove no-verify
  k8s/networking/cloudflared/templates/configmap.yaml
Labels: area/k8s

fix: add origin server name
  k8s/networking/cloudflared/templates/configmap.yaml
Labels: area/k8s

feat(ansible): update community.general to 6.6.0
  ansible/requirements.yaml
Labels: area/ansible

feat(helm): update chart kube-prometheus-stack to 45.28.0
  k8s/monitoring/kube-prometheus-stack/Chart.yaml
Labels: area/k8s

feat(terraform): update terraform cloudflare to 4.5.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: area/terraform

feat(terraform): update terraform http to 3.3.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: area/terraform

fix: only allow local IPs
  k8s/networking/traefik/templates/mw-restrict-ips.yaml
Labels: area/k8s

fix: move to cloudflared
  k8s/automation/home-assistant/secrets.yaml
  k8s/bootstrap/argocd/secrets.yaml
  k8s/networking/external-services/secrets.yaml
  k8s/system/actions-runner-controller/secrets.yaml
Labels: area/k8s

fix: remove 443 from fw
  terraform/unifi/port_forward.tf
Labels: area/terraform

chore: tf pin
  terraform/cloudflare/.terraform.lock.hcl
Labels: area/terraform

feat(container): update image apache/tika to v2.8.0.0
  k8s/automation/tika/values.yaml
Labels: area/k8s

feat(github-release): update k3s-io/k3s to v1.27.1+k3s1
  ansible/k3s/inventory/group_vars/all/k3s.yaml
Labels: area/ansible

feat(ansible)!: Update community.general to 7.0.0
  ansible/requirements.yaml
Labels: area/ansible

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/k8s:
  - "k8s/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
