Repository mfin/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/k8s, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/k8s:
  - "k8s/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"

fix(helm): update chart promtail to 6.11.3
  k8s/monitoring/promtail/Chart.yaml
Labels: area/k8s

fix(helm): update chart reloader to 1.0.27
  k8s/system/reloader/Chart.yaml
Labels: area/k8s

feat(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.6.0.3527
  k8s/media/prowlarr/values.yaml
Labels: area/k8s

feat(helm): update chart external-dns to 1.13.0
  k8s/networking/external-dns/Chart.yaml
Labels: area/k8s

feat(helm): update chart intel-device-plugins-operator to 0.27.0
  k8s/system/intel-device-plugins-operator/Chart.yaml
Labels: area/k8s

feat(helm): update chart prometheus-blackbox-exporter to 7.10.0
  k8s/monitoring/blackbox-exporter/Chart.yaml
Labels: area/k8s

fix: ??
  k8s/networking/pod-gateway/secrets.yaml
  k8s/networking/pod-gateway/values.yaml
Labels: area/k8s

fix: ??
  k8s/networking/pod-gateway/secrets.yaml
Labels: area/k8s

fix: ??
  k8s/networking/pod-gateway/values.yaml
Labels: area/k8s

fix: ??
  k8s/networking/pod-gateway/secrets.yaml
  k8s/networking/pod-gateway/templates/secret.yaml
Labels: area/k8s

fix(container): update image ghcr.io/koenkk/zigbee2mqtt to v1.31.2
  k8s/automation/zigbee2mqtt/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/lidarr-develop to v1.2.4.3273
  k8s/media/lidarr/values.yaml
Labels: area/k8s

fix(github-release): update control-d-inc/ctrld to v1.2.1
  ansible/rpi/inventory/group_vars/all/ctrld.yaml
Labels: area/ansible

feat(container): update image homeassistant/home-assistant to v2023.6.1
  k8s/automation/home-assistant/values.yaml
Labels: area/k8s

fix: gpu plugin
  k8s/system/intel-device-plugins-gpu/templates/gpudeviceplugin.yaml
Labels: area/k8s

fix(helm): update chart reloader to 1.0.28
  k8s/system/reloader/Chart.yaml
Labels: area/k8s

feat(helm): update chart argo-cd to 5.36.1
  k8s/bootstrap/argocd/Chart.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.538
  k8s/media/sonarr/values.yaml
Labels: area/k8s

fix(helm): update chart grafana to 6.57.2
  k8s/monitoring/grafana/Chart.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/plex to v1.32.3.7192-7aa441827
  k8s/media/plex/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.539
  k8s/media/sonarr/values.yaml
Labels: area/k8s

fix(github-action): update peter-evans/create-pull-request action to v5.0.2
  .github/workflows/publish-cloudflare-networks.yaml
Labels: area/github

chore(container): update image ghcr.io/authelia/authelia to 82d296b
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 8c90398
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

fix(github-action): update renovatebot/github-action action to v38.1.4
  .github/workflows/renovate.yaml
Labels: area/github

chore(container): update image ghcr.io/authelia/authelia to 1ae3856
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/onedr0p/lidarr-develop to 112d905
  k8s/media/lidarr/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/onedr0p/readarr-develop to 02cd64a
  k8s/media/readarr/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/onedr0p/sabnzbd to 4bda9b9
  k8s/media/sabnzbd/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 4423cff
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to c36c287
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 37d4d94
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

feat(container): update image ghcr.io/autobrr/autobrr to v1.27.0
  k8s/media/autobrr/values.yaml
Labels: area/k8s

feat(container): update image ghcr.io/n8n-io/n8n to v0.233.0
  k8s/automation/n8n/values.yaml
Labels: area/k8s

feat: add postgres
  k8s/bootstrap/app-of-apps/values.yaml
  k8s/storage/postgres/Chart.yaml
  k8s/storage/postgres/secrets.yaml
  k8s/storage/postgres/templates/pvc.yaml
  k8s/storage/postgres/templates/secret.yaml
  k8s/storage/postgres/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 9ec88ac
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

fix(container): update image homeassistant/home-assistant to v2023.6.2
  k8s/automation/home-assistant/values.yaml
Labels: area/k8s

wip: add miniflux
  k8s/selfhosted/miniflux/Chart.yaml
  k8s/selfhosted/miniflux/secrets.yaml
  k8s/selfhosted/miniflux/templates/secret.yaml
  k8s/selfhosted/miniflux/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to a050c02
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 62d260e
  k8s/authentication/authelia/values.yaml
Labels: area/k8s
