Repository mfin/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/k8s, area/hack, area/terraform

chore(container): update image ghcr.io/authelia/authelia to 7de585b
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 5d88ea7
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 717e455
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/recyclarr/recyclarr to 50e93d8
  k8s/media/recyclarr/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to c40b2e8
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/n8n-io/n8n to v0.233.1
  k8s/automation/n8n/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/lidarr-develop to v1.2.5.3288
  k8s/media/lidarr/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/plex to v1.32.4.7195-7c8f9d3b6
  k8s/media/plex/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.6.1.3564
  k8s/media/prowlarr/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/qbittorrent to v4.5.4
  k8s/media/qbittorrent/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/radarr-develop to v4.6.2.7490
  k8s/media/radarr-4k/values.yaml
  k8s/media/radarr/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/readarr-develop to v0.1.9.1905
  k8s/media/readarr/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/paperless-ngx/paperless-ngx to v1.16.2
  k8s/selfhosted/paperless-ngx/values.yaml
Labels: area/k8s

fix(container): update image quay.io/minio/minio to release.2023-06-19t19-52-50z
  k8s/archive/minio/values.yaml
Labels: area/k8s

fix(container): update image thelounge/thelounge to v4.4.1
  k8s/selfhosted/thelounge/values.yaml
Labels: area/k8s

fix(github-release): update kubernetes/kubernetes to v1.27.3
  .taskfiles/k8s/scripts/kubeconform.sh
  k8s/bootstrap/argocd/values.yaml
Labels: area/k8s

fix(helm): update chart argo-cd to 5.36.3
  k8s/bootstrap/argocd/Chart.yaml
Labels: area/k8s

fix(helm): update chart cert-manager to v1.12.2
  k8s/networking/cert-manager/Chart.yaml
Labels: area/k8s

fix(helm): update chart grafana to 6.57.3
  k8s/monitoring/grafana/Chart.yaml
Labels: area/k8s

feat(container): update image ghcr.io/coder/code-server to v4.14.0
  k8s/automation/home-assistant/values.yaml
Labels: area/k8s

fix: remove yarr
  k8s/archive/yarr/Chart.yaml
  k8s/archive/yarr/secrets.yaml
  k8s/archive/yarr/templates/pvc.yaml
  k8s/archive/yarr/templates/volsync.yaml
  k8s/archive/yarr/values.yaml
  k8s/bootstrap/app-of-apps/values.yaml
Labels: area/k8s

fix(container): update image cloudflare/cloudflared to v2023.6.1
  k8s/networking/cloudflared/values.yaml
Labels: area/k8s

feat: add pg backup to minio
  k8s/selfhosted/miniflux/secrets.yaml
  k8s/selfhosted/miniflux/templates/backup.yaml
  k8s/selfhosted/miniflux/templates/secret.yaml
Labels: area/k8s

fix: image tag
  k8s/selfhosted/miniflux/templates/backup.yaml
Labels: area/k8s

fix: tag
  k8s/selfhosted/miniflux/templates/backup.yaml
Labels: area/k8s

fix: tag
  k8s/selfhosted/miniflux/templates/backup.yaml
Labels: area/k8s

fix: secretRef
  k8s/selfhosted/miniflux/templates/backup.yaml
Labels: area/k8s

fix: tag
  k8s/selfhosted/miniflux/templates/backup.yaml
Labels: area/k8s

fix: schedule
  k8s/selfhosted/miniflux/templates/backup.yaml
Labels: area/k8s

fix: try this
  .github/renovate.json5
  .taskfiles/postgres/Taskfile.yaml
Labels: area/github

chore(container): update image ghcr.io/authelia/authelia to ba16775
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

feat(container): update image curlimages/curl to v7.88.1
  k8s/archive/nextdns-ip/templates/cronjob.yaml
Labels: area/k8s

feat(container): update image ghcr.io/taxel/plextraktsync to v0.26.5
  k8s/media/plex-trakt-sync/templates/cronjob.yaml
Labels: area/k8s

feat(container)!: Update image curlimages/curl to v8
  k8s/archive/nextdns-ip/templates/cronjob.yaml
Labels: area/k8s

feat: init postgres restore task
  .github/renovate.json5
  .taskfiles/postgres/Taskfile.yaml
  .taskfiles/postgres/templates/RestoreJob.tmpl.yaml
  Taskfile.yaml
Labels: area/github

chore(container): update image ghcr.io/onedr0p/alpine to 23ca8ff
  .taskfiles/volumes/templates/WipeJob.tmpl.yaml
Labels: none

chore(container): update image ghcr.io/mfin/postgres-minio-restore to 2d169d4
  .taskfiles/postgres/templates/RestoreJob.tmpl.yaml
Labels: none

fix(helm): update chart loki to 5.8.1
  k8s/monitoring/loki/Chart.yaml
Labels: area/k8s

feat(container): update image docker.io/restic/restic to v0.15.2
  .taskfiles/volumes/templates/ListJob.tmpl.yaml
Labels: none

feat(container): update image ghcr.io/onedr0p/alpine to v3.18.2
  .taskfiles/volumes/templates/WipeJob.tmpl.yaml
Labels: none

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/k8s:
  - "k8s/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
