Repository mfin/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/k8s, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/k8s:
  - "k8s/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"

fix:whitelist
  .github/scripts/cloudflare-networks.sh
  k8s/networking/nginx-external/values.yaml
Labels: area/github, area/k8s

fix: no need for whitelist
  k8s/networking/nginx-external/values.yaml
Labels: area/k8s

fix: some ingress updates
  k8s/media/audiobookshelf/secrets.yaml
  k8s/media/audiobookshelf/values.yaml
  k8s/networking/cloudflared/templates/configmap.yaml
Labels: area/k8s

fix: some ingress updates
  k8s/automation/n8n/secrets.yaml
  k8s/automation/n8n/templates/ingress.yaml
  k8s/media/navidrome/secrets.yaml
  k8s/media/navidrome/values.yaml
  k8s/networking/external-services/secrets.yaml
  k8s/networking/external-services/templates/drive.yaml
  k8s/networking/external-services/templates/photos.yaml
  k8s/selfhosted/miniflux/secrets.yaml
  k8s/selfhosted/miniflux/values.yaml
Labels: area/k8s

fix: some ingress updates
  k8s/networking/external-services/templates/drive.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.720
  k8s/media/sonarr/values.yaml
Labels: area/k8s

fix: some ingress updates
  k8s/networking/external-services/templates/drive.yaml
Labels: area/k8s

fix: some ingress updates
  k8s/networking/external-services/templates/drive.yaml
  k8s/networking/external-services/templates/minio.yaml
  k8s/networking/external-services/templates/photos.yaml
Labels: area/k8s

fix: some ingress updates
  k8s/networking/external-services/templates/minio.yaml
Labels: area/k8s

fix: some ingress updates
  k8s/bootstrap/argocd/templates/webhooks.yaml
  k8s/bootstrap/argocd/values.yaml
  k8s/networking/cloudflared/secrets.yaml
  k8s/networking/cloudflared/templates/configmap.yaml
  k8s/networking/cloudflared/templates/dnsendpoint_new.yaml
Labels: area/k8s

fix: some ingress updates
  k8s/bootstrap/argocd/secrets.yaml
Labels: area/k8s

fix: some ingress updates
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

fix: some ingress updates
  k8s/automation/apprise-api/secrets.yaml
  k8s/automation/apprise-api/values.yaml
Labels: area/k8s

fix: some ingress updates
  k8s/automation/flaresolverr/values.yaml
  k8s/automation/ha-config/secrets.yaml
  k8s/automation/ha-config/values.yaml
  k8s/automation/n8n/secrets.yaml
  k8s/automation/n8n/values.yaml
  k8s/automation/nocodb/values.yaml
Labels: area/k8s

chore(github-action): update cloudflare networks
  k8s/networking/nginx-external/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 583b88b
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/radarr-develop to v5.1.3.8246
  k8s/media/radarr-4k/values.yaml
  k8s/media/radarr/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.10.2.4064
  k8s/media/prowlarr/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to b268ba8
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

fix: some ingress updates
  k8s/media/autobrr/values.yaml
  k8s/media/bazarr/secrets.yaml
  k8s/media/bazarr/values.yaml
  k8s/media/filebrowser/secrets.yaml
  k8s/media/filebrowser/values.yaml
  k8s/media/lidarr/secrets.yaml
  k8s/media/lidarr/values.yaml
  k8s/media/overseerr/values.yaml
  k8s/media/plex/values.yaml
  k8s/media/prowlarr/secrets.yaml
  k8s/media/prowlarr/values.yaml
  k8s/media/qbittorrent/secrets.yaml
  k8s/media/qbittorrent/values.yaml
  k8s/media/radarr-4k/secrets.yaml
  k8s/media/radarr-4k/values.yaml
  k8s/media/radarr/secrets.yaml
  k8s/media/radarr/values.yaml
  k8s/media/readarr/secrets.yaml
  k8s/media/readarr/values.yaml
  k8s/media/sabnzbd/secrets.yaml
  k8s/media/sabnzbd/values.yaml
  k8s/media/sonarr/secrets.yaml
  k8s/media/sonarr/values.yaml
  k8s/media/tautulli/values.yaml
  k8s/media/xteve/secrets.yaml
  k8s/media/xteve/values.yaml
Labels: area/k8s

fix: some ingress updates
  k8s/monitoring/blackbox-exporter/secrets.yaml
  k8s/monitoring/blackbox-exporter/values.yaml
  k8s/monitoring/goldilocks/secrets.yaml
  k8s/monitoring/goldilocks/values.yaml
  k8s/monitoring/grafana/values.yaml
  k8s/monitoring/kube-prometheus-stack/secrets.yaml
  k8s/monitoring/kube-prometheus-stack/values.yaml
  k8s/monitoring/loki/Chart.yaml
  k8s/monitoring/loki/secrets.yaml
  k8s/monitoring/loki/templates/configmap.yaml
  k8s/monitoring/loki/values.yaml
  k8s/monitoring/promtail/Chart.yaml
  k8s/monitoring/promtail/values.yaml
  k8s/selfhosted/hajimari/secrets.yaml
  k8s/selfhosted/hajimari/values.yaml
  k8s/selfhosted/homebox/values.yaml
  k8s/selfhosted/mailrise/values.yaml
  k8s/selfhosted/paperless-ngx/secrets.yaml
  k8s/selfhosted/paperless-ngx/values.yaml
  k8s/selfhosted/thelounge/values.yaml
  k8s/selfhosted/whoami/values.yaml
Labels: area/k8s

fix: some ingress updates
  k8s/monitoring/goldilocks/values.yaml
Labels: area/k8s

fix: some ingress updates
  k8s/automation/zigbee2mqtt/secrets.yaml
  k8s/automation/zigbee2mqtt/values.yaml
  k8s/monitoring/kube-prometheus-stack/secrets.yaml
  k8s/monitoring/kube-prometheus-stack/templates/ingress.yaml
  k8s/networking/cilium/secrets.yaml
  k8s/networking/cilium/values.yaml
Labels: area/k8s

fix: some ingress updates
  k8s/selfhosted/paperless-ngx/secrets.yaml
Labels: area/k8s

fix: remove traefik
  k8s/bootstrap/app-of-apps/values.yaml
Labels: area/k8s

fix: remove traefik resources
  k8s/bootstrap/argocd/values.yaml
  k8s/networking/external-services/templates/serverstransport.yaml
  k8s/networking/k8s-gateway/templates/rbac.yaml
  k8s/networking/traefik/Chart.yaml
  k8s/networking/traefik/secrets.yaml
  k8s/networking/traefik/templates/dashboard.yaml
  k8s/networking/traefik/templates/mw-authelia.yaml
  k8s/networking/traefik/templates/mw-local-ips.yaml
  k8s/networking/traefik/templates/mw-nas-ip.yaml
  k8s/networking/traefik/templates/mw-restrict-ips.yaml
  k8s/networking/traefik/templates/mw-webhooks.yaml
  k8s/networking/traefik/templates/tlsstore.yaml
  k8s/networking/traefik/values.yaml
  k8s/selfhosted/mailrise/templates/ingressroutetcp.yaml
Labels: area/k8s

fix: readble log line
  k8s/networking/nginx-external/values.yaml
Labels: area/k8s

fix: resolved IP
  k8s/monitoring/blackbox-exporter/secrets.yaml
Labels: area/k8s

fix: dns-external
  k8s/bootstrap/app-of-apps/values.yaml
  k8s/networking/dns-external/Chart.yaml
  k8s/networking/dns-external/crds/DNSEndpoint.yaml
  k8s/networking/dns-external/secrets.yaml
  k8s/networking/dns-external/templates/secret.yaml
  k8s/networking/dns-external/values.yaml
Labels: area/k8s

fix: dns-external fullnameOverride
  k8s/networking/dns-external/values.yaml
Labels: area/k8s

feat: add dns-internal
  k8s/bootstrap/app-of-apps/values.yaml
  k8s/networking/dns-internal/Chart.yaml
  k8s/networking/dns-internal/secrets.yaml
  k8s/networking/dns-internal/templates/secret.yaml
  k8s/networking/dns-internal/values.yaml
Labels: area/k8s

feat: fix port
  k8s/networking/dns-internal/values.yaml
Labels: area/k8s

feat: fix dns
  k8s/networking/nginx-external/values.yaml
Labels: area/k8s

feat: fix dns
  k8s/networking/nginx-external/secrets.yaml
  k8s/networking/nginx-external/values.yaml
Labels: area/k8s

feat: fix dns
  k8s/networking/dns-internal/templates/secret.yaml
  k8s/networking/dns-internal/values.yaml
Labels: area/k8s

feat: replace coredns with bind9
  ansible/rpi/inventory/group_vars/all/bind9.sops.yaml
  ansible/rpi/inventory/group_vars/all/coredns.yaml
  ansible/rpi/inventory/group_vars/all/ctrld.sops.yaml
  ansible/rpi/inventory/group_vars/all/ctrld.yaml
  ansible/rpi/inventory/group_vars/all/home.sops.yaml
  ansible/rpi/inventory/group_vars/all/homelab.sops.yaml
  ansible/rpi/inventory/group_vars/all/network.sops.yaml
  ansible/rpi/inventory/group_vars/all/secret.sops.yaml
  ansible/rpi/playbooks/all.yaml
  ansible/rpi/playbooks/bind9.yaml
  ansible/rpi/playbooks/coredns.yaml
  ansible/rpi/playbooks/roles/bind9/handlers/main.yaml
  ansible/rpi/playbooks/roles/bind9/tasks/main.yaml
  ansible/rpi/playbooks/roles/bind9/templates/homelab.j2
  ansible/rpi/playbooks/roles/bind9/templates/named.conf.local.j2
  ansible/rpi/playbooks/roles/bind9/templates/named.conf.options.j2
  ansible/rpi/playbooks/roles/bind9/templates/network.j2
  ansible/rpi/playbooks/roles/coredns/handlers/main.yaml
  ansible/rpi/playbooks/roles/coredns/tasks/main.yaml
  ansible/rpi/playbooks/roles/coredns/templates/Corefile.j2
  ansible/rpi/playbooks/roles/coredns/templates/coredns.service.j2
  ansible/rpi/playbooks/roles/coredns/templates/home.domain.j2
  ansible/rpi/playbooks/roles/ctrld/handlers/main.yaml
  ansible/rpi/playbooks/roles/ctrld/tasks/main.yaml
  ansible/rpi/playbooks/roles/ctrld/templates/config.toml.j2
  ansible/rpi/playbooks/roles/ctrld/templates/ctrld.service.j2
  ansible/rpi/playbooks/roles/nextdns/templates/nextdns.conf.j2
  ansible/rpi/playbooks/roles/prepare/tasks/main.yaml
  ansible/rpi/playbooks/roles/ufw/tasks/main.yaml
  k8s/networking/external-services/secrets.yaml
  k8s/networking/external-services/templates/coredns.yaml
Labels: area/ansible, area/k8s

fix: remove k8s_gateway
  k8s/bootstrap/app-of-apps/values.yaml
  k8s/networking/k8s-gateway/Chart.yaml
  k8s/networking/k8s-gateway/secrets.yaml
  k8s/networking/k8s-gateway/templates/configmap.yaml
  k8s/networking/k8s-gateway/templates/rbac.yaml
  k8s/networking/k8s-gateway/values.yaml
Labels: area/k8s

fix(ansible): update community.sops to 1.6.7
  ansible/requirements.yaml
Labels: area/ansible

feat(ansible): update community.general to 7.5.1
  ansible/requirements.yaml
Labels: area/ansible

feat(terraform): update terraform cloudflare to 4.18.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: area/terraform
