Repository mfin/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/k8s, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/k8s:
  - "k8s/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"

chore(container): update image ghcr.io/authelia/authelia to c568dd6
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.10.5.4116
  k8s/media/prowlarr/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 0848c0a
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 73292c1
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/mfin/n8n to aa9315a
  k8s/automation/n8n/values.yaml
Labels: area/k8s

fix(github-action): update renovatebot/github-action action to v39.1.4
  .github/workflows/renovate.yaml
Labels: area/github

chore(container): update image ghcr.io/authelia/authelia to f9a0871
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 3161f60
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 8914195
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to bc39755
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/qbittorrent to v4.6.2
  k8s/media/qbittorrent/values.yaml
Labels: area/k8s

feat(container): update image ghcr.io/advplyr/audiobookshelf to v2.6.0
  k8s/media/audiobookshelf/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 8ab4449
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to de49659
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 95beb3b
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 9f30460
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 9555341
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 0112825
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/cross-seed/cross-seed to v5.8.4
  k8s/media/cross-seed/values.yaml
Labels: area/k8s

fix(helm): update chart snapshot-controller to 2.0.3
  k8s/storage/snapshot-controller/Chart.yaml
Labels: area/k8s

feat(container): update image ghcr.io/onedr0p/bazarr to v1.4.0
  k8s/media/bazarr/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/coder/code-server to v4.19.1
  k8s/automation/ha-config/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 01626d0
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 481a023
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 74aff17
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/cross-seed/cross-seed to v5.8.5
  k8s/media/cross-seed/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 1d2d013
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

fix(container): update image nocodb/nocodb to v0.202.9
  k8s/automation/nocodb/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 4710ea3
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

fix: remove authentik ref
  k8s/selfhosted/whoami/secrets.yaml
  k8s/selfhosted/whoami/templates/authentik.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 32e0a72
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 1ef062d
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 5d6b4b9
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/bjw-s/calibre-web to 42ade66
  k8s/media/calibre-web/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/mfin/postgres-minio-backup to 0c3330d
  k8s/automation/n8n/templates/backup.yaml
  k8s/automation/nocodb/templates/backup.yaml
  k8s/selfhosted/miniflux/templates/backup.yaml
Labels: area/k8s

chore(container): update image ghcr.io/mfin/postgres-minio-restore to 3ff049c
  .taskfiles/postgres/templates/RestoreJob.tmpl.yaml
Labels: none

chore(container): update image ghcr.io/authelia/authelia to 528ab0f
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/alpine to v3.18.5
  .taskfiles/volumes/templates/WipeJob.tmpl.yaml
Labels: none

chore(container): update image ghcr.io/mfin/n8n to b53fd4b
  k8s/automation/n8n/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/bjw-s/calibre-web to f96f1a6
  k8s/media/calibre-web/values.yaml
Labels: area/k8s
