Repository mfin/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/k8s, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
    - any-glob-to-any-file: "ansible/**/*"
area/github:
  - changed-files:
    - any-glob-to-any-file: ".github/**/*"
area/k8s:
  - changed-files:
    - any-glob-to-any-file: "k8s/**/*"
area/hack:
  - changed-files:
    - any-glob-to-any-file: "hack/**/*"
area/terraform:
  - changed-files:
    - any-glob-to-any-file: "terraform/**/*"

fix: initImage
  k8s/system/intel-device-plugins-gpu/templates/gpudeviceplugin.yaml
Labels: area/k8s

chore(container): update image ghcr.io/mfin/n8n to a89689b
  k8s/automation/n8n/values.yaml
Labels: area/k8s

feat(helm)!: Update chart argo-cd to 7.1.1
  k8s/bootstrap/argocd/Chart.yaml
Labels: area/k8s

fix: ingress
  k8s/bootstrap/argocd/secrets.yaml
Labels: area/k8s

Renovate/argo-cd-7.x (#1486)
  k8s/bootstrap/argocd/secrets.yaml
Labels: area/k8s

fix: bool
  k8s/bootstrap/argocd/values.yaml
Labels: area/k8s

fix: image tag
  k8s/bootstrap/argocd/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/mfin/argocd to 1f2afc3
  k8s/bootstrap/argocd/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/mfin/n8n to 145f308
  k8s/automation/n8n/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/mfin/postgres-minio-backup to f8afcbf
  k8s/automation/n8n/templates/backup.yaml
  k8s/automation/nocodb/templates/backup.yaml
  k8s/selfhosted/miniflux/templates/backup.yaml
Labels: area/k8s

chore(container): update image ghcr.io/mfin/postgres-minio-restore to 0ffb23e
  .taskfiles/postgres/templates/RestoreJob.tmpl.yaml
Labels: none

Update Chart.yaml
  k8s/bootstrap/argocd/Chart.yaml
Labels: area/k8s

fix(helm): update chart ingress-nginx to 4.10.1
  k8s/networking/nginx-external/Chart.yaml
  k8s/networking/nginx-internal/Chart.yaml
  k8s/networking/nginx-media/Chart.yaml
Labels: area/k8s

fix(helm): update chart reloader to 1.0.105
  k8s/system/reloader/Chart.yaml
Labels: area/k8s

feat(container): update image cloudflare/cloudflared to v2024.6.0
  k8s/networking/cloudflared/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/onedr0p/lidarr-develop to 8061ccd
  k8s/media/lidarr/values.yaml
Labels: area/k8s

Update values.yaml
  k8s/automation/home-assistant/values.yaml
Labels: area/k8s

more fixes
  k8s/media/prowlarr/templates/namespace.yaml
  k8s/media/prowlarr/values.yaml
  k8s/media/qbittorrent/templates/namespace.yaml
  k8s/media/qbittorrent/values.yaml
  k8s/media/sabnzbd/templates/namespace.yaml
  k8s/media/sabnzbd/values.yaml
Labels: area/k8s

more fixes
  k8s/media/qbittorrent/secrets.yaml
  k8s/media/qbittorrent/values.yaml
Labels: area/k8s

more fixes
  k8s/media/qbittorrent/secrets.yaml
  k8s/media/qbittorrent/values.yaml
Labels: area/k8s

more fixes
  k8s/media/qbittorrent/secrets.yaml
  k8s/media/qbittorrent/values.yaml
Labels: area/k8s

more fixes
  k8s/automation/n8n/secrets.yaml
  k8s/automation/n8n/values.yaml
Labels: area/k8s

Update dns.yaml
  k8s/networking/external-services/templates/dns.yaml
Labels: area/k8s

feat: add z2m and emqx
  k8s/networking/external-services/secrets.yaml
  k8s/networking/external-services/templates/emqx.yaml
  k8s/networking/external-services/templates/z2m.yaml
Labels: area/k8s

fixes
  k8s/automation/home-assistant/secrets.yaml
  k8s/bootstrap/app-of-apps/values.yaml
  k8s/networking/external-services/secrets.yaml
  k8s/networking/external-services/templates/hass.yaml
Labels: area/k8s

remove z2m and mqtt
  k8s/automation/mosquitto/Chart.yaml
  k8s/automation/mosquitto/secrets.yaml
  k8s/automation/mosquitto/templates/configmap.yaml
  k8s/automation/mosquitto/templates/secret.yaml
  k8s/automation/mosquitto/values.yaml
  k8s/automation/zigbee2mqtt/Chart.yaml
  k8s/automation/zigbee2mqtt/secrets.yaml
  k8s/automation/zigbee2mqtt/templates/pvc.yaml
  k8s/automation/zigbee2mqtt/templates/secret.yaml
  k8s/automation/zigbee2mqtt/templates/volsync.yaml
  k8s/automation/zigbee2mqtt/values.yaml
Labels: area/k8s

internalize hass
  k8s/automation/home-assistant/secrets.yaml
  k8s/automation/home-assistant/values.yaml
Labels: area/k8s

node-exporter
  k8s/networking/external-services/secrets.yaml
  k8s/networking/external-services/templates/node-exporter.yaml
Labels: area/k8s

chore(container): update image ghcr.io/bjw-s/calibre-web to b02ff6d
  k8s/media/calibre-web/values.yaml
Labels: area/k8s

fix: update hass prometheus
  k8s/automation/home-assistant/secrets.yaml
  k8s/automation/home-assistant/templates/secret.yaml
  k8s/automation/home-assistant/values.yaml
  k8s/networking/external-services/secrets.yaml
  k8s/networking/external-services/templates/hass.yaml
Labels: area/k8s

fix(github-action): update actions/checkout action to v4.1.7
  .github/workflows/publish-cloudflare-networks.yaml
  .github/workflows/renovate.yaml
  .github/workflows/sync-labels.yaml
Labels: area/github

feat(github-action): update peter-evans/create-pull-request action to v6.1.0
  .github/workflows/publish-cloudflare-networks.yaml
Labels: area/github

feat(helm)!: Update chart kube-prometheus-stack to 60.5.0
  k8s/monitoring/kube-prometheus-stack/Chart.yaml
Labels: area/k8s

chore(container): update image ghcr.io/bjw-s/calibre-web to 9049b3a
  k8s/media/calibre-web/values.yaml
Labels: area/k8s

feat(container): update image ghcr.io/coder/code-server to v4.90.3
  k8s/automation/ha-config/values.yaml
Labels: area/k8s

feat(container): update image homeassistant/home-assistant to v2024.6.4
  k8s/automation/home-assistant/values.yaml
Labels: area/k8s

fix: remove HA
  k8s/bootstrap/app-of-apps/values.yaml
Labels: area/k8s

fix: remove HA
  k8s/automation/ha-config/Chart.yaml
  k8s/automation/ha-config/secrets.yaml
  k8s/automation/ha-config/values.yaml
  k8s/automation/home-assistant/Chart.yaml
  k8s/automation/home-assistant/secrets.yaml
  k8s/automation/home-assistant/templates/pvc.yaml
  k8s/automation/home-assistant/templates/volsync.yaml
  k8s/automation/home-assistant/values.yaml
Labels: area/k8s

feat(github-action): update renovatebot/github-action action to v40.2.0
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update image cloudflare/cloudflared to v2024.6.1
  k8s/networking/cloudflared/values.yaml
Labels: area/k8s
