Repository mfin/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/k8s, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
    - any-glob-to-any-file: "ansible/**/*"
area/github:
  - changed-files:
    - any-glob-to-any-file: ".github/**/*"
area/k8s:
  - changed-files:
    - any-glob-to-any-file: "k8s/**/*"
area/hack:
  - changed-files:
    - any-glob-to-any-file: "hack/**/*"
area/terraform:
  - changed-files:
    - any-glob-to-any-file: "terraform/**/*"

fix(container): update image docker.io/caronc/apprise to v1.1.4
  k8s/automation/apprise-api/values.yaml
Labels: area/k8s

fix(container): update image docker.io/restic/restic to v0.16.5
  .taskfiles/volumes/templates/ListJob.tmpl.yaml
Labels: none

fix(container): update image ghcr.io/flaresolverr/flaresolverr to v3.3.21
  k8s/automation/flaresolverr/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/jorenn92/maintainerr to v2.0.4
  k8s/media/maintainerr/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/mfin/argocd to v2.11.3
  k8s/bootstrap/argocd/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/plex to v1.40.3.8555-fef15d30c
  k8s/media/plex/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.5.1801
  k8s/media/sonarr/values.yaml
Labels: area/k8s

fix(helm): update chart cert-manager to v1.15.1
  k8s/networking/cert-manager/Chart.yaml
Labels: area/k8s

fix(helm): update chart cilium to 1.15.6
  k8s/networking/cilium/Chart.yaml
Labels: area/k8s

fix(helm): update chart external-dns to 1.14.5
  k8s/networking/dns-external/Chart.yaml
  k8s/networking/dns-internal/Chart.yaml
  k8s/networking/dns-media/Chart.yaml
Labels: area/k8s

fix(helm): update chart reloader to 1.0.115
  k8s/system/reloader/Chart.yaml
Labels: area/k8s

fix(terraform): update terraform http to 3.4.3
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: area/terraform

feat(ansible): update community.general to 8.6.2
  ansible/requirements.yaml
Labels: area/ansible

feat(ansible): update community.sops to 1.7.0
  ansible/requirements.yaml
Labels: area/ansible

feat(container): update image ghcr.io/autobrr/autobrr to v1.43.0
  k8s/media/autobrr/values.yaml
Labels: area/k8s

feat(container): update image ghcr.io/paperless-ngx/paperless-ngx to v2.10.2
  k8s/selfhosted/paperless-ngx/values.yaml
Labels: area/k8s

feat(container): update image ghcr.io/taxel/plextraktsync to v0.31.4
  k8s/media/plex-trakt-sync/templates/cronjob.yaml
  k8s/media/plex-trakt-sync/values.yaml
Labels: area/k8s

feat(container): update image gotenberg/gotenberg to v8.7.0
  k8s/automation/gotenberg/values.yaml
Labels: area/k8s

feat(container): update image nocodb/nocodb to v0.251.0
  k8s/automation/nocodb/values.yaml
Labels: area/k8s

feat(container): update image postgres to v15.7
  k8s/storage/postgres/values.yaml
Labels: area/k8s

feat(github-release): update hashicorp/terraform to 1.9.0
  terraform/cloudflare/.terraform-version
  terraform/unifi/.terraform-version
Labels: area/terraform

feat(github-release): update k3s-io/k3s to v1.30.2+k3s1
  ansible/k3s/inventory/group_vars/all/k3s.yaml
Labels: area/ansible

feat(github-release): update kubernetes/kubernetes to v1.30.2
  .taskfiles/k8s/scripts/kubeconform.sh
Labels: none

feat(helm): update chart argo-cd to 7.3.3
  k8s/bootstrap/argocd/Chart.yaml
Labels: area/k8s

feat(helm): update chart grafana to 8.2.2
  k8s/monitoring/grafana/Chart.yaml
Labels: area/k8s

feat(helm): update chart prometheus-smartctl-exporter to 0.10.0
  k8s/monitoring/smartctl-exporter/Chart.yaml
Labels: area/k8s

feat(helm): update chart prometheus-snmp-exporter to 5.5.0
  k8s/monitoring/snmp-exporter/Chart.yaml
Labels: area/k8s

feat(helm): update chart vpa to 4.5.0
  k8s/system/vpa/Chart.yaml
Labels: area/k8s

feat(terraform): update terraform cloudflare to 4.36.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: area/terraform

feat(ansible)!: Update community.general to 9.1.0
  ansible/requirements.yaml
Labels: area/ansible

feat(container)!: Update image ghcr.io/onedr0p/postgres-init to v16
  k8s/automation/n8n/values.yaml
  k8s/automation/nocodb/values.yaml
  k8s/selfhosted/miniflux/values.yaml
Labels: area/k8s

feat(container)!: Update image ghcr.io/recyclarr/recyclarr to v7
  k8s/media/recyclarr/values.yaml
Labels: area/k8s

feat(container)!: Update image postgres to v16
  k8s/storage/postgres/values.yaml
Labels: area/k8s

feat(helm)!: Update chart kube-prometheus-stack to 61.1.1
  k8s/monitoring/kube-prometheus-stack/Chart.yaml
Labels: area/k8s

feat(helm)!: Update chart snapshot-controller to 3.0.5
  k8s/storage/snapshot-controller/Chart.yaml
Labels: area/k8s

feat(container): update image ghcr.io/onedr0p/lidarr-develop to v2.4.1.4234
  k8s/media/lidarr/values.yaml
Labels: area/k8s

feat(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.20.0.4590
  k8s/media/prowlarr/values.yaml
Labels: area/k8s

feat(container): update image ghcr.io/onedr0p/radarr-develop to v5.8.0.8897
  k8s/media/radarr-4k/values.yaml
  k8s/media/radarr/values.yaml
Labels: area/k8s

feat: add node-red
  k8s/networking/external-services/secrets.yaml
  k8s/networking/external-services/templates/node-red.yaml
Labels: area/k8s

fix: ip
  k8s/networking/external-services/secrets.yaml
  k8s/networking/external-services/templates/node-red.yaml
Labels: area/k8s
