Repository mfin/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/k8s, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/k8s:
  - "k8s/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"

fix(helm): update chart loki to 5.5.4
  k8s/monitoring/loki/Chart.yaml
Labels: area/k8s

fix(helm): update chart reloader to v1.0.25
  k8s/system/reloader/Chart.yaml
Labels: area/k8s

feat(container): update image ghcr.io/flaresolverr/flaresolverr to v3.2.0
  k8s/automation/flaresolverr/values.yaml
Labels: area/k8s

feat(container): update image ghcr.io/n8n-io/n8n to v0.230.0
  k8s/automation/n8n/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/onedr0p/sabnzbd to a818edc
  k8s/media/sabnzbd/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 9705b92
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 2645860
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to f049503
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 0cbcc5a
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

feat(helm): update chart goldilocks to 6.6.0
  k8s/monitoring/goldilocks/Chart.yaml
Labels: area/k8s

feat(github-action): update renovatebot/github-action action to v37.1.0
  .github/workflows/renovate.yaml
Labels: area/github

fix: new package
  ansible/k3s/playbooks/requirements.yaml
  ansible/k3s/playbooks/roles/requirements/tasks/main.yaml
Labels: area/ansible

fix: try this
  k8s/media/radarr/values.yaml
Labels: area/k8s

fix: more
  k8s/media/lidarr/values.yaml
  k8s/media/radarr-4k/values.yaml
  k8s/media/sonarr/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/onedr0p/sabnzbd to 3d24a7e
  k8s/media/sabnzbd/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 4bf0947
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/n8n-io/n8n to v0.230.1
  k8s/automation/n8n/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.521
  k8s/media/sonarr/values.yaml
Labels: area/k8s

fix(helm): update chart cert-manager to v1.12.1
  k8s/networking/cert-manager/Chart.yaml
Labels: area/k8s

fix(helm): update chart prometheus-snmp-exporter to 1.4.1
  k8s/monitoring/snmp-exporter/Chart.yaml
Labels: area/k8s

feat(github-action)!: Update renovatebot/github-action action to v38.0.0
  .github/workflows/renovate.yaml
Labels: area/github

fix(helm): update chart grafana to 6.56.6
  k8s/monitoring/grafana/Chart.yaml
Labels: area/k8s

fix(helm): update chart loki to 5.5.7
  k8s/monitoring/loki/Chart.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 801b394
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

feat(github-action): update renovatebot/github-action action to v38.1.0
  .github/workflows/renovate.yaml
Labels: area/github

chore(container): update image ghcr.io/wakeful-cloud/yarr to 4eb7f82
  k8s/selfhosted/yarr/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to bffec1e
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 068e60d
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 593831b
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

feat: add StevenLu list
  k8s/media/omegabrr/templates/configmap.yaml
Labels: area/k8s

fix: reload
  k8s/media/omegabrr/values.yaml
Labels: area/k8s

fix: lists
  k8s/media/omegabrr/templates/configmap.yaml
Labels: area/k8s

feat: anticipated tv
  k8s/media/omegabrr/templates/configmap.yaml
Labels: area/k8s

fix: add popular tv
  k8s/media/omegabrr/templates/configmap.yaml
Labels: area/k8s

fix: add new albums
  k8s/media/omegabrr/templates/configmap.yaml
Labels: area/k8s

fix: indent
  k8s/media/omegabrr/templates/configmap.yaml
Labels: area/k8s

chore(container): update image ghcr.io/recyclarr/recyclarr to ba22494
  k8s/media/recyclarr/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 3a320da
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/advplyr/audiobookshelf to v2.2.21
  k8s/media/audiobookshelf/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/lidarr-develop to v1.2.2.3242
  k8s/media/lidarr/values.yaml
Labels: area/k8s
