Repository mfin/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/k8s, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/k8s:
  - "k8s/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"

fix: remove dedicated annotations
  k8s/bootstrap/app-of-apps/templates/applications.yaml
Labels: area/k8s

fix: add annotations
  k8s/bootstrap/app-of-apps/templates/applications.yaml
Labels: area/k8s

fix: whoami chart repo
  k8s/selfhosted/whoami/Chart.yaml
Labels: area/k8s

fix: some renovate updates
  .github/renovate.json5
  .github/workflows/labeler.yaml
  .github/workflows/renovate.yaml
  .github/workflows/sync-labels.yaml
Labels: area/github

fix: more generic regex matcher
  .github/renovate.json5
  ansible/inventory/homelab/group_vars/all.yml
Labels: area/ansible, area/github

fix: update regex
  .github/renovate.json5
Labels: area/github

fix: update regex
  .github/renovate.json5
Labels: area/github

fix: loose versioning
  .github/renovate.json5
  ansible/inventory/homelab/group_vars/all.yml
Labels: area/ansible, area/github

fix: add comments for cli tools to renovate
  k8s/bootstrap/argocd/values.yaml
Labels: area/k8s

fix: regex for custom env vars for renovate
  .github/renovate.json5
Labels: area/github

fix(github-release): update k3s-io/k3s to v1.26.0+k3s2
  ansible/inventory/homelab/group_vars/all.yml
Labels: area/ansible

fix: regex for custom env matching
  .github/renovate.json5
Labels: area/github

fix: escape quotes in JSON
  .github/renovate.json5
Labels: area/github

fix: escape quotes in JSON
  .github/renovate.json5
Labels: area/github

fix: use semver
  k8s/bootstrap/argocd/values.yaml
Labels: area/k8s

fix: versioning
  k8s/bootstrap/argocd/values.yaml
Labels: area/k8s

fix: add versioning template
  .github/renovate.json5
Labels: area/github

feat: enable actions-runner-controller
  k8s/bootstrap/app-of-apps/values.yaml
  k8s/system/actions-runner-controller/Chart.yaml
  k8s/system/actions-runner-controller/secrets.yaml
  k8s/system/actions-runner-controller/templates/secret.yaml
  k8s/system/actions-runner-controller/values.yaml
Labels: area/k8s

feat: add actual runners
  k8s/system/actions-runner-controller/templates/pvc.yaml
  k8s/system/actions-runner-controller/templates/runners.yaml
Labels: area/k8s

feat: add hello world action
  .github/workflows/hello-world.yaml
Labels: area/github

fix: allow manual trigger
  .github/workflows/hello-world.yaml
Labels: area/github

fix: add some sleep
  .github/workflows/hello-world.yaml
Labels: area/github

fix: remove hello world example
  .github/workflows/hello-world.yaml
Labels: area/github

fix: update renovate bot id
  .github/renovate.json5
Labels: area/github

fix(github-action): update renovatebot/github-action action to v34.105.6
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-release): update k3s-io/k3s to v1.26.0+k3s2
  ansible/inventory/homelab/group_vars/all.yml
Labels: area/ansible

fix(github-release): update kubernetes/kubernetes to v1.26.1
  k8s/bootstrap/argocd/values.yaml
Labels: area/k8s

fix(helm): update chart grafana to 6.50.1
  k8s/monitoring/grafana/Chart.yaml
Labels: area/k8s

fix: update bot ID
  .github/renovate.json5
Labels: area/github

fix(helm): update chart grafana to 6.50.1
  k8s/monitoring/grafana/Chart.yaml
Labels: area/k8s

fix: test using unavailable image
  k8s/selfhosted/whoami/values.yaml
Labels: area/k8s

fix: send check to github on app degraded
  k8s/bootstrap/app-of-apps/templates/applications.yaml
Labels: area/k8s

fix: make whoami green again
  k8s/selfhosted/whoami/values.yaml
Labels: area/k8s

feat(container): update image containous/whoami to v1.5.0
  k8s/selfhosted/whoami/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.358
  k8s/media/sonarr/values.yaml
Labels: area/k8s

feat: add k8s-gateway
  k8s/networking/k8s-gateway/Chart.yaml
  k8s/networking/k8s-gateway/secrets.yaml
  k8s/networking/k8s-gateway/templates/configmap.yaml
  k8s/networking/k8s-gateway/values.yaml
Labels: area/k8s

feat: enable k8s-gateway
  k8s/bootstrap/app-of-apps/values.yaml
Labels: area/k8s

fix: add rbac
  k8s/networking/k8s-gateway/templates/rbac.yaml
Labels: area/k8s

feat(github-action): update renovatebot/github-action action to v34.106.0
  .github/workflows/renovate.yaml
Labels: area/github

fix: update domain
  k8s/networking/k8s-gateway/secrets.yaml
Labels: area/k8s
