Repository mfin/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/k8s, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/k8s:
  - "k8s/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"

feat(container): update image ghcr.io/koenkk/zigbee2mqtt to v1.34.0
  k8s/automation/zigbee2mqtt/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 1f58485
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 1db0b55
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 5ab5971
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 3f7fb27
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/bjw-s/calibre-web to bca0b47
  k8s/media/calibre-web/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 7cac037
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 41a1c17
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/onedr0p/readarr-develop to f7b1f6d
  k8s/media/readarr/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/onedr0p/sabnzbd to 7d2eef3
  k8s/media/sabnzbd/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to bdac0cf
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

fix: pairdrop
  k8s/selfhosted/pairdrop/secrets.yaml
  k8s/selfhosted/pairdrop/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to cd4543e
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

feat: add static
  k8s/bootstrap/app-of-apps/values.yaml
  k8s/selfhosted/static/Chart.yaml
  k8s/selfhosted/static/secrets.yaml
  k8s/selfhosted/static/values.yaml
Labels: area/k8s

fix: path
  k8s/selfhosted/static/values.yaml
Labels: area/k8s

fix: config
  k8s/selfhosted/static/templates/configmap.yaml
  k8s/selfhosted/static/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to cf56c0a
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 45ce58d
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to c8c80de
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 1ef9d95
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/bjw-s/calibre-web to 1cf7deb
  k8s/media/calibre-web/values.yaml
Labels: area/k8s

feat(github-action): update renovatebot/github-action action to v39.2.0
  .github/workflows/renovate.yaml
Labels: area/github

chore(container): update image ghcr.io/authelia/authelia to 82632db
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 59d0e8b
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to b3b850d
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 63aa766
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

fix(github-action): update renovatebot/github-action action to v39.2.1
  .github/workflows/renovate.yaml
Labels: area/github

chore(container): update image ghcr.io/authelia/authelia to 89f6671
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to d386dd1
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to ac8fb7c
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to c070c3e
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 9833fb0
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 9fbc00b
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to dd4a34f
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

feat(container)!: Update image ghcr.io/onedr0p/postgres-init to v15
  k8s/automation/n8n/values.yaml
  k8s/automation/nocodb/values.yaml
  k8s/selfhosted/miniflux/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/onedr0p/alpine to 2d4bec1
  .taskfiles/volumes/templates/WipeJob.tmpl.yaml
Labels: none

chore(container): update image ghcr.io/authelia/authelia to b7bd063
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/bjw-s/calibre-web to 45c9e92
  k8s/media/calibre-web/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/mfin/postgres-minio-backup to 3e352e2
  k8s/automation/n8n/templates/backup.yaml
  k8s/automation/nocodb/templates/backup.yaml
  k8s/selfhosted/miniflux/templates/backup.yaml
Labels: area/k8s

chore(container): update image ghcr.io/mfin/postgres-minio-restore to e1aa62c
  .taskfiles/postgres/templates/RestoreJob.tmpl.yaml
Labels: none
