Repository mfin/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/k8s, area/hack, area/terraform

fix(container): update image ghcr.io/coder/code-server to v4.14.1
  k8s/automation/home-assistant/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/paperless-ngx/paperless-ngx to v1.16.4
  k8s/selfhosted/paperless-ngx/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to d2392b2
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 6d797de
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/mfin/n8n to 5ea4bac
  k8s/automation/n8n/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 57899b1
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 2c3268c
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 6e70af3
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/recyclarr/recyclarr to f57760e
  k8s/media/recyclarr/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 0bae21d
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/recyclarr/recyclarr to cc223dc
  k8s/media/recyclarr/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 0295a3c
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.548
  k8s/media/sonarr/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/paperless-ngx/paperless-ngx to v1.16.5
  k8s/selfhosted/paperless-ngx/values.yaml
Labels: area/k8s

fix(container): update image intel/intel-gpu-plugin to v0.27.1
  k8s/system/intel-device-plugins-gpu/templates/gpudeviceplugin.yaml
Labels: area/k8s

fix(helm): update chart argo-cd to 5.36.10
  k8s/bootstrap/argocd/Chart.yaml
Labels: area/k8s

fix(helm): update chart grafana to 6.57.4
  k8s/monitoring/grafana/Chart.yaml
Labels: area/k8s

fix(helm): update chart intel-device-plugins-operator to 0.27.1
  k8s/system/intel-device-plugins-operator/Chart.yaml
Labels: area/k8s

fix(helm): update chart reloader to 1.0.29
  k8s/system/reloader/Chart.yaml
Labels: area/k8s

fix(helm): update chart snapshot-validation-webhook to 1.7.2
  k8s/storage/snapshot-validation-webhook/Chart.yaml
Labels: area/k8s

feat(github-release): update projectcalico/calico to v3.26.1
  k8s/networking/calico/kustomization.yaml
Labels: area/k8s

feat(helm): update chart prometheus-blackbox-exporter to 7.12.0
  k8s/monitoring/blackbox-exporter/Chart.yaml
Labels: area/k8s

feat(helm): update chart snapshot-controller to 1.8.1
  k8s/storage/snapshot-controller/Chart.yaml
Labels: area/k8s

feat(helm)!: Update chart kube-prometheus-stack to 47.0.1
  k8s/monitoring/kube-prometheus-stack/Chart.yaml
Labels: area/k8s

feat(helm)!: Update chart vpa to 2.1.0
  k8s/system/vpa/Chart.yaml
Labels: area/k8s

fix: recyclarr v5
  k8s/media/recyclarr/templates/configmap.yaml
  k8s/media/recyclarr/values.yaml
Labels: area/k8s

fix: replace CFs
  k8s/media/recyclarr/templates/configmap.yaml
  terraform/cloudflare/domain_fedi.tf
  terraform/cloudflare/domain_hobby.tf
  terraform/cloudflare/secret.sops.yaml
Labels: area/k8s, area/terraform

fix: bump image
  k8s/system/intel-device-plugins-gpu/templates/gpudeviceplugin.yaml
Labels: area/k8s

Revert "feat(github-release): update projectcalico/calico to v3.26.1 (#540)"
  k8s/networking/calico/kustomization.yaml
Labels: area/k8s

Revert "feat(github-release): update projectcalico/calico to v3.26.1" (#674)
  k8s/networking/calico/kustomization.yaml
Labels: area/k8s

feat(helm): update chart kube-prometheus-stack to 47.1.0
  k8s/monitoring/kube-prometheus-stack/Chart.yaml
Labels: area/k8s

feat(container): update image ghcr.io/recyclarr/recyclarr to v5.1.0
  k8s/media/recyclarr/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.6.3.3608
  k8s/media/prowlarr/values.yaml
Labels: area/k8s

fix(helm): update chart loki to 5.8.5
  k8s/monitoring/loki/Chart.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 834ba8f
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 8b9153a
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 1583d0a
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

fix: expose n8n
  k8s/automation/n8n/secrets.yaml
Labels: area/k8s

fix: unexpose
  k8s/automation/n8n/secrets.yaml
Labels: area/k8s

feat(github-action): update actions/labeler action to v4.2.0
  .github/workflows/labeler.yaml
Labels: area/github

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/k8s:
  - "k8s/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
