Repository mfin/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/k8s, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/k8s:
  - "k8s/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"

fix: helm templating
  k8s/bootstrap/app-of-apps/templates/kustomize-applications.yaml
Labels: area/k8s

fix: try this
  k8s/bootstrap/app-of-apps/templates/kustomize-applications.yaml
Labels: area/k8s

fix: add argocd syncpolicy
  k8s/bootstrap/app-of-apps/templates/kustomize-applications.yaml
Labels: area/k8s

fix: syncpolicy indentation
  k8s/bootstrap/app-of-apps/templates/kustomize-applications.yaml
Labels: area/k8s

fix: server -> name
  k8s/bootstrap/app-of-apps/templates/kustomize-applications.yaml
Labels: area/k8s

fix: naming
  k8s/bootstrap/app-of-apps/templates/helm-applications.yaml
  k8s/bootstrap/app-of-apps/values.yaml
Labels: area/k8s

feat: enable argocd applicationset webhook
  k8s/bootstrap/argocd/secrets.yaml
  k8s/bootstrap/argocd/values.yaml
Labels: area/k8s

feat: add test-app
  k8s/selfhosted/test-app/configmap.yaml
  k8s/selfhosted/test-app/kustomization.yaml
Labels: area/k8s

fix: test
  k8s/selfhosted/test-app/configmap.yaml
Labels: area/k8s

fix: and
  k8s/selfhosted/test-app/configmap.yaml
Labels: area/k8s

fix: and
  k8s/selfhosted/test-app/configmap.yaml
Labels: area/k8s

fix: remove test-app
  k8s/selfhosted/test-app/configmap.yaml
  k8s/selfhosted/test-app/kustomization.yaml
Labels: area/k8s

fix: add tasks for template and secrets
  .taskfiles/k8s/Tasks.yaml
  .taskfiles/misc/Tasks.yaml
  Taskfile.yaml
Labels: none

fix: add task descriptions
  .taskfiles/k8s/Tasks.yaml
  .taskfiles/misc/Tasks.yaml
Labels: none

fix: replace Makefiles with Taskfiles
  .taskfiles/k8s/Tasks.yaml
  .taskfiles/terraform/Tasks.yaml
  Makefile
  Taskfile.yaml
  k8s/bootstrap/Makefile
  k8s/bootstrap/app-of-apps/apply.sh
  k8s/bootstrap/app-of-apps/templates/kustomize-applications.yaml
  k8s/bootstrap/argocd/apply.sh
Labels: area/k8s

fix: silence
  .taskfiles/k8s/Tasks.yaml
Labels: none

fix(container): update image ghcr.io/sct/overseerr to v1.32.5
  k8s/media/overseerr/values.yaml
Labels: area/k8s

fix(github-release): update k3s-io/k3s to v1.26.1+k3s1
  ansible/k3s/inventory/group_vars/all/k3s.yaml
Labels: area/ansible

fix: more adaptable taskfiles
  .taskfiles/k8s/Tasks.yaml
  .taskfiles/misc/Tasks.yaml
  .taskfiles/terraform/Tasks.yaml
Labels: none

fix: better search
  .taskfiles/misc/Tasks.yaml
Labels: none

fix: temp disable kustomize
  k8s/bootstrap/app-of-apps/templates/kustomize-applications.yaml
Labels: area/k8s

fix: archive system-upgrade-controller
  k8s/archive/system-upgrade-controller/kustomization.yaml
Labels: area/k8s

fix: add todo to kustomize GitGenerator
  k8s/bootstrap/app-of-apps/templates/kustomize-applications.yaml
Labels: area/k8s

fix: disable webhook for applicatonset
  k8s/bootstrap/argocd/secrets.yaml
  k8s/bootstrap/argocd/values.yaml
Labels: area/k8s

fix: more improvements
  .gitignore
  .taskfiles/ansible/Tasks.yaml
  Taskfile.yaml
Labels: none

fix: add deps install to bootstrap
  Taskfile.yaml
Labels: none

feat: use opsgenie instead of pushover
  k8s/monitoring/kube-prometheus-stack/secrets.yaml
  k8s/monitoring/kube-prometheus-stack/values.yaml
Labels: area/k8s

fix: update opsgenie config
  k8s/monitoring/kube-prometheus-stack/secrets.yaml
Labels: area/k8s

fix: add warning route as well
  k8s/monitoring/kube-prometheus-stack/secrets.yaml
  k8s/monitoring/kube-prometheus-stack/values.yaml
Labels: area/k8s

feat(helm): update chart app-template to 1.3.0
  k8s/archive/cloudflared/Chart.yaml
  k8s/authentication/authelia/Chart.yaml
  k8s/authentication/glauth/Chart.yaml
  k8s/automation/flaresolverr/Chart.yaml
  k8s/automation/gotenberg/Chart.yaml
  k8s/automation/home-assistant/Chart.yaml
  k8s/automation/mosquitto/Chart.yaml
  k8s/automation/node-red/Chart.yaml
  k8s/automation/tika/Chart.yaml
  k8s/automation/zigbee2mqtt/Chart.yaml
  k8s/media/bazarr/Chart.yaml
  k8s/media/overseerr/Chart.yaml
  k8s/media/plex/Chart.yaml
  k8s/media/prowlarr/Chart.yaml
  k8s/media/qbittorrent/Chart.yaml
  k8s/media/radarr-4k/Chart.yaml
  k8s/media/radarr/Chart.yaml
  k8s/media/sonarr/Chart.yaml
  k8s/media/tautulli/Chart.yaml
  k8s/media/unpackerr/Chart.yaml
  k8s/monitoring/unpoller/Chart.yaml
  k8s/monitoring/vector-agent/Chart.yaml
  k8s/monitoring/vector-aggregator/Chart.yaml
  k8s/networking/cloudflare-ddns/Chart.yaml
  k8s/networking/k8s-gateway/Chart.yaml
  k8s/selfhosted/mailrise/Chart.yaml
  k8s/selfhosted/paperless-ngx/Chart.yaml
  k8s/selfhosted/whoami/Chart.yaml
  k8s/storage/minio/Chart.yaml
  k8s/storage/redis/Chart.yaml
Labels: area/k8s

fix: update naming
  k8s/monitoring/kube-prometheus-stack/secrets.yaml
  k8s/monitoring/kube-prometheus-stack/values.yaml
Labels: area/k8s

fix: structure config
  k8s/monitoring/kube-prometheus-stack/secrets.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.363
  k8s/media/sonarr/values.yaml
Labels: area/k8s

feat: init kubeconform task
  .bin/kubeconform.sh
  .taskfiles/k8s/Tasks.yaml
Labels: none

fix: add support for renovate to kubeconform script
  .bin/kubeconform.sh
  .github/renovate.json5
Labels: area/github

fix: replace find with fd
  .taskfiles/k8s/Tasks.yaml
  .taskfiles/misc/Tasks.yaml
  k8s/monitoring/vector-aggregator/secrets.yaml
Labels: area/k8s

feat: add xteve
  k8s/bootstrap/app-of-apps/values.yaml
  k8s/media/xteve/Chart.yaml
  k8s/media/xteve/secrets.yaml
  k8s/media/xteve/templates/pvc.yaml
  k8s/media/xteve/values.yaml
Labels: area/k8s

fix: is sts
  k8s/media/xteve/values.yaml
Labels: area/k8s

fix: values
  k8s/media/xteve/values.yaml
Labels: area/k8s

fix: resources
  k8s/media/xteve/values.yaml
Labels: area/k8s
