Repository mfin/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/k8s, area/hack, area/terraform

fix: more servicemonitors
  k8s/monitoring/blackbox-exporter/templates/servicemonitor.yaml
Labels: area/k8s

fix: expose whoami
  k8s/selfhosted/whoami/secrets.yaml
  k8s/selfhosted/whoami/values.yaml
Labels: area/k8s

fix: remove exposed ingress
  k8s/selfhosted/whoami/secrets.yaml
  k8s/selfhosted/whoami/values.yaml
Labels: area/k8s

fix(container): update image quay.io/oriedge/k8s_gateway to v0.3.3
  k8s/networking/k8s-gateway/values.yaml
Labels: area/k8s

feat(container): update image ghcr.io/paperless-ngx/paperless-ngx to v1.12.0
  k8s/selfhosted/paperless-ngx/values.yaml
Labels: area/k8s

Revert "feat(container): update image ghcr.io/paperless-ngx/paperless-ngx to v1.12.0 (#84)"
  k8s/selfhosted/paperless-ngx/values.yaml
Labels: area/k8s

Revert "feat(container): update image ghcr.io/paperless-ngx/paperless-ngx to v1.12.0" (#85)
  k8s/selfhosted/paperless-ngx/values.yaml
Labels: area/k8s

fix: rework datasources
  k8s/monitoring/grafana/values.yaml
  k8s/monitoring/kube-prometheus-stack/templates/datasources.yaml
Labels: area/k8s

fix: completely remove datasources
  k8s/monitoring/grafana/values.yaml
Labels: area/k8s

fix: remove datasources
  k8s/monitoring/grafana/values.yaml
Labels: area/k8s

fix: revert
  k8s/monitoring/grafana/values.yaml
  k8s/monitoring/kube-prometheus-stack/templates/datasources.yaml
Labels: area/k8s

feat: add loki
  k8s/bootstrap/app-of-apps/values.yaml
  k8s/monitoring/loki/Chart.yaml
  k8s/monitoring/loki/secrets.yaml
  k8s/monitoring/loki/templates/configmap.yaml
  k8s/monitoring/loki/templates/datasource.yaml
  k8s/monitoring/loki/values.yaml
Labels: area/k8s

feat: rework datasources
  k8s/monitoring/grafana/values.yaml
  k8s/monitoring/loki/templates/datasource.yaml
Labels: area/k8s

fix: increase replicas
  k8s/monitoring/loki/values.yaml
Labels: area/k8s

fix: increase replicas
  k8s/monitoring/loki/values.yaml
Labels: area/k8s

fix: temp remove loki
  k8s/bootstrap/app-of-apps/values.yaml
Labels: area/k8s

fix: enable loki
  k8s/bootstrap/app-of-apps/values.yaml
Labels: area/k8s

fix: maybe this will work
  k8s/monitoring/loki/values.yaml
Labels: area/k8s

fix: maybe this
  k8s/monitoring/loki/values.yaml
Labels: area/k8s

feat: add vector
  k8s/bootstrap/app-of-apps/values.yaml
  k8s/monitoring/vector-agent/Chart.yaml
  k8s/monitoring/vector-agent/templates/configmap.yaml
  k8s/monitoring/vector-agent/templates/rbac.yaml
  k8s/monitoring/vector-agent/values.yaml
  k8s/monitoring/vector-aggregator/Chart.yaml
  k8s/monitoring/vector-aggregator/secrets.yaml
  k8s/monitoring/vector-aggregator/templates/configmap.yaml
  k8s/monitoring/vector-aggregator/values.yaml
Labels: area/k8s

fix: templating
  k8s/monitoring/vector-aggregator/templates/configmap.yaml
Labels: area/k8s

fix: permissions
  k8s/monitoring/vector-agent/templates/rbac.yaml
Labels: area/k8s

fix(helm): update chart argo-cd to 5.19.7
  k8s/bootstrap/argocd/Chart.yaml
Labels: area/k8s

feat(container): update image ghcr.io/paperless-ngx/paperless-ngx to v1.12.1
  k8s/selfhosted/paperless-ngx/values.yaml
Labels: area/k8s

fix: temp disable loki and vector
  k8s/bootstrap/app-of-apps/values.yaml
Labels: area/k8s

Revert "feat(container): update image ghcr.io/paperless-ngx/paperless-ngx to v1.12.1 (#86)"
  k8s/selfhosted/paperless-ngx/values.yaml
Labels: area/k8s

Revert "feat(container): update image ghcr.io/paperless-ngx/paperless-ngx to v1.12.1" (#88)
  k8s/selfhosted/paperless-ngx/values.yaml
Labels: area/k8s

fix: temp replicas=0
  k8s/selfhosted/paperless-ngx/values.yaml
Labels: area/k8s

fix: bump version and replicas=1
  k8s/selfhosted/paperless-ngx/values.yaml
Labels: area/k8s

fix: replicas=0
  k8s/selfhosted/paperless-ngx/values.yaml
Labels: area/k8s

fix: replicas=1
  k8s/selfhosted/paperless-ngx/values.yaml
Labels: area/k8s

fix(helm): update chart argo-cd to 5.19.8
  k8s/bootstrap/argocd/Chart.yaml
Labels: area/k8s

feat(github-action): update tibdex/github-app-token action to v1.8.0
  .github/workflows/labeler.yaml
  .github/workflows/renovate.yaml
  .github/workflows/sync-labels.yaml
Labels: area/github

fix: rework middlewares
  .github/scripts/cloudflare-networks.sh
  .github/workflows/publish-cloudflare-networks.yaml
  k8s/networking/traefik/templates/mw-authelia.yaml
  k8s/networking/traefik/templates/mw-cloudflare-only.yaml
  k8s/networking/traefik/templates/mw-local-only.yaml
Labels: area/github, area/k8s

fix: action
  .github/scripts/cloudflare-networks.sh
  .github/workflows/publish-cloudflare-networks.yaml
Labels: area/github

fix: file path
  .github/workflows/publish-cloudflare-networks.yaml
Labels: area/github

chore(github-action): update cloudflare networks
  k8s/networking/traefik/templates/mw-cloudflare-only.yaml
Labels: area/k8s

fix: add secure middleware
  k8s/networking/traefik/templates/mw-secured.yaml
Labels: area/k8s

fix: try secured middleware
  k8s/selfhosted/whoami/values.yaml
Labels: area/k8s

fix: update whoami and middlewares
  .github/scripts/cloudflare-networks.sh
  k8s/networking/traefik/templates/mw-cloudflare-only.yaml
  k8s/networking/traefik/templates/mw-secured.yaml
  k8s/selfhosted/whoami/secrets.yaml
  k8s/selfhosted/whoami/values.yaml
Labels: area/github, area/k8s

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/k8s:
  - "k8s/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
