Repository mfin/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/k8s, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
    - any-glob-to-any-file: "ansible/**/*"
area/github:
  - changed-files:
    - any-glob-to-any-file: ".github/**/*"
area/k8s:
  - changed-files:
    - any-glob-to-any-file: "k8s/**/*"
area/hack:
  - changed-files:
    - any-glob-to-any-file: "hack/**/*"
area/terraform:
  - changed-files:
    - any-glob-to-any-file: "terraform/**/*"

fix(helm): update chart reloader to 1.0.65
  k8s/system/reloader/Chart.yaml
Labels: area/k8s

feat(helm): update chart cert-manager to v1.14.1
  k8s/networking/cert-manager/Chart.yaml
Labels: area/k8s

feat(helm): update chart grafana to 7.3.0
  k8s/monitoring/grafana/Chart.yaml
Labels: area/k8s

feat(helm): update chart snapshot-controller to 2.1.0
  k8s/storage/snapshot-controller/Chart.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/bazarr to v1.4.1
  k8s/media/bazarr/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/readarr-develop to v0.3.18.2411
  k8s/media/readarr/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/lidarr-develop to v2.1.6.3993
  k8s/media/lidarr/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.13.2.4251
  k8s/media/prowlarr/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/radarr-develop to v5.3.4.8567
  k8s/media/radarr-4k/values.yaml
  k8s/media/radarr/values.yaml
Labels: area/k8s

fix(container): update image docker.io/restic/restic to v0.16.4
  .taskfiles/volumes/templates/ListJob.tmpl.yaml
Labels: none

fix(container): update image ghcr.io/koenkk/zigbee2mqtt to v1.35.2
  k8s/automation/zigbee2mqtt/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/mfin/argocd to v2.9.6
  k8s/bootstrap/argocd/values.yaml
Labels: area/k8s

feat(helm): update chart argo-cd to 5.53.13
  k8s/bootstrap/argocd/Chart.yaml
Labels: area/k8s

feat(helm): update chart cilium to 1.15.0
  k8s/networking/cilium/Chart.yaml
Labels: area/k8s

feat(helm): update chart kube-prometheus-stack to 55.11.0
  k8s/monitoring/kube-prometheus-stack/Chart.yaml
Labels: area/k8s

feat(helm)!: Update chart kube-prometheus-stack to 56.6.2
  k8s/monitoring/kube-prometheus-stack/Chart.yaml
Labels: area/k8s

fix: cilium config
  k8s/networking/cilium/values.yaml
Labels: area/k8s

fix: cilium config (#1301)
  k8s/networking/cilium/values.yaml
Labels: area/k8s

fix: disable cilium servicemonitors and dashboards
  k8s/networking/cilium/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/onedr0p/lidarr-develop to 36b75d7
  k8s/media/lidarr/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/onedr0p/readarr-develop to a1d9eb2
  k8s/media/readarr/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/onedr0p/sabnzbd to 5b1f15c
  k8s/media/sabnzbd/values.yaml
Labels: area/k8s

fix(helm): update chart argo-cd to 5.53.14
  k8s/bootstrap/argocd/Chart.yaml
Labels: area/k8s

feat(github-release): update k3s-io/k3s to v1.29.0+k3s1
  ansible/k3s/inventory/group_vars/all/k3s.yaml
Labels: area/ansible

fix(container): update image ghcr.io/taxel/plextraktsync to v0.28.16
  k8s/media/plex-trakt-sync/templates/cronjob.yaml
  k8s/media/plex-trakt-sync/values.yaml
Labels: area/k8s

feat(container): update image ghcr.io/coder/code-server to v4.21.0
  k8s/automation/ha-config/values.yaml
Labels: area/k8s

fix: remove some apps
  k8s/bootstrap/app-of-apps/values.yaml
  k8s/media/audiobookshelf/Chart.yaml
  k8s/media/audiobookshelf/secrets.yaml
  k8s/media/audiobookshelf/templates/pvc.yaml
  k8s/media/audiobookshelf/templates/volsync.yaml
  k8s/media/audiobookshelf/values.yaml
  k8s/media/navidrome/Chart.yaml
  k8s/media/navidrome/secrets.yaml
  k8s/media/navidrome/templates/pvc.yaml
  k8s/media/navidrome/templates/volsync.yaml
  k8s/media/navidrome/values.yaml
Labels: area/k8s

Revert "fix: remove some apps"
  k8s/bootstrap/app-of-apps/values.yaml
  k8s/media/audiobookshelf/Chart.yaml
  k8s/media/audiobookshelf/secrets.yaml
  k8s/media/audiobookshelf/templates/pvc.yaml
  k8s/media/audiobookshelf/templates/volsync.yaml
  k8s/media/audiobookshelf/values.yaml
  k8s/media/navidrome/Chart.yaml
  k8s/media/navidrome/secrets.yaml
  k8s/media/navidrome/templates/pvc.yaml
  k8s/media/navidrome/templates/volsync.yaml
  k8s/media/navidrome/values.yaml
Labels: area/k8s

fix: disable apps
  k8s/bootstrap/app-of-apps/values.yaml
Labels: area/k8s

fix: remove files
  k8s/media/audiobookshelf/Chart.yaml
  k8s/media/audiobookshelf/secrets.yaml
  k8s/media/audiobookshelf/templates/pvc.yaml
  k8s/media/audiobookshelf/templates/volsync.yaml
  k8s/media/audiobookshelf/values.yaml
  k8s/media/navidrome/Chart.yaml
  k8s/media/navidrome/secrets.yaml
  k8s/media/navidrome/templates/pvc.yaml
  k8s/media/navidrome/templates/volsync.yaml
  k8s/media/navidrome/values.yaml
Labels: area/k8s

fix(terraform): update terraform http to 3.4.1
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: area/terraform

feat(ansible): update community.general to 8.3.0
  ansible/requirements.yaml
Labels: area/ansible

fix: updates
  ansible/rpi/playbooks/all.yaml
  ansible/rpi/playbooks/roles/bind9/templates/named.conf.options.j2
  ansible/rpi/playbooks/roles/ufw/tasks/main.yaml
  terraform/cloudflare/.terraform-version
  terraform/unifi/.terraform-version
Labels: area/ansible, area/terraform

feat(container)!: Update image ubuntu to v24
  k8s/selfhosted/paperless-ngx/values.yaml
Labels: area/k8s

fix: updates
  ansible/rpi/playbooks/roles/bind9/templates/named.conf.options.j2
  ansible/rpi/playbooks/roles/ufw/tasks/main.yaml
  k8s/networking/cilium/values.yaml
Labels: area/ansible, area/k8s

chore(container): update image nginx to 84c52df
  k8s/selfhosted/static/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/bjw-s/calibre-web to 13f1d19
  k8s/media/calibre-web/values.yaml
Labels: area/k8s

fix(github-action): update renovatebot/github-action action to v40.0.3
  .github/workflows/renovate.yaml
Labels: area/github

chore(container): update image linuxserver/pairdrop to 3dbdda4
  k8s/selfhosted/pairdrop/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/bjw-s/calibre-web to a7b6d7f
  k8s/media/calibre-web/values.yaml
Labels: area/k8s
