Repository mfin/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/k8s, area/hack, area/terraform

chore(container): update image ghcr.io/authelia/authelia to 4d671c8
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

fix: update keys
  ansible/k3s/inventory/group_vars/all/all.yaml
Labels: area/ansible

fix(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.8.4.3884
  k8s/media/prowlarr/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/qbittorrent to v4.5.5
  k8s/media/qbittorrent/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.651
  k8s/media/sonarr/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/paperless-ngx/paperless-ngx to v1.17.3
  k8s/selfhosted/paperless-ngx/values.yaml
Labels: area/k8s

fix(container): update image homeassistant/home-assistant to v2023.8.4
  k8s/automation/home-assistant/values.yaml
Labels: area/k8s

fix(container): update image quay.io/minio/minio to release.2023-08-29t23-07-35z
  k8s/archive/minio/values.yaml
Labels: area/k8s

fix(github-release): update rancher/system-upgrade-controller to v0.13.1
  k8s/archive/system-upgrade-controller/kustomization.yaml
Labels: area/k8s

fix(helm): update chart actions-runner-controller to 0.23.5
  k8s/system/actions-runner-controller/Chart.yaml
Labels: area/k8s

feat(container): update image apache/tika to v2.9.0.0
  k8s/automation/tika/values.yaml
Labels: area/k8s

feat(container): update image cloudflare/cloudflared to v2023.8.1
  k8s/networking/cloudflared/values.yaml
Labels: area/k8s

feat(container): update image ghcr.io/onedr0p/lidarr-develop to v1.4.0.3554
  k8s/media/lidarr/values.yaml
Labels: area/k8s

feat(container): update image ghcr.io/onedr0p/tautulli to v2.13.1
  k8s/media/tautulli/values.yaml
Labels: area/k8s

feat(container): update image nocodb/nocodb to v0.111.0
  k8s/automation/nocodb/values.yaml
Labels: area/k8s

feat(helm): update chart grafana to 6.59.0
  k8s/monitoring/grafana/Chart.yaml
Labels: area/k8s

feat(helm): update chart kube-prometheus-stack to 48.6.0
  k8s/monitoring/kube-prometheus-stack/Chart.yaml
Labels: area/k8s

feat(helm): update chart loki to 5.15.0
  k8s/monitoring/loki/Chart.yaml
Labels: area/k8s

feat(helm): update chart prometheus-smartctl-exporter to 0.6.0
  k8s/monitoring/smartctl-exporter/Chart.yaml
Labels: area/k8s

feat(helm): update chart prometheus-snmp-exporter to 1.8.0
  k8s/monitoring/snmp-exporter/Chart.yaml
Labels: area/k8s

feat(helm): update chart promtail to 6.15.0
  k8s/monitoring/promtail/Chart.yaml
Labels: area/k8s

feat(helm): update chart vpa to 2.5.1
  k8s/system/vpa/Chart.yaml
Labels: area/k8s

feat(container)!: Update image ghcr.io/onedr0p/radarr-develop to v5
  k8s/media/radarr-4k/values.yaml
  k8s/media/radarr/values.yaml
Labels: area/k8s

feat(helm)!: Update chart kube-prometheus-stack to 49.2.0
  k8s/monitoring/kube-prometheus-stack/Chart.yaml
Labels: area/k8s

fix(helm): update chart reloader to 1.0.39
  k8s/system/reloader/Chart.yaml
Labels: area/k8s

fix(ansible): update community.sops to 1.6.5
  ansible/requirements.yaml
Labels: area/ansible

fix(container): update image eclipse-mosquitto to v2.0.17
  k8s/automation/mosquitto/values.yaml
Labels: area/k8s

fix(github-release): update k3s-io/k3s to v1.27.4+k3s1
  ansible/k3s/inventory/group_vars/all/k3s.yaml
Labels: area/ansible

feat(ansible): update community.general to 7.3.0
  ansible/requirements.yaml
Labels: area/ansible

feat(github-release): update coredns/coredns to v1.11.1
  ansible/remote/inventory/group_vars/all/coredns.yaml
  ansible/rpi/inventory/group_vars/all/coredns.yaml
Labels: area/ansible

feat(github-release): update kubernetes/kubernetes to v1.28.1
  .taskfiles/k8s/scripts/kubeconform.sh
  k8s/bootstrap/argocd/values.yaml
Labels: area/k8s

feat(helm): update chart argo-cd to 5.45.0
  k8s/bootstrap/argocd/Chart.yaml
Labels: area/k8s

feat(terraform): update terraform cloudflare to 4.13.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: area/terraform

feat(terraform): update terraform http to 3.4.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: area/terraform

feat(helm)!: Update chart traefik to 24.0.0
  k8s/networking/traefik/Chart.yaml
Labels: area/k8s

fix: update lock
  terraform/cloudflare/.terraform.lock.hcl
Labels: area/terraform

fix: deprecate arc for now
  k8s/archive/actions-runner-controller/Chart.yaml
  k8s/archive/actions-runner-controller/secrets.yaml
  k8s/archive/actions-runner-controller/templates/pvc.yaml
  k8s/archive/actions-runner-controller/templates/runners.yaml
  k8s/archive/actions-runner-controller/templates/secret.yaml
  k8s/archive/actions-runner-controller/values.yaml
Labels: area/k8s

fix: remove arc from app-of-apps
  k8s/bootstrap/app-of-apps/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 4ce2dfe
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 475b273
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/k8s:
  - "k8s/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
