Repository mfin/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/k8s, area/hack, area/terraform

chore(container): update image ghcr.io/bjw-s/calibre-web to 7341d38
  k8s/media/calibre-web/values.yaml
Labels: area/k8s

feat: add wizarr
  k8s/bootstrap/app-of-apps/values.yaml
  k8s/media/wizarr/Chart.yaml
  k8s/media/wizarr/secrets.yaml
  k8s/media/wizarr/templates/pvc.yaml
  k8s/media/wizarr/templates/volsync.yaml
  k8s/media/wizarr/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/onedr0p/sabnzbd to 8943148
  k8s/media/sabnzbd/values.yaml
Labels: area/k8s

fix: disable hajimari
  k8s/authentication/authelia/values.yaml
  k8s/automation/ha-config/values.yaml
  k8s/automation/home-assistant/values.yaml
  k8s/automation/n8n/values.yaml
  k8s/automation/nocodb/values.yaml
  k8s/automation/zigbee2mqtt/values.yaml
  k8s/bootstrap/app-of-apps/values.yaml
  k8s/bootstrap/argocd/values.yaml
  k8s/media/autobrr/values.yaml
  k8s/media/bazarr/values.yaml
  k8s/media/calibre-web/values.yaml
  k8s/media/filebrowser/values.yaml
  k8s/media/lidarr/values.yaml
  k8s/media/overseerr/values.yaml
  k8s/media/plex/values.yaml
  k8s/media/prowlarr/values.yaml
  k8s/media/qbittorrent/values.yaml
  k8s/media/radarr-4k/values.yaml
  k8s/media/radarr/values.yaml
  k8s/media/sabnzbd/values.yaml
  k8s/media/sonarr/values.yaml
  k8s/media/tautulli/values.yaml
  k8s/media/wizarr/values.yaml
  k8s/media/xteve/secrets.yaml
  k8s/media/xteve/values.yaml
  k8s/monitoring/grafana/values.yaml
  k8s/monitoring/kube-prometheus-stack/values.yaml
  k8s/networking/external-services/templates/drive.yaml
  k8s/networking/external-services/templates/minio.yaml
  k8s/networking/external-services/templates/photos.yaml
  k8s/selfhosted/homebox/values.yaml
  k8s/selfhosted/it-tools/values.yaml
  k8s/selfhosted/miniflux/values.yaml
  k8s/selfhosted/paperless-ngx/values.yaml
  k8s/selfhosted/static/values.yaml
  k8s/selfhosted/thelounge/values.yaml
Labels: area/k8s

fix: remove hajimari
  k8s/selfhosted/hajimari/Chart.yaml
  k8s/selfhosted/hajimari/secrets.yaml
  k8s/selfhosted/hajimari/values.yaml
Labels: area/k8s

fix: enable cilium metrics
  k8s/networking/cilium/values.yaml
Labels: area/k8s

Revert "fix: enable cilium metrics"
  k8s/networking/cilium/values.yaml
Labels: area/k8s

fix: ingress
  k8s/media/overseerr/secrets.yaml
  k8s/media/overseerr/values.yaml
Labels: area/k8s

feat: add maintainerr
  k8s/bootstrap/app-of-apps/values.yaml
  k8s/media/maintainerr/Chart.yaml
  k8s/media/maintainerr/secrets.yaml
  k8s/media/maintainerr/templates/pvc.yaml
  k8s/media/maintainerr/templates/volsync.yaml
  k8s/media/maintainerr/values.yaml
Labels: area/k8s

fix(github-action): update renovatebot/github-action action to v40.1.11
  .github/workflows/renovate.yaml
Labels: area/github

feat(container): update image ghcr.io/wizarrrr/wizarr to v3.6.0
  k8s/media/wizarr/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/bjw-s/calibre-web to 616c4a0
  k8s/media/calibre-web/values.yaml
Labels: area/k8s

chore(container): update image nginx to ba567f1
  k8s/selfhosted/static/values.yaml
Labels: area/k8s

chore(container): update image nginx to e62adf8
  k8s/selfhosted/static/values.yaml
Labels: area/k8s

chore(container): update image nginx to 32e76d4
  k8s/selfhosted/static/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/bjw-s/calibre-web to 52229de
  k8s/media/calibre-web/values.yaml
Labels: area/k8s

fix(github-release): update coredns/coredns to v1.11.3
  ansible/remote/inventory/group_vars/all/coredns.yaml
Labels: area/ansible

fix(github-action): update actions/checkout action to v4.1.5
  .github/workflows/publish-cloudflare-networks.yaml
  .github/workflows/renovate.yaml
  .github/workflows/sync-labels.yaml
Labels: area/github

chore(container): update image ghcr.io/corentinth/it-tools to 90b9438
  k8s/selfhosted/it-tools/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/corentinth/it-tools to b700015
  k8s/selfhosted/it-tools/values.yaml
Labels: area/k8s

feat(container): update image homeassistant/home-assistant to v2024.5.3
  k8s/automation/home-assistant/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/corentinth/it-tools to c191615
  k8s/selfhosted/it-tools/values.yaml
Labels: area/k8s

chore(container): update image nginx to e3ffd9d
  k8s/selfhosted/static/values.yaml
Labels: area/k8s

chore(container): update image nginx to 4c02d48
  k8s/selfhosted/static/values.yaml
Labels: area/k8s

chore(container): update image nginx to 8a8c4d7
  k8s/selfhosted/static/values.yaml
Labels: area/k8s

chore(container): update image nginx to dff52fa
  k8s/selfhosted/static/values.yaml
Labels: area/k8s

chore(container): update image nginx to a484819
  k8s/selfhosted/static/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/mfin/postgres-minio-backup to bbce8b3
  k8s/automation/n8n/templates/backup.yaml
  k8s/automation/nocodb/templates/backup.yaml
  k8s/selfhosted/miniflux/templates/backup.yaml
Labels: area/k8s

chore(container): update image ghcr.io/mfin/postgres-minio-restore to 19649ec
  .taskfiles/postgres/templates/RestoreJob.tmpl.yaml
Labels: none

fix(github-action): update actions/checkout action to v4.1.6
  .github/workflows/publish-cloudflare-networks.yaml
  .github/workflows/renovate.yaml
  .github/workflows/sync-labels.yaml
Labels: area/github

feat(container): update image ghcr.io/koenkk/zigbee2mqtt to v1.37.1
  k8s/automation/zigbee2mqtt/values.yaml
Labels: area/k8s

fix(container): update image homeassistant/home-assistant to v2024.5.4
  k8s/automation/home-assistant/values.yaml
Labels: area/k8s

fix: enable z2m
  k8s/automation/zigbee2mqtt/values.yaml
Labels: area/k8s

fix: z2m frontend
  k8s/automation/zigbee2mqtt/templates/secret.yaml
Labels: area/k8s

fix: z2m frontend
  k8s/automation/zigbee2mqtt/templates/secret.yaml
Labels: area/k8s

fix: z2m frontend
  k8s/automation/zigbee2mqtt/templates/secret.yaml
Labels: area/k8s

fix: z2m frontend
  k8s/automation/zigbee2mqtt/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/bjw-s/calibre-web to cc08e3e
  k8s/media/calibre-web/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/bjw-s/calibre-web to 5ae6f47
  k8s/media/calibre-web/values.yaml
Labels: area/k8s

fix: remove seedbox support
  k8s/media/cross-seed/values.yaml
  k8s/media/lidarr/values.yaml
  k8s/media/radarr-4k/values.yaml
  k8s/media/radarr/values.yaml
  k8s/media/sonarr/values.yaml
Labels: area/k8s

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
    - any-glob-to-any-file: "ansible/**/*"
area/github:
  - changed-files:
    - any-glob-to-any-file: ".github/**/*"
area/k8s:
  - changed-files:
    - any-glob-to-any-file: "k8s/**/*"
area/hack:
  - changed-files:
    - any-glob-to-any-file: "hack/**/*"
area/terraform:
  - changed-files:
    - any-glob-to-any-file: "terraform/**/*"
