Repository mfin/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/k8s, area/hack, area/terraform

chore(container): update image ghcr.io/bjw-s/calibre-web to a8f04de
  k8s/media/calibre-web/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 8a70f2e
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to d5201ac
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/mfin/postgres-minio-backup to 1f6eeb1
  k8s/automation/n8n/templates/backup.yaml
  k8s/automation/nocodb/templates/backup.yaml
  k8s/selfhosted/miniflux/templates/backup.yaml
Labels: area/k8s

chore(container): update image ghcr.io/mfin/postgres-minio-restore to 89bb243
  .taskfiles/postgres/templates/RestoreJob.tmpl.yaml
Labels: none

feat(github-action): update renovatebot/github-action action to v40.1.0
  .github/workflows/renovate.yaml
Labels: area/github

chore(container): update image ghcr.io/authelia/authelia to 1c13c1c
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image nginx to ea97e6a
  k8s/selfhosted/static/values.yaml
Labels: area/k8s

fix(github-action): update endbug/label-sync action to v2.3.3
  .github/workflows/sync-labels.yaml
Labels: area/github

chore(container): update image nginx to 0e13305
  k8s/selfhosted/static/values.yaml
Labels: area/k8s

chore(container): update image nginx to ac2b22f
  k8s/selfhosted/static/values.yaml
Labels: area/k8s

chore(container): update image nginx to 2f5b3c6
  k8s/selfhosted/static/values.yaml
Labels: area/k8s

chore(container): update image nginx to c7a6ad6
  k8s/selfhosted/static/values.yaml
Labels: area/k8s

feat(container): update image ghcr.io/autobrr/autobrr to v1.38.0
  k8s/media/autobrr/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/bjw-s/calibre-web to 12a9558
  k8s/media/calibre-web/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/mfin/postgres-minio-backup to 9ee049a
  k8s/automation/n8n/templates/backup.yaml
  k8s/automation/nocodb/templates/backup.yaml
  k8s/selfhosted/miniflux/templates/backup.yaml
Labels: area/k8s

chore(container): update image ghcr.io/bjw-s/calibre-web to 9faa556
  k8s/media/calibre-web/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/bjw-s/calibre-web to 9828f85
  k8s/media/calibre-web/values.yaml
Labels: area/k8s

chore(container): update image linuxserver/pairdrop to 4e1edfc
  k8s/selfhosted/pairdrop/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 7f0270c
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

fix(github-action): update renovatebot/github-action action to v40.1.1
  .github/workflows/renovate.yaml
Labels: area/github

chore(container): update image ghcr.io/authelia/authelia to b48ae4d
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/bjw-s/calibre-web to 8c26975
  k8s/media/calibre-web/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/bjw-s/calibre-web to bd20cf7
  k8s/media/calibre-web/values.yaml
Labels: area/k8s

fix(github-action): update renovatebot/github-action action to v40.1.2
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update image ghcr.io/autobrr/autobrr to v1.38.1
  k8s/media/autobrr/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/coder/code-server to v4.21.1
  k8s/automation/ha-config/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/flaresolverr/flaresolverr to v3.3.15
  k8s/automation/flaresolverr/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/koenkk/zigbee2mqtt to v1.35.3
  k8s/automation/zigbee2mqtt/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/bazarr to v1.4.2
  k8s/media/bazarr/values.yaml
Labels: area/k8s

fix(container): update image nginx to v1.25.4
  k8s/selfhosted/static/values.yaml
Labels: area/k8s

fix(container): update image nocodb/nocodb to v0.204.1
  k8s/automation/nocodb/values.yaml
Labels: area/k8s

fix(github-release): update hashicorp/terraform to 1.7.4
  terraform/cloudflare/.terraform-version
  terraform/unifi/.terraform-version
Labels: area/terraform

fix(helm): update chart cert-manager to v1.14.3
  k8s/networking/cert-manager/Chart.yaml
Labels: area/k8s

fix(helm): update chart cilium to 1.15.1
  k8s/networking/cilium/Chart.yaml
Labels: area/k8s

fix(helm): update chart grafana to 7.3.2
  k8s/monitoring/grafana/Chart.yaml
Labels: area/k8s

fix(helm): update chart prometheus-smartctl-exporter to 0.7.1
  k8s/monitoring/smartctl-exporter/Chart.yaml
Labels: area/k8s

fix(helm): update chart prometheus-snmp-exporter to 1.8.2
  k8s/monitoring/snmp-exporter/Chart.yaml
Labels: area/k8s

fix(helm): update chart reflector to 7.1.256
  k8s/system/reflector/Chart.yaml
Labels: area/k8s

fix(helm): update chart reloader to 1.0.69
  k8s/system/reloader/Chart.yaml
Labels: area/k8s

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
    - any-glob-to-any-file: "ansible/**/*"
area/github:
  - changed-files:
    - any-glob-to-any-file: ".github/**/*"
area/k8s:
  - changed-files:
    - any-glob-to-any-file: "k8s/**/*"
area/hack:
  - changed-files:
    - any-glob-to-any-file: "hack/**/*"
area/terraform:
  - changed-files:
    - any-glob-to-any-file: "terraform/**/*"
