Repository mfin/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/k8s, area/hack, area/terraform

fix(ansible): update community.general to 8.0.2
  ansible/requirements.yaml
Labels: area/ansible

fix(helm): update chart kube-prometheus-stack to 54.0.1
  k8s/monitoring/kube-prometheus-stack/Chart.yaml
Labels: area/k8s

feat(helm): update chart volsync to 0.8.0
  k8s/storage/volsync/Chart.yaml
Labels: area/k8s

fix(helm): update chart snapshot-controller to 2.0.1
  k8s/storage/snapshot-controller/Chart.yaml
Labels: area/k8s

fix: appset
  k8s/bootstrap/argocd/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to b60cc2e
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 7aca53b
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/mfin/argocd to v2.9.1
  k8s/bootstrap/argocd/values.yaml
Labels: area/k8s

fix(helm): update chart grafana to 7.0.4
  k8s/monitoring/grafana/Chart.yaml
Labels: area/k8s

fix(helm): update chart argo-cd to 5.51.2
  k8s/bootstrap/argocd/Chart.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to bb4f2cc
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

fix(helm): update chart grafana to 7.0.5
  k8s/monitoring/grafana/Chart.yaml
Labels: area/k8s

feat(terraform): update terraform cloudflare to 4.19.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: area/terraform

chore(container): update image ghcr.io/mfin/argocd to fee5361
  k8s/bootstrap/argocd/values.yaml
Labels: area/k8s

fix(helm): update chart grafana to 7.0.6
  k8s/monitoring/grafana/Chart.yaml
Labels: area/k8s

fix(github-action): update renovatebot/github-action action to v39.1.2
  .github/workflows/renovate.yaml
Labels: area/github

chore(container): update image ghcr.io/authelia/authelia to 97740e6
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/mfin/postgres-minio-backup to 38c74da
  k8s/automation/n8n/templates/backup.yaml
  k8s/automation/nocodb/templates/backup.yaml
  k8s/selfhosted/miniflux/templates/backup.yaml
Labels: area/k8s

chore(container): update image ghcr.io/mfin/postgres-minio-restore to d655f47
  .taskfiles/postgres/templates/RestoreJob.tmpl.yaml
Labels: none

fix(container): update image ghcr.io/hay-kot/homebox to v0.10.2
  k8s/selfhosted/homebox/values.yaml
Labels: area/k8s

feat(helm): update chart prometheus-blackbox-exporter to 8.5.0
  k8s/monitoring/blackbox-exporter/Chart.yaml
Labels: area/k8s

fix: add remote dns locally
  ansible/rpi/inventory/group_vars/all/remote.sops.yaml
  ansible/rpi/inventory/group_vars/all/wireguard.sops.yaml
  ansible/rpi/playbooks/roles/bind9/tasks/main.yaml
  ansible/rpi/playbooks/roles/bind9/templates/named.conf.local.j2
  ansible/rpi/playbooks/roles/bind9/templates/remote.j2
  ansible/rpi/playbooks/roles/nextdns/templates/nextdns.conf.j2
Labels: area/ansible

fix(github-action): update renovatebot/github-action action to v39.1.3
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update image nocodb/nocodb to v0.202.7
  k8s/automation/nocodb/values.yaml
Labels: area/k8s

fix(helm): update chart reloader to 1.0.52
  k8s/system/reloader/Chart.yaml
Labels: area/k8s

feat(helm): update chart kube-prometheus-stack to 54.1.0
  k8s/monitoring/kube-prometheus-stack/Chart.yaml
Labels: area/k8s

feat(container): update image ghcr.io/navidrome/navidrome to v0.50.0
  k8s/media/navidrome/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/mfin/argocd to 542d5a8
  k8s/bootstrap/argocd/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/mfin/n8n to dd13657
  k8s/automation/n8n/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/mfin/postgres-minio-backup to 335b558
  k8s/automation/n8n/templates/backup.yaml
  k8s/automation/nocodb/templates/backup.yaml
  k8s/selfhosted/miniflux/templates/backup.yaml
Labels: area/k8s

chore(container): update image ghcr.io/mfin/postgres-minio-restore to 1ab0f96
  .taskfiles/postgres/templates/RestoreJob.tmpl.yaml
Labels: none

fix(github-release): update hashicorp/terraform to 1.6.4
  terraform/cloudflare/.terraform-version
  terraform/unifi/.terraform-version
Labels: area/terraform

fix(github-release): update kubernetes/kubernetes to v1.28.4
  .taskfiles/k8s/scripts/kubeconform.sh
Labels: none

feat(helm): update chart prometheus-blackbox-exporter to 8.6.0
  k8s/monitoring/blackbox-exporter/Chart.yaml
Labels: area/k8s

fix(helm): update chart prometheus-blackbox-exporter to 8.6.1
  k8s/monitoring/blackbox-exporter/Chart.yaml
Labels: area/k8s

fix(helm): update chart snapshot-controller to 2.0.2
  k8s/storage/snapshot-controller/Chart.yaml
Labels: area/k8s

fix: gotenberg security and resources
  k8s/automation/gotenberg/values.yaml
Labels: area/k8s

fix: privileged
  k8s/automation/gotenberg/values.yaml
Labels: area/k8s

fix: ingress
  k8s/automation/gotenberg/secrets.yaml
  k8s/automation/gotenberg/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 41cf867
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/k8s:
  - "k8s/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
