Repository mfin/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/k8s, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/k8s:
  - "k8s/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"

fix: selfHeal
  k8s/bootstrap/app-of-apps/values.yaml
Labels: area/k8s

fix: add more templating
  k8s/bootstrap/app-of-apps/templates/helm-applications.yaml
Labels: area/k8s

fix: try direct
  k8s/media/radarr/templates/volsync.yaml
  k8s/media/sonarr/templates/volsync.yaml
Labels: area/k8s

fix: volsync
  .taskfiles/volsync/ListJob.tmpl.yaml
  .taskfiles/volsync/Tasks.yaml
  .taskfiles/volsync/wait-for-job.sh
  Taskfile.yaml
  k8s/media/radarr/templates/volsync.yaml
  k8s/media/sonarr/templates/volsync.yaml
Labels: area/k8s

fix: volsync
  k8s/automation/home-assistant/templates/volsync.yaml
  k8s/media/sonarr/templates/volsync.yaml
Labels: area/k8s

fix: add secrets
  k8s/automation/home-assistant/secrets.yaml
Labels: area/k8s

fix: some storage stuff
  k8s/bootstrap/app-of-apps/values.yaml
  k8s/storage/democratic-csi-local/Chart.yaml
  k8s/storage/democratic-csi-local/values.yaml
  k8s/storage/snapshot-controller/Chart.yaml
  k8s/storage/snapshot-controller/values.yaml
  k8s/storage/snapshot-validation-webhook/Chart.yaml
Labels: area/k8s

fix: enable democratic-csi
  k8s/bootstrap/app-of-apps/values.yaml
Labels: area/k8s

fix: test
  k8s/selfhosted/whoami/templates/pvc.yaml
  k8s/selfhosted/whoami/values.yaml
Labels: area/k8s

fix: test backup
  k8s/selfhosted/whoami/secrets.yaml
  k8s/selfhosted/whoami/templates/volsync.yaml
Labels: area/k8s

feat(helm): update chart intel-device-plugins-operator to 0.26.0
  k8s/system/intel-device-plugins-operator/Chart.yaml
Labels: area/k8s

chore: bump gpu plugin
  k8s/system/intel-device-plugins-gpu/templates/gpudeviceplugin.yaml
Labels: area/k8s

fix: test
  k8s/selfhosted/whoami/templates/volsync.yaml
Labels: area/k8s

fix: add vsc
  k8s/storage/democratic-csi-local/values.yaml
Labels: area/k8s

fix: vsc
  k8s/storage/democratic-csi-local/templates/vsc.yaml
  k8s/storage/democratic-csi-local/values.yaml
Labels: area/k8s

fix: clone
  k8s/selfhosted/whoami/templates/volsync.yaml
Labels: area/k8s

fix: temp disable whoami
  k8s/bootstrap/app-of-apps/values.yaml
Labels: area/k8s

fix: enable whoami
  k8s/bootstrap/app-of-apps/values.yaml
  k8s/selfhosted/whoami/templates/volsync.yaml
Labels: area/k8s

fix: disable whoami
  k8s/bootstrap/app-of-apps/values.yaml
  k8s/selfhosted/whoami/templates/volsync.yaml
Labels: area/k8s

fix: enable
  k8s/bootstrap/app-of-apps/values.yaml
Labels: area/k8s

fix: bigger interval
  k8s/selfhosted/whoami/templates/volsync.yaml
Labels: area/k8s

fix(helm): update chart goldilocks to 6.4.2
  k8s/monitoring/goldilocks/Chart.yaml
Labels: area/k8s

feat(container): update image apache/tika to v2.7.0.0
  k8s/automation/tika/values.yaml
Labels: area/k8s

feat(helm): update chart loki to 4.5.0
  k8s/monitoring/loki/Chart.yaml
Labels: area/k8s

fix(helm): update chart external-dns to 1.12.1
  k8s/networking/external-dns/Chart.yaml
Labels: area/k8s

fix(helm): update chart reloader to v1.0.4
  k8s/system/reloader/Chart.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.370
  k8s/media/sonarr/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.371
  k8s/media/sonarr/values.yaml
Labels: area/k8s

fix: move to outside minio
  k8s/automation/home-assistant/secrets.yaml
  k8s/media/radarr/secrets.yaml
  k8s/media/sonarr/secrets.yaml
  k8s/selfhosted/whoami/secrets.yaml
Labels: area/k8s

fix: disable minio
  k8s/bootstrap/app-of-apps/values.yaml
Labels: area/k8s

fix: archive minio
  k8s/archive/minio/Chart.yaml
  k8s/archive/minio/secrets.yaml
  k8s/archive/minio/templates/pvc.yaml
  k8s/archive/minio/templates/secret.yaml
  k8s/archive/minio/values.yaml
Labels: area/k8s

fix: spin down whoami
  k8s/selfhosted/whoami/values.yaml
Labels: area/k8s

fix: disable whoami sync
  k8s/bootstrap/app-of-apps/templates/helm-applications.yaml
  k8s/bootstrap/app-of-apps/values.yaml
Labels: area/k8s

fix: enable whoami
  k8s/selfhosted/whoami/values.yaml
Labels: area/k8s

feat(github-action): update renovatebot/github-action action to v34.125.1
  .github/workflows/renovate.yaml
Labels: area/github

fix: add snapshot and restore caps
  .taskfiles/volsync/ReplicationDestination.tmpl.yaml
  .taskfiles/volsync/Tasks.yaml
  .taskfiles/volsync/WipeJob.tmpl.yaml
Labels: none

fix: enable back autoSync
  k8s/bootstrap/app-of-apps/values.yaml
Labels: area/k8s

fix: add more snapshots
  k8s/authentication/authelia/secrets.yaml
  k8s/authentication/authelia/templates/volsync.yaml
  k8s/automation/node-red/secrets.yaml
  k8s/automation/node-red/templates/volsync.yaml
  k8s/automation/zigbee2mqtt/secrets.yaml
  k8s/automation/zigbee2mqtt/templates/volsync.yaml
Labels: area/k8s

fix: disable whoami sync
  k8s/bootstrap/app-of-apps/values.yaml
Labels: area/k8s

fix: add suspend and resume for deployments
  .taskfiles/volsync/Tasks.yaml
  k8s/authentication/authelia/test.sh
  k8s/bootstrap/app-of-apps/values.yaml
Labels: area/k8s
