Repository mfin/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/k8s, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/k8s:
  - "k8s/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"

chore(container): update image ghcr.io/authelia/authelia to 429679c
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 7bbc6a2
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to bdc710a
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

fix(helm): update chart node-feature-discovery to 0.13.2
  k8s/system/node-feature-discovery/Chart.yaml
Labels: area/k8s

feat(container): update image ghcr.io/koenkk/zigbee2mqtt to v1.31.0
  k8s/automation/zigbee2mqtt/values.yaml
Labels: area/k8s

feat(helm): update chart loki to 5.6.0
  k8s/monitoring/loki/Chart.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.535
  k8s/media/sonarr/values.yaml
Labels: area/k8s

feat: add lldap
  k8s/authentication/lldap/Chart.yaml
  k8s/authentication/lldap/secrets.yaml
  k8s/authentication/lldap/templates/pvc.yaml
  k8s/authentication/lldap/templates/secret.yaml
  k8s/authentication/lldap/templates/volsync.yaml
  k8s/authentication/lldap/values.yaml
  k8s/bootstrap/app-of-apps/values.yaml
Labels: area/k8s

fix: permissions
  k8s/authentication/lldap/values.yaml
Labels: area/k8s

fix(github-release): update k3s-io/k3s to v1.27.2+k3s1
  ansible/k3s/inventory/group_vars/all/k3s.yaml
Labels: area/ansible

fix(helm): update chart loki to 5.6.1
  k8s/monitoring/loki/Chart.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 125a64f
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to cc12c2b
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/wakeful-cloud/yarr to 195b447
  k8s/selfhosted/yarr/values.yaml
Labels: area/k8s

fix(github-action): update renovatebot/github-action action to v38.1.1
  .github/workflows/renovate.yaml
Labels: area/github

chore(container): update image ghcr.io/wakeful-cloud/yarr to 0de4ce0
  k8s/selfhosted/yarr/values.yaml
Labels: area/k8s

fix(github-action): update renovatebot/github-action action to v38.1.2
  .github/workflows/renovate.yaml
Labels: area/github

feat(container): update image ghcr.io/onedr0p/radarr-develop to v4.6.0.7439
  k8s/media/radarr-4k/values.yaml
  k8s/media/radarr/values.yaml
Labels: area/k8s

feat(container): update image quay.io/minio/minio to release.2023-06-02t23-17-26z
  k8s/archive/minio/values.yaml
Labels: area/k8s

feat(helm): update chart prometheus-blackbox-exporter to 7.9.0
  k8s/monitoring/blackbox-exporter/Chart.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.5.2.3484
  k8s/media/prowlarr/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/readarr-develop to v0.1.7.1882
  k8s/media/readarr/values.yaml
Labels: area/k8s

feat(github-action): update actions/labeler action to v4.1.0
  .github/workflows/labeler.yaml
Labels: area/github

chore(container): update image ghcr.io/authelia/authelia to 827d7b1
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to d85d2ae
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to a5df90e
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 1b7ae57
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/lidarr-develop to v1.2.3.3267
  k8s/media/lidarr/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/plex to v1.32.3.7162-b0a36929b
  k8s/media/plex/values.yaml
Labels: area/k8s

feat(container): update image ghcr.io/paperless-ngx/paperless-ngx to v1.15.1
  k8s/selfhosted/paperless-ngx/values.yaml
Labels: area/k8s

feat(helm): update chart argo-cd to 5.35.1
  k8s/bootstrap/argocd/Chart.yaml
Labels: area/k8s

feat(helm): update chart traefik to 23.1.0
  k8s/networking/traefik/Chart.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 6ad8c07
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to f71c62c
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 9c9dee0
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to bac5b68
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to fb418cf
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 51061a3
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

fix: remove lldap
  k8s/authentication/lldap/Chart.yaml
  k8s/authentication/lldap/secrets.yaml
  k8s/authentication/lldap/templates/pvc.yaml
  k8s/authentication/lldap/templates/secret.yaml
  k8s/authentication/lldap/templates/volsync.yaml
  k8s/authentication/lldap/values.yaml
  k8s/bootstrap/app-of-apps/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to e11ad4f
  k8s/authentication/authelia/values.yaml
Labels: area/k8s
