Repository mfin/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/k8s, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/k8s:
  - "k8s/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"

chore(container): update image ghcr.io/authelia/authelia to 2cf7640
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 2b1b81b
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/autobrr/autobrr to v1.27.1
  k8s/media/autobrr/values.yaml
Labels: area/k8s

feat(container): update image ghcr.io/sct/overseerr to v1.33.0
  k8s/media/overseerr/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 13c2eb7
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

fix(helm): update chart cloudnative-pg to 0.18.1
  k8s/archive/cloudnative-pg/Chart.yaml
Labels: area/k8s

fix(helm): update chart reflector to 7.0.178
  k8s/system/reflector/Chart.yaml
Labels: area/k8s

feat(container): update image cloudflare/cloudflared to v2023.6.0
  k8s/networking/cloudflared/values.yaml
Labels: area/k8s

feat(container): update image ghcr.io/paperless-ngx/paperless-ngx to v1.16.0
  k8s/selfhosted/paperless-ngx/values.yaml
Labels: area/k8s

feat(helm): update chart loki to 5.8.0
  k8s/monitoring/loki/Chart.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to a2f81bd
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

fix(container): update image quay.io/minio/minio to release.2023-06-16t02-41-06z
  k8s/archive/minio/values.yaml
Labels: area/k8s

fix(github-action): update renovatebot/github-action action to v38.1.6
  .github/workflows/renovate.yaml
Labels: area/github

fix(ansible): update community.sops to 1.6.2
  ansible/requirements.yaml
Labels: area/ansible

feat(helm): update chart kube-prometheus-stack to 46.8.0
  k8s/monitoring/kube-prometheus-stack/Chart.yaml
Labels: area/k8s

chore(container): update image ghcr.io/onedr0p/lidarr-develop to 2ef43bc
  k8s/media/lidarr/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/onedr0p/readarr-develop to 59d04ce
  k8s/media/readarr/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 2cbdb7a
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/onedr0p/sabnzbd to 0e62d04
  k8s/media/sabnzbd/values.yaml
Labels: area/k8s

fix: change yarr domain
  k8s/selfhosted/yarr/secrets.yaml
Labels: area/k8s

fix: some more changes
  k8s/selfhosted/miniflux/secrets.yaml
  k8s/selfhosted/miniflux/templates/secret.yaml
  k8s/selfhosted/miniflux/values.yaml
Labels: area/k8s

fix: indent
  k8s/selfhosted/miniflux/values.yaml
Labels: area/k8s

feat: miniflux (#616)
  k8s/selfhosted/miniflux/Chart.yaml
  k8s/selfhosted/miniflux/secrets.yaml
  k8s/selfhosted/miniflux/templates/secret.yaml
  k8s/selfhosted/miniflux/values.yaml
  k8s/selfhosted/yarr/secrets.yaml
Labels: area/k8s

fix: enable miniflux
  k8s/bootstrap/app-of-apps/values.yaml
Labels: area/k8s

fix: expose
  k8s/selfhosted/miniflux/secrets.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 43222d2
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

Update values.yaml
  k8s/selfhosted/miniflux/values.yaml
Labels: area/k8s

Update values.yaml
  k8s/selfhosted/miniflux/values.yaml
Labels: area/k8s

Update values.yaml
  k8s/selfhosted/miniflux/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/wakeful-cloud/yarr to 000d2e9
  k8s/selfhosted/yarr/values.yaml
Labels: area/k8s

fix(github-action): update renovatebot/github-action action to v38.1.7
  .github/workflows/renovate.yaml
Labels: area/github

chore(container): update image ghcr.io/authelia/authelia to f0581b8
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 0e3b431
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to d6b6a2e
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 96137f5
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/recyclarr/recyclarr to 20f5480
  k8s/media/recyclarr/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 88498ba
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to a0479ef
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 7ec2755
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to e2db4a0
  k8s/authentication/authelia/values.yaml
Labels: area/k8s
