Repository mfin/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/k8s, area/hack, area/terraform

fix: move kubeconfig location
  .envrc
Labels: none

feat: add sabnzbd
  k8s/bootstrap/app-of-apps/values.yaml
  k8s/media/sabnzbd/Chart.yaml
  k8s/media/sabnzbd/secrets.yaml
  k8s/media/sabnzbd/templates/pvc.yaml
  k8s/media/sabnzbd/templates/secret.yaml
  k8s/media/sabnzbd/values.yaml
Labels: area/k8s

feat(container): update image ghcr.io/koenkk/zigbee2mqtt to v1.30.0
  k8s/automation/zigbee2mqtt/values.yaml
Labels: area/k8s

fix: add support for sabnzbd
  k8s/media/unpackerr/values.yaml
Labels: area/k8s

fix: update paths
  k8s/media/unpackerr/values.yaml
Labels: area/k8s

fix: remove folders
  k8s/media/unpackerr/values.yaml
Labels: area/k8s

feat(helm): update chart prometheus-blackbox-exporter to 7.4.0
  k8s/monitoring/blackbox-exporter/Chart.yaml
Labels: area/k8s

fix(helm): update chart grafana to 6.50.7
  k8s/monitoring/grafana/Chart.yaml
Labels: area/k8s

feat(container): update image homeassistant/home-assistant to v2023.2.1
  k8s/automation/home-assistant/values.yaml
Labels: area/k8s

feat: add unpackerr notifications
  k8s/media/unpackerr/secrets.yaml
  k8s/media/unpackerr/templates/secret.yaml
  k8s/media/unpackerr/values.yaml
Labels: area/k8s

fix: only notify on failed events
  k8s/media/unpackerr/templates/secret.yaml
Labels: area/k8s

fix: add reload annotation
  k8s/media/unpackerr/values.yaml
Labels: area/k8s

fix: maybe this should work
  k8s/media/unpackerr/templates/secret.yaml
Labels: area/k8s

fix: maybe this should work
  k8s/media/unpackerr/templates/secret.yaml
Labels: area/k8s

fix: move config to configmap
  k8s/media/unpackerr/secrets.yaml
  k8s/media/unpackerr/templates/configmap.yaml
  k8s/media/unpackerr/templates/secret.yaml
  k8s/media/unpackerr/values.yaml
Labels: area/k8s

fix(helm): update chart kube-prometheus-stack to 44.3.1
  k8s/monitoring/kube-prometheus-stack/Chart.yaml
Labels: area/k8s

feat(container): update image cloudflare/cloudflared to v2023.2.1
  k8s/archive/cloudflared/values.yaml
Labels: area/k8s

feat(helm): update chart prometheus-blackbox-exporter to 7.5.0
  k8s/monitoring/blackbox-exporter/Chart.yaml
Labels: area/k8s

fix(helm): update chart argo-cd to 5.19.14
  k8s/bootstrap/argocd/Chart.yaml
Labels: area/k8s

fix: raise xteve limits
  k8s/media/xteve/values.yaml
Labels: area/k8s

fix(helm): update chart goldilocks to 6.4.1
  k8s/monitoring/goldilocks/Chart.yaml
Labels: area/k8s

feat(github-action): update renovatebot/github-action action to v34.122.0
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-action): update renovatebot/github-action action to v34.124.1
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-action): update renovatebot/github-action action to v34.124.3
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.1.3.2521
  k8s/media/prowlarr/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.369
  k8s/media/sonarr/values.yaml
Labels: area/k8s

fix(container): update image homeassistant/home-assistant to v2023.2.2
  k8s/automation/home-assistant/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/sabnzbd to v3.7.2
  k8s/media/sabnzbd/values.yaml
Labels: area/k8s

fix: add probes to sonarr
  k8s/media/sonarr/values.yaml
Labels: area/k8s

fix rename primary configuration
  terraform/cloudflare/primary_domain.tf
Labels: area/terraform

fix(helm): update chart app-template to 1.3.1
  k8s/archive/cloudflared/Chart.yaml
  k8s/authentication/authelia/Chart.yaml
  k8s/authentication/glauth/Chart.yaml
  k8s/automation/flaresolverr/Chart.yaml
  k8s/automation/gotenberg/Chart.yaml
  k8s/automation/home-assistant/Chart.yaml
  k8s/automation/mosquitto/Chart.yaml
  k8s/automation/node-red/Chart.yaml
  k8s/automation/tika/Chart.yaml
  k8s/automation/zigbee2mqtt/Chart.yaml
  k8s/media/bazarr/Chart.yaml
  k8s/media/overseerr/Chart.yaml
  k8s/media/plex/Chart.yaml
  k8s/media/prowlarr/Chart.yaml
  k8s/media/qbittorrent/Chart.yaml
  k8s/media/radarr-4k/Chart.yaml
  k8s/media/radarr/Chart.yaml
  k8s/media/sabnzbd/Chart.yaml
  k8s/media/sonarr/Chart.yaml
  k8s/media/tautulli/Chart.yaml
  k8s/media/unpackerr/Chart.yaml
  k8s/media/xteve/Chart.yaml
  k8s/monitoring/unpoller/Chart.yaml
  k8s/monitoring/vector-agent/Chart.yaml
  k8s/monitoring/vector-aggregator/Chart.yaml
  k8s/networking/cloudflare-ddns/Chart.yaml
  k8s/networking/k8s-gateway/Chart.yaml
  k8s/selfhosted/mailrise/Chart.yaml
  k8s/selfhosted/paperless-ngx/Chart.yaml
  k8s/selfhosted/whoami/Chart.yaml
  k8s/storage/minio/Chart.yaml
  k8s/storage/redis/Chart.yaml
Labels: area/k8s

fix(helm): update chart argo-cd to 5.19.15
  k8s/bootstrap/argocd/Chart.yaml
Labels: area/k8s

feat: add filebrowser
  k8s/bootstrap/app-of-apps/values.yaml
  k8s/selfhosted/filebrowser/Chart.yaml
  k8s/selfhosted/filebrowser/secrets.yaml
  k8s/selfhosted/filebrowser/templates/pvc.yaml
  k8s/selfhosted/filebrowser/values.yaml
Labels: area/k8s

fix: add init container
  k8s/selfhosted/filebrowser/values.yaml
Labels: area/k8s

fix: rename
  k8s/selfhosted/files/Chart.yaml
  k8s/selfhosted/files/secrets.yaml
  k8s/selfhosted/files/templates/pvc.yaml
  k8s/selfhosted/files/values.yaml
Labels: area/k8s

fix: rename
  k8s/bootstrap/app-of-apps/values.yaml
Labels: area/k8s

fix: rename volume
  k8s/selfhosted/files/values.yaml
Labels: area/k8s

fix: some configuration
  k8s/selfhosted/files/templates/configmap.yaml
  k8s/selfhosted/files/values.yaml
  k8s/selfhosted/whoami/values.yaml
Labels: area/k8s

fix: volume anme
  k8s/selfhosted/files/values.yaml
Labels: area/k8s

fix: configuration
  k8s/selfhosted/files/templates/configmap.yaml
  k8s/selfhosted/files/values.yaml
Labels: area/k8s

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/k8s:
  - "k8s/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
