Repository mfin/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/k8s, area/hack, area/terraform

fix file name
  .github/workflows/sync-labels.yaml
Labels: area/github

updates to labels
  .github/labels.yaml
  .github/workflows/sync-labels.yaml
Labels: area/github

try this
  .github/workflows/sync-labels.yaml
Labels: area/github

action for label sync
  .github/workflows/sync-labels.yaml
Labels: area/github

update labels
  .github/labels.yaml
Labels: area/github

fix paths
  .github/workflows/sync-labels.yaml
Labels: area/github

update labels
  .github/workflows/sync-labels.yaml
Labels: area/github

autoMerge github-actions
  .github/renovate.json
  .github/renovate/autoMerge.json
Labels: area/github

update renovate tag for k3s
  ansible/inventory/homelab/group_vars/all.yml
Labels: area/ansible

just a test
  ansible/inventory/homelab/group_vars/all.yml
Labels: area/ansible

test
  .github/renovate.json
Labels: area/github

back to current
  ansible/inventory/homelab/group_vars/all.yml
Labels: area/ansible

update renovate
  .github/renovate.json
Labels: area/github

update renovate
  .github/renovate.json
  ansible/inventory/homelab/group_vars/all.yml
Labels: area/ansible, area/github

stupid
  ansible/inventory/homelab/group_vars/all.yml
Labels: area/ansible

update labeler
  .github/workflows/labeler.yaml
Labels: area/github

update labeler
  .github/workflows/labeler.yaml
Labels: area/github

json5
  .github/renovate.json5
  .github/renovate/autoMerge.json5
  .github/renovate/labels.json5
  .github/renovate/semanticCommits.json5
Labels: area/github

test
  k8s/selfhosted/whoami/Chart.yaml
Labels: area/k8s

update renovate config
  .github/renovate.json5
  .github/renovate/commitMessage.json5
Labels: area/github

fix: use slv as OCR language
  k8s/selfhosted/paperless-ngx/values.yaml
Labels: area/k8s

fix: better argocd notifications
  k8s/bootstrap/argocd/values.yaml
Labels: area/k8s

fix: temp disable values
  k8s/system/node-feature-discovery/values.yaml
Labels: area/k8s

fix: enable back
  k8s/system/node-feature-discovery/values.yaml
Labels: area/k8s

fix: enable all triggers for notifications
  k8s/bootstrap/argocd/secrets.yaml
Labels: area/k8s

fix: wrong use of default
  k8s/bootstrap/app-of-apps/templates/applications.yaml
Labels: area/k8s

feat: enable Github checkmarks
  k8s/bootstrap/app-of-apps/templates/applications.yaml
  k8s/bootstrap/argocd/secrets.yaml
  k8s/bootstrap/argocd/templates/secret.yaml
  k8s/bootstrap/argocd/values.yaml
Labels: area/k8s

fix: unquote
  k8s/bootstrap/argocd/templates/secret.yaml
Labels: area/k8s

fix: int
  k8s/bootstrap/argocd/secrets.yaml
Labels: area/k8s

fix: strings
  k8s/bootstrap/argocd/secrets.yaml
  k8s/bootstrap/argocd/templates/secret.yaml
Labels: area/k8s

fix: int
  k8s/bootstrap/argocd/templates/secret.yaml
Labels: area/k8s

fix: string
  k8s/bootstrap/argocd/templates/secret.yaml
Labels: area/k8s

fix: try this
  k8s/bootstrap/argocd/values.yaml
Labels: area/k8s

fix: remove quotes
  k8s/bootstrap/argocd/templates/secret.yaml
  k8s/bootstrap/argocd/values.yaml
Labels: area/k8s

fix: remove quotes
  k8s/bootstrap/argocd/secrets.yaml
Labels: area/k8s

fix: rework values
  k8s/bootstrap/argocd/secrets.yaml
  k8s/bootstrap/argocd/templates/secret.yaml
  k8s/bootstrap/argocd/values.yaml
Labels: area/k8s

fix: change check label
  k8s/bootstrap/argocd/values.yaml
Labels: area/k8s

fix: improve checks
  k8s/bootstrap/argocd/values.yaml
Labels: area/k8s

test
  k8s/bootstrap/argocd/Chart.yaml
  k8s/media/radarr/values.yaml
Labels: area/k8s

fix: repo links
  k8s/bootstrap/argocd/Chart.yaml
  k8s/selfhosted/whoami/Chart.yaml
Labels: area/k8s

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/k8s:
  - "k8s/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
