Repository mfin/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/k8s, area/hack, area/terraform

feat: add inital terraform configuration
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/homelab_domain.tf
  terraform/cloudflare/main.tf
  terraform/cloudflare/providers.tf
  terraform/cloudflare/secret.sops.yaml
Labels: area/terraform

fix: some rework on ansible
  Makefile
  ansible/k3s/ansible.cfg
  ansible/k3s/collections/requirements.yml
  ansible/k3s/inventory/homelab/group_vars/all.yml
  ansible/k3s/inventory/homelab/hosts.ini
  ansible/k3s/k3s.yml
  ansible/k3s/roles/download/tasks/main.yml
  ansible/k3s/roles/k3s/master/defaults/main.yml
  ansible/k3s/roles/k3s/master/tasks/main.yml
  ansible/k3s/roles/k3s/master/templates/k3s.service.j2
  ansible/k3s/roles/k3s/worker/tasks/main.yml
  ansible/k3s/roles/k3s/worker/templates/k3s.service.j2
  ansible/k3s/roles/requirements/tasks/main.yml
  ansible/roles/requirements/tasks/main.yml
Labels: area/ansible

fix: ansible -> k3s-ansible target
  Makefile
Labels: none

fix: add tf-cloudflare target
  Makefile
Labels: none

fix: some rework
  .taskfiles/ansible/Tasks.yaml
  Makefile
  Taskfile.yaml
  ansible/requirements.yaml
Labels: area/ansible

fix(container): update image ghcr.io/paperless-ngx/paperless-ngx to v1.12.2
  k8s/selfhosted/paperless-ngx/values.yaml
Labels: area/k8s

fix(helm): update chart argo-cd to 5.19.12
  k8s/bootstrap/argocd/Chart.yaml
Labels: area/k8s

feat(ansible): update community.general to 6.2.0
  ansible/requirements.yaml
Labels: area/ansible

feat(smartctl-exporter): init
  k8s/bootstrap/app-of-apps/values.yaml
  k8s/monitoring/smartctl-exporter/Chart.yaml
  k8s/monitoring/smartctl-exporter/values.yaml
Labels: area/k8s

feat: init rpi ansible
  ansible/rpi/ansible.cfg
  ansible/rpi/hosts.ini
  ansible/rpi/roles/requirements/tasks/main.yaml
  ansible/rpi/rpi.yaml
Labels: area/ansible

fix(ansible): major improvements
  Makefile
  ansible/k3s/ansible.cfg
  ansible/k3s/inventory/group_vars/all.yml
  ansible/k3s/inventory/hosts.ini
  ansible/k3s/k3s.yml
  ansible/k3s/roles/download/tasks/main.yml
  ansible/k3s/roles/k3s/master/tasks/main.yml
  ansible/k3s/roles/k3s/worker/tasks/main.yml
  ansible/k3s/roles/requirements/tasks/main.yml
  ansible/requirements.yaml
  ansible/rpi/ansible.cfg
  ansible/rpi/inventory/group_vars/all/coredns.yaml
  ansible/rpi/inventory/group_vars/all/secret.sops.yaml
  ansible/rpi/inventory/hosts.ini
  ansible/rpi/roles/coredns/handlers/main.yaml
  ansible/rpi/roles/coredns/tasks/main.yaml
  ansible/rpi/roles/coredns/templates/Corefile.j2
  ansible/rpi/roles/coredns/templates/coredns.service.j2
  ansible/rpi/roles/coredns/templates/home_domain.j2
  ansible/rpi/roles/coredns/templates/remote_domain.j2
  ansible/rpi/roles/nextdns/handlers/main.yaml
  ansible/rpi/roles/nextdns/tasks/main.yaml
  ansible/rpi/roles/nextdns/templates/nextdns.conf.j2
  ansible/rpi/roles/nextdns/templates/nextdns.service.j2
  ansible/rpi/roles/requirements/tasks/main.yaml
  ansible/rpi/roles/systemd/tasks/main.yaml
  ansible/rpi/roles/ufw/tasks/main.yaml
  ansible/rpi/rpi.yaml
Labels: area/ansible

fix(ansible): add posix collection
  ansible/requirements.yaml
Labels: area/ansible

fix: move inventory
  ansible/k3s/inventory/group_vars/all/k3s.yml
Labels: area/ansible

fix(ansible): coredns version refactor
  ansible/rpi/inventory/group_vars/all/coredns.yaml
  ansible/rpi/roles/coredns/tasks/main.yaml
Labels: area/ansible

fix(ansible): add play names
  ansible/k3s/k3s.yml
  ansible/rpi/rpi.yaml
Labels: area/ansible

fix: rework ansible
  ansible/rpi/inventory/group_vars/all/home.sops.yaml
  ansible/rpi/inventory/group_vars/all/nextdns.sops.yaml
  ansible/rpi/inventory/group_vars/all/remote.sops.yaml
  ansible/rpi/inventory/group_vars/all/secret.sops.yaml
  ansible/rpi/inventory/group_vars/all/wireguard.sops.yaml
  ansible/rpi/roles/coredns/tasks/main.yaml
  ansible/rpi/roles/coredns/templates/Corefile.j2
  ansible/rpi/roles/coredns/templates/home.domain.j2
  ansible/rpi/roles/coredns/templates/remote.domain.j2
  ansible/rpi/roles/nextdns/templates/nextdns.conf.j2
  ansible/rpi/roles/systemd/tasks/main.yaml
  ansible/rpi/roles/wireguard/handlers/main.yaml
  ansible/rpi/roles/wireguard/tasks/main.yaml
  ansible/rpi/roles/wireguard/templates/wg0.conf.j2
  ansible/rpi/rpi.yaml
Labels: area/ansible

fix(ansible): improve cfg
  ansible/k3s/ansible.cfg
  ansible/rpi/ansible.cfg
Labels: area/ansible

fix(ansible): per role dependencies
  ansible/rpi/roles/coredns/tasks/main.yaml
  ansible/rpi/roles/nextdns/tasks/main.yaml
  ansible/rpi/roles/requirements/tasks/main.yaml
  ansible/rpi/roles/systemd/tasks/main.yaml
  ansible/rpi/roles/ufw/tasks/main.yaml
  ansible/rpi/roles/wireguard/tasks/main.yaml
Labels: area/ansible

fix: some renames
  Taskfile.yaml
  ansible/k3s/inventory/group_vars/all/k3s.yaml
  ansible/k3s/k3s.yaml
  ansible/k3s/roles/download/tasks/main.yaml
  ansible/k3s/roles/k3s/master/defaults/main.yaml
  ansible/k3s/roles/k3s/master/tasks/main.yaml
  ansible/k3s/roles/k3s/worker/tasks/main.yaml
  ansible/k3s/roles/requirements/tasks/main.yaml
  k8s/system/intel-device-plugins-gpu/templates/gpudeviceplugin.yaml
Labels: area/ansible, area/k8s

feat(terraform): add initial unifi configuration
  terraform/unifi/.terraform.lock.hcl
  terraform/unifi/main.tf
  terraform/unifi/port_forward.tf
  terraform/unifi/providers.tf
  terraform/unifi/secret.sops.yaml
  terraform/unifi/static_route.tf
Labels: area/terraform

fix(helm): update chart reloader to v1.0.3
  k8s/system/reloader/Chart.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.1.2.2453
  k8s/media/prowlarr/values.yaml
Labels: area/k8s

fix(helm): update chart promtail to 6.8.2
  k8s/monitoring/promtail/Chart.yaml
Labels: area/k8s

fix(container): update image quay.io/minio/minio to release.2023-01-31t02-24-19z
  k8s/storage/minio/values.yaml
Labels: area/k8s

feat(ansible): update community.general to 6.3.0
  ansible/requirements.yaml
Labels: area/ansible

fix(ansible): some more rework
  ansible/k3s/ansible.cfg
  ansible/k3s/inventory/group_vars/all/all.yaml
  ansible/k3s/playbooks/k3s.yaml
  ansible/k3s/playbooks/prepare.yaml
  ansible/k3s/playbooks/roles/download/tasks/main.yaml
  ansible/k3s/playbooks/roles/k3s/master/defaults/main.yaml
  ansible/k3s/playbooks/roles/k3s/master/tasks/main.yaml
  ansible/k3s/playbooks/roles/k3s/master/templates/k3s.service.j2
  ansible/k3s/playbooks/roles/k3s/worker/tasks/main.yaml
  ansible/k3s/playbooks/roles/k3s/worker/templates/k3s.service.j2
  ansible/k3s/playbooks/roles/requirements/tasks/main.yaml
  ansible/rpi/ansible.cfg
  ansible/rpi/playbooks/all.yaml
  ansible/rpi/playbooks/coredns.yaml
  ansible/rpi/playbooks/nextdns.yaml
  ansible/rpi/playbooks/prepare.yaml
  ansible/rpi/playbooks/roles/coredns/handlers/main.yaml
  ansible/rpi/playbooks/roles/coredns/tasks/main.yaml
  ansible/rpi/playbooks/roles/coredns/templates/Corefile.j2
  ansible/rpi/playbooks/roles/coredns/templates/coredns.service.j2
  ansible/rpi/playbooks/roles/coredns/templates/home.domain.j2
  ansible/rpi/playbooks/roles/coredns/templates/remote.domain.j2
  ansible/rpi/playbooks/roles/nextdns/handlers/main.yaml
  ansible/rpi/playbooks/roles/nextdns/tasks/main.yaml
  ansible/rpi/playbooks/roles/nextdns/templates/nextdns.conf.j2
  ansible/rpi/playbooks/roles/nextdns/templates/nextdns.service.j2
  ansible/rpi/playbooks/roles/prepare/tasks/main.yaml
  ansible/rpi/playbooks/roles/systemd/tasks/main.yaml
  ansible/rpi/playbooks/roles/ufw/tasks/main.yaml
  ansible/rpi/playbooks/roles/wireguard/handlers/main.yaml
  ansible/rpi/playbooks/roles/wireguard/tasks/main.yaml
  ansible/rpi/playbooks/roles/wireguard/templates/wg0.conf.j2
  ansible/rpi/playbooks/systemd.yaml
  ansible/rpi/playbooks/ufw.yaml
  ansible/rpi/playbooks/wireguard.yaml
Labels: area/ansible

fix(terraform): add mx records + some rework
  terraform/cloudflare/homelab_domain.tf
  terraform/cloudflare/providers.tf
  terraform/cloudflare/secret.sops.yaml
Labels: area/terraform

fix(helm): update chart grafana to 6.50.6
  k8s/monitoring/grafana/Chart.yaml
Labels: area/k8s

chore: let's try something
  .github/renovate.json5
Labels: area/github

Revert "chore: let's try something"
  .github/renovate.json5
Labels: area/github

fix(ansible): add upgrade role for rpi
  ansible/rpi/playbooks/roles/upgrade/tasks/main.yaml
  ansible/rpi/playbooks/upgrade.yaml
Labels: area/ansible

feat: init system-upgrade-controller
  k8s/bootstrap/app-of-apps/values.yaml
  k8s/system/system-upgrade-controller/kustomization.yaml
Labels: area/k8s

fix: add namespace
  k8s/system/system-upgrade-controller/kustomization.yaml
Labels: area/k8s

fix: add namespace
  k8s/system/system-upgrade-controller/kustomization.yaml
Labels: area/k8s

fix: namespace
  k8s/system/system-upgrade-controller/kustomization.yaml
Labels: area/k8s

fix: simpler
  k8s/system/system-upgrade-controller/kustomization.yaml
Labels: area/k8s

fix: leave namespace out
  k8s/system/system-upgrade-controller/kustomization.yaml
Labels: area/k8s

fix: temp disable
  k8s/bootstrap/app-of-apps/values.yaml
Labels: area/k8s

fix: enable back
  k8s/bootstrap/app-of-apps/values.yaml
Labels: area/k8s

fix: ue git generator for kustomize apps
  k8s/bootstrap/app-of-apps/templates/helm-applications.yaml
  k8s/bootstrap/app-of-apps/templates/kustomize-applications.yaml
  k8s/bootstrap/app-of-apps/values.yaml
Labels: area/k8s

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/k8s:
  - "k8s/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
