Repository mfin/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/k8s, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/k8s:
  - "k8s/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"

fix: add audiobookshelf ingress annotation
  k8s/media/audiobookshelf/secrets.yaml
Labels: area/k8s

fix: typo
  k8s/media/audiobookshelf/values.yaml
Labels: area/k8s

feat: add apprise-api
  k8s/automation/apprise-api/Chart.yaml
  k8s/automation/apprise-api/secrets.yaml
  k8s/automation/apprise-api/templates/pvc.yaml
  k8s/automation/apprise-api/templates/volsync.yaml
  k8s/automation/apprise-api/values.yaml
  k8s/bootstrap/app-of-apps/values.yaml
Labels: area/k8s

fix: stateless
  k8s/automation/apprise-api/templates/pvc.yaml
  k8s/automation/apprise-api/templates/secret.yaml
  k8s/automation/apprise-api/templates/volsync.yaml
  k8s/automation/apprise-api/values.yaml
Labels: area/k8s

fix: secure auth
  k8s/automation/apprise-api/values.yaml
Labels: area/k8s

fix: remove secrets
  k8s/automation/apprise-api/secrets.yaml
Labels: area/k8s

fix: remove secret
  k8s/automation/apprise-api/templates/secret.yaml
  k8s/automation/apprise-api/values.yaml
Labels: area/k8s

feat(helm): update chart cloudnative-pg to 0.17.0
  k8s/archive/cloudnative-pg/Chart.yaml
Labels: area/k8s

feat(container)!: Update image docker.io/caronc/apprise to v1
  k8s/automation/apprise-api/values.yaml
Labels: area/k8s

feat(container): update image ghcr.io/coder/code-server to v4.10.0
  k8s/automation/home-assistant/values.yaml
Labels: area/k8s

fix(container): update image homeassistant/home-assistant to v2023.2.5
  k8s/automation/home-assistant/values.yaml
Labels: area/k8s

chore: refactor cloudflare
  terraform/cloudflare/domain_business.tf
  terraform/cloudflare/domain_email.tf
  terraform/cloudflare/domain_homelab.tf
  terraform/cloudflare/domain_personal.tf
  terraform/cloudflare/domain_remote.tf
  terraform/cloudflare/homelab_domain.tf
  terraform/cloudflare/primary_domain.tf
  terraform/cloudflare/secret.sops.yaml
  terraform/cloudflare/variables.tf
Labels: area/terraform

fix: add network domain
  terraform/cloudflare/domain_network.tf
  terraform/cloudflare/secret.sops.yaml
Labels: area/terraform

fix: move to fastmail
  terraform/cloudflare/domain_business.tf
  terraform/cloudflare/domain_email.tf
  terraform/cloudflare/domain_homelab.tf
  terraform/cloudflare/domain_personal.tf
  terraform/cloudflare/domain_remote.tf
Labels: area/terraform

fix: authelia smtp
  k8s/authentication/authelia/secrets.yaml
Labels: area/k8s

fix: user email
  k8s/authentication/glauth/secrets.yaml
Labels: area/k8s

feat(github-action): update renovatebot/github-action action to v34.141.0
  .github/workflows/renovate.yaml
Labels: area/github

fix: more cloudflare
  terraform/cloudflare/domain_homelab.tf
Labels: area/terraform

fix: more cloudflare
  terraform/cloudflare/domain_remote.tf
Labels: area/terraform

fix: add comment
  terraform/cloudflare/domain_remote.tf
Labels: area/terraform

fix: add dnssec and rules
  terraform/cloudflare/domain_business.tf
  terraform/cloudflare/domain_email.tf
  terraform/cloudflare/domain_network.tf
  terraform/cloudflare/domain_personal.tf
  terraform/cloudflare/domain_remote.tf
Labels: area/terraform

feat(helm): update chart pod-gateway to 6.1.0
  k8s/networking/pod-gateway/Chart.yaml
Labels: area/k8s

fix(helm): update chart kube-prometheus-stack to 45.1.1
  k8s/monitoring/kube-prometheus-stack/Chart.yaml
Labels: area/k8s

feat(github-action): update renovatebot/github-action action to v34.143.1
  .github/workflows/renovate.yaml
Labels: area/github

feat: add webdav
  k8s/networking/external-services/secrets.yaml
  k8s/networking/external-services/templates/webdav.yaml
Labels: area/k8s

fix: remove webdav
  k8s/networking/external-services/secrets.yaml
  k8s/networking/external-services/templates/webdav.yaml
Labels: area/k8s

fix: expose s3
  k8s/networking/external-services/templates/minio.yaml
Labels: area/k8s

feat(container): update image ghcr.io/paperless-ngx/paperless-ngx to v1.13.0
  k8s/selfhosted/paperless-ngx/values.yaml
Labels: area/k8s

fix(helm): update chart argo-cd to 5.21.1
  k8s/bootstrap/argocd/Chart.yaml
Labels: area/k8s

fix: update _dmarc
  terraform/cloudflare/domain_email.tf
  terraform/cloudflare/secret.sops.yaml
Labels: area/terraform

feat(helm): update chart argo-cd to 5.22.0
  k8s/bootstrap/argocd/Chart.yaml
Labels: area/k8s

fix: remove DE from filter
  terraform/cloudflare/domain_remote.tf
Labels: area/terraform

feat(github-action): update renovatebot/github-action action to v34.145.0
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update image quay.io/minio/minio to release.2023-02-17t17-52-43z
  k8s/archive/minio/values.yaml
Labels: area/k8s

fix: don't expose S3
  k8s/networking/external-services/templates/minio.yaml
Labels: area/k8s

chore(container): update image ghcr.io/wakeful-cloud/yarr to 0c04146
  k8s/selfhosted/yarr/values.yaml
Labels: area/k8s

fix(github-action): update renovatebot/github-action action to v34.145.1
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-action): update renovatebot/github-action action to v34.146.0
  .github/workflows/renovate.yaml
Labels: area/github

feat(helm): update chart promtail to 6.9.0
  k8s/monitoring/promtail/Chart.yaml
Labels: area/k8s

fix: some hajimari entries
  k8s/networking/external-services/templates/drive.yaml
  k8s/networking/external-services/templates/minio.yaml
  k8s/networking/external-services/templates/photos.yaml
Labels: area/k8s
