Repository mfin/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/k8s, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/k8s:
  - "k8s/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"

fix(container): update image quay.io/minio/minio to release.2023-03-13t19-46-17z
  k8s/archive/minio/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.401
  k8s/media/sonarr/values.yaml
Labels: area/k8s

fix(container): update image homeassistant/home-assistant to v2023.3.4
  k8s/automation/home-assistant/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 60452f9
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 369930d
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 2b8d41a
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/plex to v1.31.2.6810-a607d384f
  k8s/media/plex/values.yaml
Labels: area/k8s

fix: name -> app
  .taskfiles/argocd/Taskfile.yaml
  .taskfiles/k8s/Taskfile.yaml
  .taskfiles/k8s/scripts/kubeconform.sh
  .taskfiles/restic/Taskfile.yaml
  .taskfiles/volumes/Taskfile.yaml
  Taskfile.yaml
Labels: none

fix(github-action): update peter-evans/create-pull-request action to v4.2.4
  .github/workflows/publish-cloudflare-networks.yaml
Labels: area/github

fix(container): update image ghcr.io/onedr0p/tautulli to v2.12.1
  k8s/media/tautulli/values.yaml
Labels: area/k8s

fix(github-release): update control-d-inc/ctrld to v1.1.1
  ansible/rpi/inventory/group_vars/all/ctrld.yaml
Labels: area/ansible

fix(github-release): update k3s-io/k3s to v1.26.2+k3s1
  ansible/k3s/inventory/group_vars/all/k3s.yaml
Labels: area/ansible

fix(helm): update chart argo-cd to 5.26.1
  k8s/bootstrap/argocd/Chart.yaml
Labels: area/k8s

feat(terraform): update terraform cloudflare to 4.1.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: area/terraform

feat(terraform): update terraform unifi to 0.41.0
  terraform/unifi/.terraform.lock.hcl
  terraform/unifi/main.tf
Labels: area/terraform

chore: locks
  terraform/cloudflare/.terraform.lock.hcl
  terraform/unifi/.terraform.lock.hcl
Labels: area/terraform

feat(github-action)!: Update renovatebot/github-action action to v36.0.0
  .github/workflows/renovate.yaml
Labels: area/github

fix: remove audiobookshelf
  k8s/archive/audiobookshelf/Chart.yaml
  k8s/archive/audiobookshelf/secrets.yaml
  k8s/archive/audiobookshelf/templates/pvc.yaml
  k8s/archive/audiobookshelf/templates/volsync.yaml
  k8s/archive/audiobookshelf/values.yaml
  k8s/bootstrap/app-of-apps/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 706819a
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

feat(github-action): update actions/checkout action to v3.4.0
  .github/workflows/publish-cloudflare-networks.yaml
  .github/workflows/renovate.yaml
  .github/workflows/sync-labels.yaml
Labels: area/github

chore(container): update image ghcr.io/authelia/authelia to 5ef2093
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 7ab84d3
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 54dedba
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/recyclarr/recyclarr to 34200a7
  k8s/media/recyclarr/values.yaml
Labels: area/k8s

fix(github-action): update renovatebot/github-action action to v36.0.1
  .github/workflows/renovate.yaml
Labels: area/github

fix: add back nextdns
  ansible/rpi/inventory/group_vars/all/nextdns.sops.yaml
  ansible/rpi/playbooks/nextdns.yaml
  ansible/rpi/playbooks/roles/ctrld/templates/config.toml.j2
  ansible/rpi/playbooks/roles/nextdns/handlers/main.yaml
  ansible/rpi/playbooks/roles/nextdns/tasks/main.yaml
  ansible/rpi/playbooks/roles/nextdns/templates/nextdns.conf.j2
  ansible/rpi/playbooks/roles/nextdns/templates/nextdns.service.j2
Labels: area/ansible

chore(container): update image ghcr.io/authelia/authelia to c68ef98
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 95e7f02
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to c530b39
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

fix(github-release): update control-d-inc/ctrld to v1.1.2
  ansible/rpi/inventory/group_vars/all/ctrld.yaml
Labels: area/ansible

feat(container): update image ghcr.io/coder/code-server to v4.11.0
  k8s/automation/home-assistant/values.yaml
Labels: area/k8s

fix(container): update image homeassistant/home-assistant to v2023.3.5
  k8s/automation/home-assistant/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/tautulli to v2.12.2
  k8s/media/tautulli/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 19c39d2
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to a2d1c88
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 77c1424
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to b1019e0
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/wakeful-cloud/yarr to 7c6a796
  k8s/selfhosted/yarr/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to ebca6eb
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 9b318c0
  k8s/authentication/authelia/values.yaml
Labels: area/k8s
