Repository mfin/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/k8s, area/hack, area/terraform

chore(container): update image ghcr.io/authelia/authelia to 803c56e
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

Update values.yaml
  k8s/networking/pod-gateway/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/recyclarr/recyclarr to 96c43de
  k8s/media/recyclarr/values.yaml
Labels: area/k8s

feat(github-action): update renovatebot/github-action action to v34.154.0
  .github/workflows/renovate.yaml
Labels: area/github

chore(container): update image ghcr.io/authelia/authelia to 82163e0
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

fix(github-action): update renovatebot/github-action action to v34.154.1
  .github/workflows/renovate.yaml
Labels: area/github

chore(container): update image ghcr.io/onedr0p/sabnzbd to 391fcca
  k8s/media/sabnzbd/values.yaml
Labels: area/k8s

fix(container): update image docker.io/library/redis to v7.0.9
  k8s/storage/redis/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/taxel/plextraktsync to v0.25.16
  k8s/media/plex-trakt-sync/values.yaml
Labels: area/k8s

fix(helm): update chart promtail to 6.9.1
  k8s/monitoring/promtail/Chart.yaml
Labels: area/k8s

feat(helm): update chart loki to 4.8.0
  k8s/monitoring/loki/Chart.yaml
Labels: area/k8s

chore(container): update image ghcr.io/onedr0p/readarr-develop to a567539
  k8s/media/readarr/values.yaml
Labels: area/k8s

fix(github-action): update renovatebot/github-action action to v34.154.2
  .github/workflows/renovate.yaml
Labels: area/github

chore(container): update image ghcr.io/onedr0p/readarr-develop to 351335c
  k8s/media/readarr/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/onedr0p/sabnzbd to 1650ac8
  k8s/media/sabnzbd/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 8677750
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 9182f27
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/koenkk/zigbee2mqtt to v1.30.2
  k8s/automation/zigbee2mqtt/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.392
  k8s/media/sonarr/values.yaml
Labels: area/k8s

fix(helm): update chart promtail to 6.9.2
  k8s/monitoring/promtail/Chart.yaml
Labels: area/k8s

feat(github-release): update jkroepke/helm-secrets to v4.4.0
  k8s/bootstrap/argocd/values.yaml
Labels: area/k8s

feat(helm): update chart grafana to 6.51.2
  k8s/monitoring/grafana/Chart.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to c3ccbe9
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

feat(ansible): update community.general to 6.4.0
  ansible/requirements.yaml
Labels: area/ansible

feat(container): update image homeassistant/home-assistant to v2023.3.0
  k8s/automation/home-assistant/values.yaml
Labels: area/k8s

feat(helm): update chart argo-cd to 5.23.5
  k8s/bootstrap/argocd/Chart.yaml
Labels: area/k8s

feat(helm): update chart kube-prometheus-stack to 45.4.0
  k8s/monitoring/kube-prometheus-stack/Chart.yaml
Labels: area/k8s

feat(terraform): update terraform unifi to 0.40.0
  terraform/unifi/.terraform.lock.hcl
  terraform/unifi/main.tf
Labels: area/terraform

feat(container): update image cloudflare/cloudflared to v2023.3.0
  k8s/archive/cloudflared/values.yaml
Labels: area/k8s

fix: update unifi provider
  terraform/unifi/.terraform.lock.hcl
  terraform/unifi/port_forward.tf
Labels: area/terraform

fix: update custom regex
  .github/renovate.json5
Labels: area/github

fix(github-release): update kubernetes/kubernetes to v1.26.2
  .taskfiles/k8s/scripts/kubeconform.sh
  k8s/bootstrap/argocd/values.yaml
Labels: area/k8s

feat(helm): update chart volsync to 0.6.0
  k8s/storage/volsync/Chart.yaml
Labels: area/k8s

feat(helm): update chart kube-prometheus-stack to 45.5.0
  k8s/monitoring/kube-prometheus-stack/Chart.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 6cff06b
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

feat(helm): update chart argo-cd to 5.24.0
  k8s/bootstrap/argocd/Chart.yaml
Labels: area/k8s

feat(helm): update chart prometheus-blackbox-exporter to 7.6.0
  k8s/monitoring/blackbox-exporter/Chart.yaml
Labels: area/k8s

fix: update permission for volsync mover
  k8s/media/plex/templates/volsync.yaml
  k8s/media/qbittorrent/templates/volsync.yaml
  k8s/monitoring/grafana/templates/volsync.yaml
Labels: area/k8s

fix(github-action): update renovatebot/github-action action to v34.154.4
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update image homeassistant/home-assistant to v2023.3.1
  k8s/automation/home-assistant/values.yaml
Labels: area/k8s

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/k8s:
  - "k8s/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
