Repository mfin/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/k8s, area/hack, area/terraform

fix: allow /
  k8s/monitoring/kube-prometheus-stack/templates/ingress.yaml
Labels: area/k8s

fix: add nas restriction
  k8s/monitoring/kube-prometheus-stack/templates/ingress.yaml
  k8s/networking/traefik/secrets.yaml
  k8s/networking/traefik/templates/mw-nas-ip.yaml
Labels: area/k8s

fix: allow /
  k8s/monitoring/kube-prometheus-stack/templates/ingress.yaml
Labels: area/k8s

fix: test
  k8s/networking/traefik/templates/mw-restrict-ips.yaml
Labels: area/k8s

chore(github-action): update cloudflare networks
  k8s/networking/traefik/templates/mw-restrict-ips.yaml
Labels: area/k8s

fix: add bot as committer
  .github/workflows/publish-cloudflare-networks.yaml
Labels: area/github

chore(github-action): update cloudflare networks
  k8s/networking/traefik/templates/mw-restrict-ips.yaml
Labels: area/k8s

fix: match custom kustomization urls
  .github/renovate.json5
Labels: area/github

fix(container): update image homeassistant/home-assistant to v2023.2.4
  k8s/automation/home-assistant/values.yaml
Labels: area/k8s

feat(container): update image ghcr.io/onedr0p/plex to v1.31.0.6654-02189b09f
  k8s/media/plex/values.yaml
Labels: area/k8s

fix: ignore sync policy
  k8s/bootstrap/app-of-apps/values.yaml
Labels: area/k8s

fix: only ignore selfHeal
  k8s/bootstrap/app-of-apps/values.yaml
Labels: area/k8s

fix: ignore automated policy
  k8s/bootstrap/app-of-apps/values.yaml
Labels: area/k8s

feat(github-action): update renovatebot/github-action action to v34.136.0
  .github/workflows/renovate.yaml
Labels: area/github

chore: test
  k8s/selfhosted/whoami/values.yaml
Labels: area/k8s

chore: success
  k8s/selfhosted/whoami/values.yaml
Labels: area/k8s

feat: add argocd task
  .taskfiles/argocd/Tasks.yaml
  .taskfiles/argocd/secret.sops.yaml
  Taskfile.yaml
Labels: none

fix: parametrize namespace
  .taskfiles/argocd/Tasks.yaml
Labels: none

fix(helm): update chart argo-cd to 5.20.4
  k8s/bootstrap/argocd/Chart.yaml
Labels: area/k8s

feat(helm): update chart loki to 4.6.1
  k8s/monitoring/loki/Chart.yaml
Labels: area/k8s

fix: rework taskfiles
  .taskfiles/ansible/Taskfile.yaml
  .taskfiles/argocd/Taskfile.yaml
  .taskfiles/k8s/Taskfile.yaml
  .taskfiles/k8s/scripts/kubeconform.sh
  .taskfiles/misc/Taskfile.yaml
  .taskfiles/restic/Taskfile.yaml
  .taskfiles/terraform/Taskfile.yaml
  .taskfiles/volsync/Taskfile.yaml
  .taskfiles/volsync/scripts/wait-for-job.sh
  .taskfiles/volsync/templates/AttachPvc.tmpl.yaml
  .taskfiles/volsync/templates/ListJob.tmpl.yaml
  .taskfiles/volsync/templates/ReplicationDestination.tmpl.yaml
  .taskfiles/volsync/templates/WipeJob.tmpl.yaml
  Taskfile.yaml
Labels: none

fix: remove precondition
  .taskfiles/volsync/Taskfile.yaml
Labels: none

fix(helm): update chart argo-cd to 5.20.5
  k8s/bootstrap/argocd/Chart.yaml
Labels: area/k8s

fix: rework to not overlap global vars
  .taskfiles/argocd/Taskfile.yaml
  .taskfiles/volsync/Taskfile.yaml
  Taskfile.yaml
Labels: none

feat(github-action): update renovatebot/github-action action to v34.138.1
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-action): update renovatebot/github-action action to v34.138.3
  .github/workflows/renovate.yaml
Labels: area/github

fix(helm): update chart promtail to 6.8.3
  k8s/monitoring/promtail/Chart.yaml
Labels: area/k8s

feat(helm): update chart argo-cd to 5.21.0
  k8s/bootstrap/argocd/Chart.yaml
Labels: area/k8s

feat(helm): update chart kube-prometheus-stack to 45.1.0
  k8s/monitoring/kube-prometheus-stack/Chart.yaml
Labels: area/k8s

feat(helm): update chart prometheus-snmp-exporter to 1.3.0
  k8s/monitoring/snmp-exporter/Chart.yaml
Labels: area/k8s

fix: run a debug pod
  .taskfiles/k8s/Taskfile.yaml
  .taskfiles/k8s/templates/DebugPod.tmpl.yaml
Labels: none

fix: more generic volumes tasks
  .taskfiles/volumes/Taskfile.yaml
  .taskfiles/volumes/scripts/wait-for-job.sh
  .taskfiles/volumes/templates/AttachPvc.tmpl.yaml
  .taskfiles/volumes/templates/ListJob.tmpl.yaml
  .taskfiles/volumes/templates/ReplicationDestination.tmpl.yaml
  .taskfiles/volumes/templates/WipeJob.tmpl.yaml
  Taskfile.yaml
Labels: none

feat: add audiobookshelf
  k8s/bootstrap/app-of-apps/values.yaml
  k8s/media/audiobookshelf/Chart.yaml
  k8s/media/audiobookshelf/secrets.yaml
  k8s/media/audiobookshelf/templates/pvc.yaml
  k8s/media/audiobookshelf/templates/volsync.yaml
  k8s/media/audiobookshelf/values.yaml
Labels: area/k8s

fix: no need for authelia
  k8s/media/audiobookshelf/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/advplyr/audiobookshelf to v2.2.15
  k8s/media/audiobookshelf/values.yaml
Labels: area/k8s

fix: update namespace command
  .taskfiles/argocd/Taskfile.yaml
Labels: none

feat(helm): update chart traefik to 21.1.0
  k8s/networking/traefik/Chart.yaml
Labels: area/k8s

feat: add cloudnative-pg
  k8s/bootstrap/app-of-apps/values.yaml
  k8s/storage/cloudnative-pg/Chart.yaml
  k8s/storage/cloudnative-pg/secrets.yaml
  k8s/storage/cloudnative-pg/templates/secret.yaml
  k8s/storage/cloudnative-pg/values.yaml
Labels: area/k8s

feat: add cluster
  k8s/storage/cloudnative-pg/templates/cluster.yaml
Labels: area/k8s

fix: remove cloudnative-pg
  k8s/archive/cloudnative-pg/Chart.yaml
  k8s/archive/cloudnative-pg/secrets.yaml
  k8s/archive/cloudnative-pg/templates/cluster.yaml
  k8s/archive/cloudnative-pg/templates/secret.yaml
  k8s/archive/cloudnative-pg/values.yaml
  k8s/bootstrap/app-of-apps/values.yaml
Labels: area/k8s

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/k8s:
  - "k8s/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
