Repository mfin/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/k8s, area/hack, area/terraform

fix: two pvcs for whoami
  k8s/selfhosted/whoami/secrets.yaml
  k8s/selfhosted/whoami/templates/pvc.yaml
  k8s/selfhosted/whoami/templates/volsync.yaml
  k8s/selfhosted/whoami/values.yaml
Labels: area/k8s

fix: secret name
  k8s/selfhosted/whoami/templates/volsync.yaml
Labels: area/k8s

fix: pause whoami
  k8s/bootstrap/app-of-apps/values.yaml
Labels: area/k8s

fix: resume app
  k8s/bootstrap/app-of-apps/values.yaml
  k8s/selfhosted/whoami/secrets.yaml
  k8s/selfhosted/whoami/values.yaml
Labels: area/k8s

fix: add ability to restore a certain snapshot
  .taskfiles/volsync/ReplicationDestination.tmpl.yaml
  .taskfiles/volsync/Tasks.yaml
  k8s/selfhosted/whoami/templates/pvc.yaml
  k8s/selfhosted/whoami/templates/volsync.yaml
Labels: area/k8s

feat: add ability to attach PVC
  .taskfiles/volsync/AttachPvc.tmpl.yaml
  .taskfiles/volsync/Tasks.yaml
Labels: none

feat: add ability to spawn debug pod
  .taskfiles/k8s/Tasks.yaml
Labels: none

fix: use netshoot image
  .taskfiles/k8s/Tasks.yaml
Labels: none

fix: update the clean task
  .taskfiles/k8s/Tasks.yaml
Labels: none

fix: add automerge
  .github/renovate/autoMerge.json5
Labels: area/github

chore(container): update image ghcr.io/onedr0p/sabnzbd to 482afd4
  k8s/media/sabnzbd/values.yaml
Labels: area/k8s

feat: add plex-trakt-sync
  k8s/bootstrap/app-of-apps/values.yaml
  k8s/media/plex-trakt-sync/Chart.yaml
  k8s/media/plex-trakt-sync/secrets.yaml
  k8s/media/plex-trakt-sync/templates/configmap.yaml
  k8s/media/plex-trakt-sync/templates/pvc.yaml
  k8s/media/plex-trakt-sync/templates/secret.yaml
  k8s/media/plex-trakt-sync/templates/volsync.yaml
  k8s/media/plex-trakt-sync/values.yaml
Labels: area/k8s

fix: statefulset
  k8s/media/plex-trakt-sync/values.yaml
Labels: area/k8s

fix: add sync cronjob
  k8s/media/plex-trakt-sync/templates/configmap.yaml
  k8s/media/plex-trakt-sync/templates/cronjob.yaml
Labels: area/k8s

feat: add recyclarr
  k8s/bootstrap/app-of-apps/values.yaml
  k8s/media/recyclarr/Chart.yaml
  k8s/media/recyclarr/secrets.yaml
  k8s/media/recyclarr/templates/configmap.yaml
  k8s/media/recyclarr/templates/secret.yaml
  k8s/media/recyclarr/values.yaml
Labels: area/k8s

fix: secrets
  k8s/media/recyclarr/templates/secret.yaml
Labels: area/k8s

fix: formats
  k8s/media/recyclarr/templates/configmap.yaml
Labels: area/k8s

fix: formats
  k8s/media/recyclarr/templates/configmap.yaml
Labels: area/k8s

fix(github-action): update renovatebot/github-action action to v34.128.2
  .github/workflows/renovate.yaml
Labels: area/github

fix(helm): update chart goldilocks to 6.5.1
  k8s/monitoring/goldilocks/Chart.yaml
Labels: area/k8s

fix(helm): update chart vpa to 1.6.1
  k8s/system/vpa/Chart.yaml
Labels: area/k8s

fix(github-action): update renovatebot/github-action action to v34.128.3
  .github/workflows/renovate.yaml
Labels: area/github

fix: update external services
  k8s/monitoring/blackbox-exporter/secrets.yaml
  k8s/networking/external-services/secrets.yaml
  k8s/networking/external-services/templates/minio.yaml
  k8s/networking/external-services/templates/node-exporter-nas.yaml
  k8s/networking/external-services/templates/node-exporter-pi.yaml
Labels: area/k8s

fix: ingress name
  k8s/networking/external-services/templates/minio.yaml
Labels: area/k8s

fix: scheme
  k8s/networking/external-services/templates/minio.yaml
Labels: area/k8s

fix: rework node-exporter service
  k8s/networking/external-services/templates/node-exporter-nas.yaml
  k8s/networking/external-services/templates/node-exporter.yaml
Labels: area/k8s

fix: add relabel
  k8s/networking/external-services/templates/node-exporter.yaml
Labels: area/k8s

fix: remove qbittorrent port
  terraform/unifi/port_forward.tf
  terraform/unifi/secret.sops.yaml
Labels: area/terraform

feat: add pod-gateway
  k8s/bootstrap/app-of-apps/values.yaml
  k8s/networking/pod-gateway/Chart.yaml
  k8s/networking/pod-gateway/secrets.yaml
  k8s/networking/pod-gateway/templates/secret.yaml
  k8s/networking/pod-gateway/values.yaml
Labels: area/k8s

fix: set annotation on qbittorrent
  k8s/media/qbittorrent/values.yaml
Labels: area/k8s

fix: update addresses
  k8s/networking/pod-gateway/secrets.yaml
Labels: area/k8s

fix: enable debug
  k8s/networking/pod-gateway/values.yaml
Labels: area/k8s

fix: different hostnames
  k8s/networking/pod-gateway/values.yaml
Labels: area/k8s

fix: ns maybe
  k8s/networking/pod-gateway/values.yaml
Labels: area/k8s

fix: update wg conf
  k8s/networking/pod-gateway/secrets.yaml
Labels: area/k8s

fix: env
  k8s/networking/pod-gateway/values.yaml
Labels: area/k8s

fix: secrets
  k8s/networking/pod-gateway/secrets.yaml
Labels: area/k8s

fix: try this
  k8s/networking/pod-gateway/values.yaml
Labels: area/k8s

fix: try this
  k8s/networking/pod-gateway/values.yaml
Labels: area/k8s

fix: remove env
  k8s/networking/pod-gateway/values.yaml
Labels: area/k8s

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/k8s:
  - "k8s/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
