Repository mfin/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/k8s, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/k8s:
  - "k8s/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"

fix: more improvements
  .taskfiles/postgres/Taskfile.yaml
  .taskfiles/postgres/templates/RestoreJob.tmpl.yaml
Labels: none

chore(container): update image ghcr.io/mfin/postgres-minio-restore to 0524206
  .taskfiles/postgres/templates/RestoreJob.tmpl.yaml
Labels: none

fix: better restore job name
  .taskfiles/postgres/Taskfile.yaml
  .taskfiles/postgres/templates/RestoreJob.tmpl.yaml
Labels: none

chore(container): update image ghcr.io/mfin/postgres-minio-restore to b1c1cd6
  .taskfiles/postgres/templates/RestoreJob.tmpl.yaml
Labels: none

chore(container): update image ghcr.io/authelia/authelia to 24199dd
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/recyclarr/recyclarr to 10f99cb
  k8s/media/recyclarr/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 97864d1
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

feat: add nocodb
  k8s/automation/nocodb/Chart.yaml
  k8s/automation/nocodb/secrets.yaml
  k8s/automation/nocodb/templates/backup.yaml
  k8s/automation/nocodb/templates/pvc.yaml
  k8s/automation/nocodb/templates/secret.yaml
  k8s/automation/nocodb/templates/volsync.yaml
  k8s/automation/nocodb/values.yaml
  k8s/bootstrap/app-of-apps/values.yaml
Labels: area/k8s

fix: string of course
  k8s/automation/nocodb/templates/secret.yaml
Labels: area/k8s

fix: another one
  k8s/automation/nocodb/templates/secret.yaml
Labels: area/k8s

fix(container): update image ghcr.io/jmmaloney4/roon to v2.0.1277
  k8s/archive/roon/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.544
  k8s/media/sonarr/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/unpoller/unpoller to v2.7.14
  k8s/monitoring/unpoller/values.yaml
Labels: area/k8s

fix(helm): update chart argo-cd to 5.36.5
  k8s/bootstrap/argocd/Chart.yaml
Labels: area/k8s

fix(helm): update chart loki to 5.8.2
  k8s/monitoring/loki/Chart.yaml
Labels: area/k8s

feat(ansible): update community.general to 7.1.0
  ansible/requirements.yaml
Labels: area/ansible

feat(container): update image nocodb/nocodb to v0.109.1
  k8s/automation/nocodb/values.yaml
Labels: area/k8s

fix: migrate n8n to postgresql
  k8s/automation/n8n/secrets.yaml
  k8s/automation/n8n/templates/backup.yaml
  k8s/automation/n8n/templates/secret.yaml
Labels: area/k8s

fix: forgot postgresql init
  k8s/automation/n8n/values.yaml
Labels: area/k8s

fix: move authelia to postgres
  k8s/authentication/authelia/secrets.yaml
  k8s/authentication/authelia/templates/backup.yaml
  k8s/authentication/authelia/templates/configmap.yaml
  k8s/authentication/authelia/templates/pvc.yaml
  k8s/authentication/authelia/templates/secret.yaml
  k8s/authentication/authelia/templates/volsync.yaml
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

fix: deployments
  k8s/authentication/authelia/values.yaml
  k8s/automation/n8n/values.yaml
  k8s/automation/nocodb/values.yaml
  k8s/selfhosted/miniflux/values.yaml
Labels: area/k8s

fix: enable debug logging in authelia
  k8s/authentication/authelia/templates/configmap.yaml
Labels: area/k8s

fix: temp disable probes
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

fix: quotes
  k8s/authentication/authelia/templates/configmap.yaml
Labels: area/k8s

fixL probes
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

fix: disable healthcheck
  k8s/authentication/authelia/templates/configmap.yaml
Labels: area/k8s

fix: this
  k8s/authentication/authelia/templates/configmap.yaml
Labels: area/k8s

Revert "fix: authelia revert"
  k8s/authentication/authelia/templates/configmap.yaml
Labels: area/k8s

Revert "fix: disable healthcheck"
  k8s/authentication/authelia/templates/configmap.yaml
Labels: area/k8s

Revert "fixL probes"
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

Revert "fix: quotes"
  k8s/authentication/authelia/templates/configmap.yaml
Labels: area/k8s

Revert "fix: temp disable probes"
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

Revert "fix: enable debug logging in authelia"
  k8s/authentication/authelia/templates/configmap.yaml
Labels: area/k8s

Revert "fix: deployments"
  k8s/authentication/authelia/values.yaml
  k8s/automation/n8n/values.yaml
  k8s/automation/nocodb/values.yaml
  k8s/selfhosted/miniflux/values.yaml
Labels: area/k8s

Revert "fix: move authelia to postgres"
  k8s/authentication/authelia/secrets.yaml
  k8s/authentication/authelia/templates/backup.yaml
  k8s/authentication/authelia/templates/configmap.yaml
  k8s/authentication/authelia/templates/pvc.yaml
  k8s/authentication/authelia/templates/secret.yaml
  k8s/authentication/authelia/templates/volsync.yaml
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 3d73c07
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to f05f9c3
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

fix(container): update image nocodb/nocodb to v0.109.2
  k8s/automation/nocodb/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/miniflux/miniflux to v2.0.45
  k8s/selfhosted/miniflux/values.yaml
Labels: area/k8s

fix(helm): update chart promtail to 6.11.4
  k8s/monitoring/promtail/Chart.yaml
Labels: area/k8s
