Repository mfin/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/k8s, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/k8s:
  - "k8s/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"

fix: try this
  k8s/networking/pod-gateway/values.yaml
Labels: area/k8s

fix: try this
  k8s/networking/pod-gateway/secrets.yaml
  k8s/networking/pod-gateway/values.yaml
Labels: area/k8s

fix: add policy
  k8s/networking/pod-gateway/templates/networkpolicy.yaml
Labels: area/k8s

fix: add policy
  k8s/networking/calico/canal.yaml
  k8s/networking/pod-gateway/templates/networkpolicy.yaml
Labels: area/k8s

fix: port
  k8s/networking/pod-gateway/values.yaml
Labels: area/k8s

fix: ns
  k8s/media/qbittorrent/templates/namespace.yaml
Labels: area/k8s

fix: ns
  k8s/media/sabnzbd/templates/namespace.yaml
  k8s/media/sabnzbd/values.yaml
Labels: area/k8s

fix: ns
  k8s/media/prowlarr/templates/namespace.yaml
  k8s/media/prowlarr/values.yaml
Labels: area/k8s

fix: ns
  k8s/media/qbittorrent/values.yaml
Labels: area/k8s

fix: ns
  k8s/media/qbittorrent/secrets.yaml
Labels: area/k8s

fix: ns
  k8s/media/qbittorrent/values.yaml
  k8s/networking/pod-gateway/values.yaml
Labels: area/k8s

fix: port
  k8s/media/qbittorrent/values.yaml
  k8s/networking/pod-gateway/values.yaml
Labels: area/k8s

fix: policy
  k8s/networking/pod-gateway/templates/networkpolicy.yaml
  k8s/networking/pod-gateway/values.yaml
Labels: area/k8s

fix: ips
  k8s/networking/pod-gateway/values.yaml
Labels: area/k8s

fix: ips
  k8s/networking/pod-gateway/values.yaml
Labels: area/k8s

fix: ips
  k8s/networking/pod-gateway/values.yaml
Labels: area/k8s

fix: port
  k8s/networking/pod-gateway/values.yaml
Labels: area/k8s

feat: add calico
  k8s/bootstrap/app-of-apps/templates/kustomize-applications.yaml
  k8s/bootstrap/app-of-apps/values.yaml
  k8s/networking/calico/canal.yaml
  k8s/networking/calico/kustomization.yaml
Labels: area/k8s

fix: renovate
  k8s/networking/calico/kustomization.yaml
Labels: area/k8s

fix: minor
  k8s/networking/calico/kustomization.yaml
Labels: area/k8s

chore: merge apps
  k8s/bootstrap/app-of-apps/templates/applications.yaml
  k8s/bootstrap/app-of-apps/templates/kustomize-applications.yaml
  k8s/bootstrap/app-of-apps/values.yaml
Labels: area/k8s

fix(container): update image quay.io/minio/minio to release.2023-02-10t18-48-39z
  k8s/archive/minio/values.yaml
Labels: area/k8s

feat(github-action): update renovatebot/github-action action to v34.130.0
  .github/workflows/renovate.yaml
Labels: area/github

Update configmap.yaml
  k8s/media/plex-trakt-sync/templates/configmap.yaml
Labels: area/k8s

feat(github-action): update renovatebot/github-action action to v34.131.0
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-action): update renovatebot/github-action action to v34.132.0
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update image ghcr.io/onedr0p/radarr-develop to v4.4.1.6926
  k8s/media/radarr-4k/values.yaml
  k8s/media/radarr/values.yaml
Labels: area/k8s

feat(helm)!: Update chart kube-prometheus-stack to 45.0.0
  k8s/monitoring/kube-prometheus-stack/Chart.yaml
Labels: area/k8s

feat(helm)!: Update chart traefik to 21.0.0
  k8s/networking/traefik/Chart.yaml
Labels: area/k8s

fix: home-assistant = statefulset
  k8s/automation/home-assistant/values.yaml
Labels: area/k8s

fix: node-red = statefulset
  k8s/automation/node-red/values.yaml
Labels: area/k8s

fix: ignoreDifferences
  k8s/bootstrap/app-of-apps/templates/applications.yaml
  k8s/bootstrap/app-of-apps/values.yaml
Labels: area/k8s

fix: minor improvements
  .taskfiles/k8s/Tasks.yaml
  k8s/bootstrap/app-of-apps/templates/applications.yaml
Labels: area/k8s

chore(container): update image ghcr.io/onedr0p/sabnzbd to 666a2af
  k8s/media/sabnzbd/values.yaml
Labels: area/k8s

feat: add restic shell to task
  .taskfiles/restic/Tasks.yaml
  Taskfile.yaml
Labels: none

feat: add yarr
  k8s/selfhosted/yarr/Chart.yaml
  k8s/selfhosted/yarr/secrets.yaml
  k8s/selfhosted/yarr/templates/pvc.yaml
  k8s/selfhosted/yarr/templates/volsync.yaml
  k8s/selfhosted/yarr/values.yaml
Labels: area/k8s

feat: enable yarr
  k8s/bootstrap/app-of-apps/values.yaml
Labels: area/k8s

fix: space
  k8s/selfhosted/yarr/values.yaml
Labels: area/k8s

fix: permissions
  k8s/selfhosted/yarr/values.yaml
Labels: area/k8s

feat: add readarr
  k8s/bootstrap/app-of-apps/values.yaml
  k8s/media/readarr/Chart.yaml
  k8s/media/readarr/secrets.yaml
  k8s/media/readarr/templates/pvc.yaml
  k8s/media/readarr/templates/volsync.yaml
  k8s/media/readarr/values.yaml
Labels: area/k8s
