Repository mfin/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/k8s, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/k8s:
  - "k8s/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"

feat(container): update image nocodb/nocodb to v0.202.4
  k8s/automation/nocodb/values.yaml
Labels: area/k8s

feat(container): update image quay.io/minio/minio to release.2023-10-07t15-07-38z
  k8s/archive/minio/values.yaml
Labels: area/k8s

feat(helm): update chart kube-prometheus-stack to 51.5.3
  k8s/monitoring/kube-prometheus-stack/Chart.yaml
Labels: area/k8s

feat(helm): update chart loki to 5.28.0
  k8s/monitoring/loki/Chart.yaml
Labels: area/k8s

chore(container): update image ghcr.io/mfin/n8n to 55455b0
  k8s/automation/n8n/values.yaml
Labels: area/k8s

feat(helm): update chart loki to 5.29.0
  k8s/monitoring/loki/Chart.yaml
Labels: area/k8s

feat(container): update image ghcr.io/autobrr/omegabrr to v1.10.0
  k8s/media/omegabrr/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 00ea6a6
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 78486e2
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 3271826
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 0095d32
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/onedr0p/alpine to b0b6f6f
  .taskfiles/volumes/templates/WipeJob.tmpl.yaml
Labels: none

chore(container): update image ghcr.io/onedr0p/lidarr-develop to 8afcbef
  k8s/media/lidarr/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/onedr0p/readarr-develop to 3f52afe
  k8s/media/readarr/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/mfin/postgres-minio-backup to 4109e68
  k8s/automation/n8n/templates/backup.yaml
  k8s/automation/nocodb/templates/backup.yaml
  k8s/selfhosted/miniflux/templates/backup.yaml
Labels: area/k8s

chore(container): update image ghcr.io/mfin/postgres-minio-restore to 7d5a1e2
  .taskfiles/postgres/templates/RestoreJob.tmpl.yaml
Labels: none

chore(container): update image ghcr.io/onedr0p/sabnzbd to 91f3cd6
  k8s/media/sabnzbd/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 6792ec3
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/wakeful-cloud/yarr to 26d0a82
  k8s/archive/yarr/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 44ffe33
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to c1ba4e3
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 8f4155a
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

fix(github-action): update renovatebot/github-action action to v39.0.6
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-action): update renovatebot/github-action action to v39.1.0
  .github/workflows/renovate.yaml
Labels: area/github

chore(container): update image ghcr.io/authelia/authelia to 3b5c980
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to b835d72
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 7140858
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 2525b77
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 4a38c26
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

fix(github-action): update actions/checkout action to v4.1.1
  .github/workflows/publish-cloudflare-networks.yaml
  .github/workflows/renovate.yaml
  .github/workflows/sync-labels.yaml
Labels: area/github

chore(container): update image ghcr.io/authelia/authelia to 05ee620
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to c836e7a
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to dffbf42
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to f36cc28
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 2f95537
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 6c018b3
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 6f5383c
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to fa395d9
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to b5e5438
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to b26412f
  k8s/authentication/authelia/values.yaml
Labels: area/k8s
