Repository mfin/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/k8s, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/k8s:
  - "k8s/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"

fix(github-action): update renovatebot/github-action action to v34.146.1
  .github/workflows/renovate.yaml
Labels: area/github

feat: add catch-all domain
  terraform/cloudflare/domain_catch.tf
  terraform/cloudflare/secret.sops.yaml
Labels: area/terraform

chore(container): update image ghcr.io/onedr0p/sabnzbd to c8754b0
  k8s/media/sabnzbd/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/radarr-develop to v4.4.2.6956
  k8s/media/radarr-4k/values.yaml
  k8s/media/radarr/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/readarr-develop to v0.1.3.1584
  k8s/media/readarr/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.386
  k8s/media/sonarr/values.yaml
Labels: area/k8s

fix(helm): update chart argo-cd to 5.22.1
  k8s/bootstrap/argocd/Chart.yaml
Labels: area/k8s

feat(container): update image ghcr.io/angelnu/gateway-admision-controller to v3.8.0
  k8s/networking/pod-gateway/values.yaml
Labels: area/k8s

feat(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.2.2.2699
  k8s/media/prowlarr/values.yaml
Labels: area/k8s

feat(github-release): update jkroepke/helm-secrets to v4.3.0
  k8s/bootstrap/argocd/values.yaml
Labels: area/k8s

feat(helm): update chart pod-gateway to 6.2.0
  k8s/networking/pod-gateway/Chart.yaml
Labels: area/k8s

Update values.yaml
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 303ac83
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to f10398c
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/recyclarr/recyclarr to 1960776
  k8s/media/recyclarr/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/recyclarr/recyclarr to 083850e
  k8s/media/recyclarr/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.388
  k8s/media/sonarr/values.yaml
Labels: area/k8s

feat(github-action): update renovatebot/github-action action to v34.147.0
  .github/workflows/renovate.yaml
Labels: area/github

feat(terraform): update terraform cloudflare to 3.35.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: area/terraform

fix(ansible): update community.sops to 1.6.1
  ansible/requirements.yaml
Labels: area/ansible

fix(helm): update chart app-template to 1.3.2
  k8s/archive/cloudflared/Chart.yaml
  k8s/archive/minio/Chart.yaml
  k8s/authentication/authelia/Chart.yaml
  k8s/authentication/glauth/Chart.yaml
  k8s/automation/apprise-api/Chart.yaml
  k8s/automation/flaresolverr/Chart.yaml
  k8s/automation/gotenberg/Chart.yaml
  k8s/automation/home-assistant/Chart.yaml
  k8s/automation/mosquitto/Chart.yaml
  k8s/automation/node-red/Chart.yaml
  k8s/automation/tika/Chart.yaml
  k8s/automation/zigbee2mqtt/Chart.yaml
  k8s/media/audiobookshelf/Chart.yaml
  k8s/media/bazarr/Chart.yaml
  k8s/media/overseerr/Chart.yaml
  k8s/media/plex-trakt-sync/Chart.yaml
  k8s/media/plex/Chart.yaml
  k8s/media/prowlarr/Chart.yaml
  k8s/media/qbittorrent/Chart.yaml
  k8s/media/radarr-4k/Chart.yaml
  k8s/media/radarr/Chart.yaml
  k8s/media/readarr/Chart.yaml
  k8s/media/recyclarr/Chart.yaml
  k8s/media/sabnzbd/Chart.yaml
  k8s/media/sonarr/Chart.yaml
  k8s/media/tautulli/Chart.yaml
  k8s/media/unpackerr/Chart.yaml
  k8s/media/xteve/Chart.yaml
  k8s/monitoring/unpoller/Chart.yaml
  k8s/monitoring/vector-agent/Chart.yaml
  k8s/monitoring/vector-aggregator/Chart.yaml
  k8s/networking/cloudflare-ddns/Chart.yaml
  k8s/networking/k8s-gateway/Chart.yaml
  k8s/selfhosted/mailrise/Chart.yaml
  k8s/selfhosted/paperless-ngx/Chart.yaml
  k8s/selfhosted/whoami/Chart.yaml
  k8s/selfhosted/yarr/Chart.yaml
  k8s/storage/redis/Chart.yaml
Labels: area/k8s

feat(terraform)!: Update Terraform cloudflare to 4.0.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: area/terraform

feat(helm): update chart kube-prometheus-stack to 45.2.0
  k8s/monitoring/kube-prometheus-stack/Chart.yaml
Labels: area/k8s

fix: remove dnssec from tf
  terraform/cloudflare/domain_business.tf
  terraform/cloudflare/domain_catch.tf
  terraform/cloudflare/domain_email.tf
  terraform/cloudflare/domain_homelab.tf
  terraform/cloudflare/domain_network.tf
  terraform/cloudflare/domain_personal.tf
  terraform/cloudflare/domain_remote.tf
Labels: area/terraform

chore(container): update image ghcr.io/authelia/authelia to 7d8c324
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

fix(helm): update chart metallb to 0.13.9
  k8s/networking/metallb/Chart.yaml
Labels: area/k8s

feat: replace nextdns with controld
  ansible/rpi/inventory/group_vars/all/ctrld.sops.yaml
  ansible/rpi/inventory/group_vars/all/ctrld.yaml
  ansible/rpi/inventory/group_vars/all/nextdns.sops.yaml
  ansible/rpi/inventory/group_vars/all/secret.sops.yaml
  ansible/rpi/playbooks/ctrld.yaml
  ansible/rpi/playbooks/roles/ctrld/handlers/main.yaml
  ansible/rpi/playbooks/roles/ctrld/tasks/main.yaml
  ansible/rpi/playbooks/roles/ctrld/templates/config.toml.j2
  ansible/rpi/playbooks/roles/ctrld/templates/ctrld.service.j2
  ansible/rpi/playbooks/roles/nextdns/handlers/main.yaml
  ansible/rpi/playbooks/roles/nextdns/tasks/main.yaml
  ansible/rpi/playbooks/roles/nextdns/templates/nextdns.conf.j2
  ansible/rpi/playbooks/roles/nextdns/templates/nextdns.service.j2
Labels: area/ansible

chore(container): update image ghcr.io/recyclarr/recyclarr to e70cbb5
  k8s/media/recyclarr/values.yaml
Labels: area/k8s

fix: forgot a couple
  ansible/rpi/playbooks/roles/ctrld/tasks/main.yaml
Labels: area/ansible

chore(container): update image ghcr.io/authelia/authelia to f257817
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/recyclarr/recyclarr to 3fb7b98
  k8s/media/recyclarr/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 63f9738
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/recyclarr/recyclarr to 5d93d76
  k8s/media/recyclarr/values.yaml
Labels: area/k8s

feat(github-action): update renovatebot/github-action action to v34.149.0
  .github/workflows/renovate.yaml
Labels: area/github

fix(helm): update chart grafana to 6.50.8
  k8s/monitoring/grafana/Chart.yaml
Labels: area/k8s

fix: add wg to ctrld
  ansible/rpi/inventory/group_vars/all/secret.sops.yaml
  ansible/rpi/playbooks/roles/ctrld/templates/config.toml.j2
Labels: area/ansible

chore(container): update image ghcr.io/recyclarr/recyclarr to da40ce9
  k8s/media/recyclarr/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/vector to v0.27.1
  k8s/monitoring/vector-agent/values.yaml
  k8s/monitoring/vector-aggregator/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/recyclarr/recyclarr to 77f7c43
  k8s/media/recyclarr/values.yaml
Labels: area/k8s

feat(helm): update chart pod-gateway to 6.4.0
  k8s/networking/pod-gateway/Chart.yaml
Labels: area/k8s
