Repository mfin/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/k8s, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
    - any-glob-to-any-file: "ansible/**/*"
area/github:
  - changed-files:
    - any-glob-to-any-file: ".github/**/*"
area/k8s:
  - changed-files:
    - any-glob-to-any-file: "k8s/**/*"
area/hack:
  - changed-files:
    - any-glob-to-any-file: "hack/**/*"
area/terraform:
  - changed-files:
    - any-glob-to-any-file: "terraform/**/*"

fix(helm): update chart vpa to 4.4.2
  k8s/system/vpa/Chart.yaml
Labels: area/k8s

feat(container): update image cloudflare/cloudflared to v2024.2.1
  k8s/networking/cloudflared/values.yaml
Labels: area/k8s

feat(container): update image ghcr.io/miniflux/miniflux to v2.1.0
  k8s/selfhosted/miniflux/values.yaml
Labels: area/k8s

feat(container): update image ghcr.io/onedr0p/lidarr-develop to v2.2.0.4045
  k8s/media/lidarr/values.yaml
Labels: area/k8s

feat(container): update image ghcr.io/onedr0p/plex to v1.40.0.7998-c29d4c0c8
  k8s/media/plex/values.yaml
Labels: area/k8s

feat(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.14.0.4286
  k8s/media/prowlarr/values.yaml
Labels: area/k8s

feat(container): update image ghcr.io/paperless-ngx/paperless-ngx to v2.5.4
  k8s/selfhosted/paperless-ngx/values.yaml
Labels: area/k8s

feat(container): update image ghcr.io/taxel/plextraktsync to v0.29.2
  k8s/media/plex-trakt-sync/templates/cronjob.yaml
  k8s/media/plex-trakt-sync/values.yaml
Labels: area/k8s

feat(container): update image gotenberg/gotenberg to v8.2.0
  k8s/automation/gotenberg/values.yaml
Labels: area/k8s

feat(helm): update chart snapshot-controller to 2.2.0
  k8s/storage/snapshot-controller/Chart.yaml
Labels: area/k8s

feat(helm)!: Update chart prometheus-snmp-exporter to 2.1.0
  k8s/monitoring/snmp-exporter/Chart.yaml
Labels: area/k8s

fix(github-release): update coredns/coredns to v1.11.2
  ansible/remote/inventory/group_vars/all/coredns.yaml
Labels: area/ansible

feat(helm): update chart prometheus-blackbox-exporter to 8.12.0
  k8s/monitoring/blackbox-exporter/Chart.yaml
Labels: area/k8s

feat(container): update image ghcr.io/onedr0p/radarr-develop to v5.4.0.8636
  k8s/media/radarr-4k/values.yaml
  k8s/media/radarr/values.yaml
Labels: area/k8s

feat(helm)!: Update chart prometheus-snmp-exporter to 3.0.0
  k8s/monitoring/snmp-exporter/Chart.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.2.1192
  k8s/media/sonarr/values.yaml
Labels: area/k8s

feat(helm): update chart kube-prometheus-stack to 56.13.0
  k8s/monitoring/kube-prometheus-stack/Chart.yaml
Labels: area/k8s

Revert "fix(helm): update chart grafana to 7.3.2 (#1336)"
  k8s/monitoring/grafana/Chart.yaml
Labels: area/k8s

Revert "fix(helm): update chart grafana to 7.3.2" (#1345)
  k8s/monitoring/grafana/Chart.yaml
Labels: area/k8s

chore(container): update image ghcr.io/bjw-s/calibre-web to 14f4b2f
  k8s/media/calibre-web/values.yaml
Labels: area/k8s

feat(helm)!: Update chart prometheus-snmp-exporter to 4.0.0
  k8s/monitoring/snmp-exporter/Chart.yaml
Labels: area/k8s

chore(container): update image ghcr.io/bjw-s/calibre-web to a8c1035
  k8s/media/calibre-web/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/bjw-s/calibre-web to a69f561
  k8s/media/calibre-web/values.yaml
Labels: area/k8s

fix(github-action): update renovatebot/github-action action to v40.1.3
  .github/workflows/renovate.yaml
Labels: area/github

chore(container): update image ghcr.io/bjw-s/calibre-web to 5d8b741
  k8s/media/calibre-web/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/bjw-s/calibre-web to 646e3f9
  k8s/media/calibre-web/values.yaml
Labels: area/k8s

fix(github-action): update renovatebot/github-action action to v40.1.4
  .github/workflows/renovate.yaml
Labels: area/github

chore(container): update image ghcr.io/onedr0p/alpine to b3d3b9e
  .taskfiles/volumes/templates/WipeJob.tmpl.yaml
Labels: none

chore(container): update image ghcr.io/bjw-s/calibre-web to 1d076e4
  k8s/media/calibre-web/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/mfin/postgres-minio-backup to f8e3d7a
  k8s/automation/n8n/templates/backup.yaml
  k8s/automation/nocodb/templates/backup.yaml
  k8s/selfhosted/miniflux/templates/backup.yaml
Labels: area/k8s

chore(container): update image ghcr.io/mfin/postgres-minio-restore to 6fc4789
  .taskfiles/postgres/templates/RestoreJob.tmpl.yaml
Labels: none

fix(github-action): update actions/checkout action to v4.1.2
  .github/workflows/publish-cloudflare-networks.yaml
  .github/workflows/renovate.yaml
  .github/workflows/sync-labels.yaml
Labels: area/github

chore(container): update image nginx to ef1b8ca
  k8s/selfhosted/static/values.yaml
Labels: area/k8s

chore(container): update image nginx to 1809084
  k8s/selfhosted/static/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/onedr0p/alpine to 3fbc581
  .taskfiles/volumes/templates/WipeJob.tmpl.yaml
Labels: none

chore(container): update image ghcr.io/bjw-s/calibre-web to f333c99
  k8s/media/calibre-web/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/mfin/postgres-minio-backup to 5c96201
  k8s/automation/n8n/templates/backup.yaml
  k8s/automation/nocodb/templates/backup.yaml
  k8s/selfhosted/miniflux/templates/backup.yaml
Labels: area/k8s

chore(container): update image ghcr.io/mfin/postgres-minio-restore to f6174d9
  .taskfiles/postgres/templates/RestoreJob.tmpl.yaml
Labels: none

chore(container): update image nginx to 74d949d
  k8s/selfhosted/static/values.yaml
Labels: area/k8s

chore(container): update image nginx to d9eb5c1
  k8s/selfhosted/static/values.yaml
Labels: area/k8s
