Repository mfin/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/k8s, area/hack, area/terraform

feat: add cilium
  ansible/k3s/inventory/group_vars/all/k3s.yaml
  k8s/bootstrap/app-of-apps/values.yaml
  k8s/networking/cilium/Chart.yaml
  k8s/networking/cilium/values.yaml
Labels: area/ansible, area/k8s

fix: stupid
  k8s/bootstrap/app-of-apps/values.yaml
Labels: area/k8s

fix: remove calico
  k8s/bootstrap/app-of-apps/values.yaml
  k8s/networking/calico/kustomization.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 75b1b0a
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

fix(container): update image homeassistant/home-assistant to v2023.11.2
  k8s/automation/home-assistant/values.yaml
Labels: area/k8s

fix: more local IPs
  k8s/networking/pod-gateway/values.yaml
Labels: area/k8s

fix: more improvements
  k8s/networking/pod-gateway/templates/networkpolicies.yaml
  k8s/networking/pod-gateway/values.yaml
Labels: area/k8s

fix: more cilium improvements
  k8s/networking/cilium/values.yaml
Labels: area/k8s

fix: more improvements for cilium
  k8s/networking/cilium/secrets.yaml
  k8s/networking/cilium/values.yaml
Labels: area/k8s

fix: ingress
  k8s/networking/cilium/secrets.yaml
  k8s/networking/cilium/values.yaml
Labels: area/k8s

fix: disable servicemonitor
  k8s/networking/cilium/values.yaml
Labels: area/k8s

fix:L disable kube-proxy
  k8s/monitoring/kube-prometheus-stack/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 9c1f6ab
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 96f5466
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to f72ad5b
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 4355b15
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 6ec940a
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.719
  k8s/media/sonarr/values.yaml
Labels: area/k8s

fix: add cilium l2 pool
  k8s/networking/cilium/secrets.yaml
  k8s/networking/cilium/templates/l2.yaml
Labels: area/k8s

fix: change Traefik ip
  k8s/networking/traefik/secrets.yaml
Labels: area/k8s

fix: set new ip
  k8s/networking/traefik/secrets.yaml
Labels: area/k8s

fix: networking setup
  k8s/automation/mosquitto/secrets.yaml
  k8s/automation/mosquitto/values.yaml
  k8s/bootstrap/app-of-apps/values.yaml
  k8s/media/plex/secrets.yaml
  k8s/media/plex/values.yaml
  k8s/networking/cilium/secrets.yaml
  k8s/networking/cilium/templates/l2-announcement.yaml
  k8s/networking/cilium/templates/l2-pool.yaml
  k8s/networking/k8s-gateway/secrets.yaml
  k8s/networking/k8s-gateway/values.yaml
  k8s/networking/metallb/Chart.yaml
  k8s/networking/metallb/secrets.yaml
  k8s/networking/metallb/templates/ipaddresspool.yaml
  k8s/networking/metallb/templates/l2advertisment.yaml
  k8s/networking/metallb/values.yaml
  k8s/networking/traefik/secrets.yaml
  k8s/networking/traefik/values.yaml
Labels: area/k8s

fix: networking setup
  ansible/rpi/inventory/group_vars/all/secret.sops.yaml
  k8s/media/plex/secrets.yaml
  k8s/monitoring/blackbox-exporter/secrets.yaml
  terraform/unifi/.terraform.lock.hcl
  terraform/unifi/secret.sops.yaml
Labels: area/ansible, area/k8s, area/terraform

fix: maglev
  k8s/networking/cilium/values.yaml
Labels: area/k8s

fix: add nginx-internal
  k8s/bootstrap/app-of-apps/values.yaml
  k8s/networking/nginx-internal/Chart.yaml
  k8s/networking/nginx-internal/values.yaml
Labels: area/k8s

fix: namespace
  k8s/networking/nginx-internal/values.yaml
Labels: area/k8s

feat: nginx-external
  k8s/networking/nginx-external/Chart.yaml
  k8s/networking/nginx-external/values.yaml
Labels: area/k8s

feat: enable nginx-external
  k8s/bootstrap/app-of-apps/values.yaml
Labels: area/k8s

fix: log line
  k8s/networking/nginx-external/values.yaml
Labels: area/k8s

fix: mitigate cve
  k8s/networking/nginx-external/values.yaml
  k8s/networking/nginx-internal/values.yaml
Labels: area/k8s

fix: cloudflare ip updater
  .github/scripts/cloudflare-networks.sh
  .github/workflows/publish-cloudflare-networks.yaml
  k8s/networking/nginx-external/values.yaml
Labels: area/github, area/k8s

chore(github-action): update cloudflare networks
  k8s/networking/nginx-external/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to cd782c7
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

fix: cloudflare ip updater
  .github/scripts/cloudflare-networks.sh
Labels: area/github

chore(github-action): update cloudflare networks
  k8s/networking/nginx-external/values.yaml
Labels: area/k8s

fix: try this
  k8s/automation/home-assistant/secrets.yaml
  k8s/automation/home-assistant/values.yaml
  k8s/networking/cloudflared/secrets.yaml
  k8s/networking/cloudflared/templates/configmap.yaml
  k8s/networking/cloudflared/templates/dnsendpoint_new.yaml
Labels: area/k8s

fix: typo
  k8s/networking/cloudflared/templates/configmap.yaml
Labels: area/k8s

fix: controller address
  k8s/networking/cloudflared/templates/configmap.yaml
Labels: area/k8s

fix: controller address
  k8s/networking/cloudflared/templates/configmap.yaml
Labels: area/k8s

fix: local policy
  k8s/networking/nginx-external/values.yaml
  k8s/networking/nginx-internal/values.yaml
Labels: area/k8s

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/k8s:
  - "k8s/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
