Repository mfin/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/k8s, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/k8s:
  - "k8s/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"

fix: this
  k8s/networking/external-services/templates/drive.yaml
Labels: area/k8s

fix: this
  k8s/networking/external-services/templates/drive.yaml
Labels: area/k8s

fix: this
  k8s/networking/external-services/templates/drive.yaml
Labels: area/k8s

fix: add annotation
  k8s/system/actions-runner-controller/values.yaml
Labels: area/k8s

fix: add annotation
  k8s/authentication/authelia/values.yaml
  k8s/automation/flaresolverr/values.yaml
  k8s/automation/home-assistant/values.yaml
  k8s/automation/node-red/values.yaml
  k8s/automation/zigbee2mqtt/values.yaml
  k8s/media/bazarr/values.yaml
  k8s/media/overseerr/values.yaml
  k8s/media/plex/values.yaml
  k8s/media/prowlarr/values.yaml
  k8s/media/qbittorrent/values.yaml
  k8s/media/radarr-4k/values.yaml
  k8s/media/radarr/values.yaml
  k8s/media/sonarr/values.yaml
  k8s/media/tautulli/values.yaml
  k8s/monitoring/goldilocks/values.yaml
  k8s/monitoring/grafana/values.yaml
  k8s/monitoring/kube-prometheus-stack/values.yaml
  k8s/networking/external-services/templates/photos.yaml
  k8s/selfhosted/hajimari/values.yaml
  k8s/selfhosted/mailrise/values.yaml
  k8s/selfhosted/paperless-ngx/values.yaml
  k8s/selfhosted/whoami/values.yaml
Labels: area/k8s

fix: this
  k8s/networking/external-services/templates/drive.yaml
Labels: area/k8s

fix: this
  k8s/networking/external-services/templates/drive.yaml
Labels: area/k8s

fix: this
  k8s/networking/external-services/templates/drive.yaml
Labels: area/k8s

chore: add comment
  k8s/networking/external-services/templates/drive.yaml
Labels: area/k8s

fix: remove unused middleware
  k8s/networking/traefik/templates/middleware.yaml
Labels: area/k8s

fix: this
  k8s/networking/external-services/templates/drive.yaml
Labels: area/k8s

fix: this
  k8s/networking/external-services/templates/drive.yaml
Labels: area/k8s

fix: this
  k8s/networking/external-services/templates/drive.yaml
Labels: area/k8s

fix: this
  k8s/networking/external-services/templates/drive.yaml
Labels: area/k8s

fix: this
  k8s/networking/external-services/templates/drive.yaml
Labels: area/k8s

feat(github-action): update renovatebot/github-action action to v34.109.1
  .github/workflows/renovate.yaml
Labels: area/github

feat: add minio
  k8s/bootstrap/app-of-apps/values.yaml
  k8s/storage/minio/Chart.yaml
  k8s/storage/minio/secrets.yaml
  k8s/storage/minio/templates/pvc.yaml
  k8s/storage/minio/templates/secret.yaml
  k8s/storage/minio/values.yaml
Labels: area/k8s

fix: add use credentials
  k8s/storage/minio/secrets.yaml
  k8s/storage/minio/templates/secret.yaml
Labels: area/k8s

fix: copypasta err
  k8s/storage/minio/values.yaml
Labels: area/k8s

chore: match minio
  .github/renovate.json5
Labels: area/github

fix(container): update image quay.io/minio/minio to release.2023-01-20t02-05-44z
  k8s/storage/minio/values.yaml
Labels: area/k8s

fix: endpoint
  k8s/storage/minio/values.yaml
Labels: area/k8s

fix: endpoint
  k8s/storage/minio/values.yaml
Labels: area/k8s

fix(github-release): update k3s-io/k3s to v1.26.0+k3s2
  ansible/inventory/homelab/group_vars/all.yml
Labels: area/ansible

fix: promToken
  k8s/storage/minio/secrets.yaml
Labels: area/k8s

chore: add hajimari for minio
  k8s/storage/minio/values.yaml
Labels: area/k8s

fix(github-release): update kubernetes/kubernetes to v1.26.1
  k8s/bootstrap/argocd/values.yaml
Labels: area/k8s

fix: try this
  k8s/automation/tika/values.yaml
Labels: area/k8s

fix: temp remove tika
  k8s/bootstrap/app-of-apps/values.yaml
Labels: area/k8s

fix: add back tika
  k8s/bootstrap/app-of-apps/values.yaml
Labels: area/k8s

fix: add tika config
  k8s/automation/tika/templates/configmap.yaml
  k8s/automation/tika/values.yaml
Labels: area/k8s

fix: test
  k8s/selfhosted/whoami/values.yaml
Labels: area/k8s

fix: bump limits
  k8s/automation/tika/values.yaml
Labels: area/k8s

fix: sanitize config
  k8s/automation/tika/templates/configmap.yaml
Labels: area/k8s

fix: reloader
  k8s/automation/tika/values.yaml
Labels: area/k8s

fix: try with minimal config
  k8s/automation/tika/templates/configmap.yaml
Labels: area/k8s

fix(container): update image apache/tika to v2.6.0.1
  k8s/automation/tika/values.yaml
Labels: area/k8s

fix: try with TLSOption
  k8s/networking/external-services/templates/drive.yaml
  k8s/networking/traefik/templates/tlsoption.yaml
Labels: area/k8s

fix: not default
  k8s/networking/traefik/templates/tlsoption.yaml
Labels: area/k8s

fix: tlsoption
  k8s/networking/external-services/templates/drive.yaml
Labels: area/k8s
