Repository mfin/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/k8s, area/hack, area/terraform

fix(github-action): update renovatebot/github-action action to v34.132.1
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update image ghcr.io/onedr0p/qbittorrent to v4.5.1
  k8s/media/qbittorrent/values.yaml
Labels: area/k8s

fix: add ability to run restic commands
  .taskfiles/restic/Tasks.yaml
Labels: none

fix: prepare to migrate domain
  terraform/cloudflare/homelab_domain.tf
  terraform/cloudflare/secret.sops.yaml
Labels: area/terraform

fix: change domain
  k8s/networking/cloudflare-ddns/secrets.yaml
Labels: area/k8s

fix: reverse records
  terraform/cloudflare/homelab_domain.tf
Labels: area/terraform

fix: update certificates
  k8s/networking/cert-manager/secrets.yaml
  k8s/networking/cert-manager/templates/temp-certificate.yaml
Labels: area/k8s

fix: update external-dns token and domains
  k8s/networking/external-dns/secrets.yaml
Labels: area/k8s

fix: update k8s-gateway
  k8s/networking/k8s-gateway/secrets.yaml
Labels: area/k8s

fix: update forwarding on nextdns
  ansible/rpi/inventory/group_vars/all/secret.sops.yaml
  ansible/rpi/playbooks/roles/nextdns/templates/nextdns.conf.j2
Labels: area/ansible

fix: change whoami dns record
  k8s/selfhosted/whoami/secrets.yaml
Labels: area/k8s

fix: add secretName
  k8s/selfhosted/whoami/secrets.yaml
Labels: area/k8s

fix: update authelia domain
  k8s/authentication/authelia/secrets.yaml
Labels: area/k8s

fix: update authelia domain
  k8s/networking/traefik/secrets.yaml
Labels: area/k8s

fix: add secretName
  k8s/authentication/authelia/secrets.yaml
Labels: area/k8s

fix: update glauth domain
  k8s/authentication/authelia/secrets.yaml
  k8s/authentication/glauth/secrets.yaml
Labels: area/k8s

fix: update domains
  k8s/automation/home-assistant/secrets.yaml
  k8s/media/overseerr/secrets.yaml
Labels: area/k8s

fix: update cert
  k8s/networking/cert-manager/secrets.yaml
  k8s/networking/cert-manager/templates/certificate.yaml
Labels: area/k8s

fix: update domains
  k8s/bootstrap/argocd/secrets.yaml
Labels: area/k8s

fix: update domains
  k8s/authentication/authelia/secrets.yaml
Labels: area/k8s

fix: update domains
  k8s/selfhosted/mailrise/secrets.yaml
Labels: area/k8s

fix: update domains
  k8s/automation/flaresolverr/secrets.yaml
  k8s/automation/node-red/secrets.yaml
  k8s/automation/zigbee2mqtt/secrets.yaml
  k8s/media/bazarr/secrets.yaml
  k8s/media/plex/secrets.yaml
  k8s/media/prowlarr/secrets.yaml
  k8s/media/qbittorrent/secrets.yaml
  k8s/media/radarr-4k/secrets.yaml
  k8s/media/radarr/secrets.yaml
  k8s/media/readarr/secrets.yaml
  k8s/media/sabnzbd/secrets.yaml
  k8s/media/sonarr/secrets.yaml
  k8s/media/tautulli/secrets.yaml
  k8s/media/xteve/secrets.yaml
Labels: area/k8s

fix: update domains
  k8s/monitoring/blackbox-exporter/secrets.yaml
  k8s/monitoring/goldilocks/secrets.yaml
  k8s/monitoring/grafana/secrets.yaml
  k8s/monitoring/kube-prometheus-stack/secrets.yaml
  k8s/monitoring/loki/secrets.yaml
  k8s/networking/external-services/secrets.yaml
  k8s/networking/external-services/templates/drive.yaml
  k8s/networking/external-services/templates/minio.yaml
  k8s/networking/external-services/templates/photos.yaml
  k8s/networking/traefik/secrets.yaml
  k8s/selfhosted/hajimari/secrets.yaml
  k8s/selfhosted/paperless-ngx/secrets.yaml
  k8s/selfhosted/yarr/secrets.yaml
  k8s/system/actions-runner-controller/secrets.yaml
Labels: area/k8s

fix: update domains
  k8s/archive/minio/secrets.yaml
Labels: area/k8s

fix: update default cert
  k8s/networking/traefik/templates/tlsstore.yaml
Labels: area/k8s

fix: remove default cert
  k8s/selfhosted/whoami/secrets.yaml
Labels: area/k8s

fix: remove old domain
  k8s/authentication/glauth/secrets.yaml
  k8s/networking/cert-manager/secrets.yaml
  k8s/networking/cert-manager/templates/temp-certificate.yaml
  k8s/networking/external-dns/secrets.yaml
  k8s/networking/k8s-gateway/secrets.yaml
Labels: area/k8s

fix: remove old domain
  ansible/rpi/inventory/group_vars/all/secret.sops.yaml
  ansible/rpi/playbooks/roles/nextdns/templates/nextdns.conf.j2
  terraform/cloudflare/primary_domain.tf
  terraform/cloudflare/secret.sops.yaml
Labels: area/ansible, area/terraform

fix: update dns probe
  k8s/monitoring/blackbox-exporter/secrets.yaml
Labels: area/k8s

fix: update argocd webhook ingress
  k8s/bootstrap/argocd/templates/webhooks.yaml
Labels: area/k8s

fix: remove old domain
  terraform/cloudflare/secret.sops.yaml
Labels: area/terraform

fix: remove old cert
  k8s/authentication/authelia/secrets.yaml
  k8s/automation/flaresolverr/secrets.yaml
  k8s/automation/home-assistant/secrets.yaml
  k8s/automation/node-red/secrets.yaml
  k8s/automation/zigbee2mqtt/secrets.yaml
Labels: area/k8s

fix: remove direct references to cert
  k8s/archive/minio/secrets.yaml
  k8s/automation/home-assistant/secrets.yaml
  k8s/bootstrap/argocd/secrets.yaml
  k8s/media/bazarr/secrets.yaml
  k8s/media/overseerr/secrets.yaml
  k8s/media/plex/secrets.yaml
  k8s/media/prowlarr/secrets.yaml
  k8s/media/qbittorrent/secrets.yaml
  k8s/media/radarr-4k/secrets.yaml
  k8s/media/radarr/secrets.yaml
  k8s/media/readarr/secrets.yaml
  k8s/media/sabnzbd/secrets.yaml
  k8s/media/sonarr/secrets.yaml
  k8s/media/xteve/secrets.yaml
  k8s/monitoring/blackbox-exporter/secrets.yaml
  k8s/monitoring/goldilocks/secrets.yaml
  k8s/monitoring/grafana/secrets.yaml
  k8s/monitoring/kube-prometheus-stack/secrets.yaml
  k8s/monitoring/loki/secrets.yaml
  k8s/networking/external-services/templates/drive.yaml
  k8s/networking/external-services/templates/minio.yaml
  k8s/networking/external-services/templates/photos.yaml
  k8s/selfhosted/hajimari/secrets.yaml
  k8s/selfhosted/mailrise/secrets.yaml
  k8s/selfhosted/paperless-ngx/secrets.yaml
  k8s/system/actions-runner-controller/secrets.yaml
Labels: area/k8s

fix: change wg endpoint
  ansible/rpi/inventory/group_vars/all/wireguard.sops.yaml
Labels: area/ansible

fix: add minio metrics
  k8s/networking/external-services/secrets.yaml
  k8s/networking/external-services/templates/coredns.yaml
  k8s/networking/external-services/templates/minio.yaml
Labels: area/k8s

fix: secret
  k8s/networking/external-services/secrets.yaml
  k8s/networking/external-services/templates/minio.yaml
Labels: area/k8s

fix: is http
  k8s/networking/external-services/templates/minio.yaml
Labels: area/k8s

fix: no auth
  k8s/networking/external-services/secrets.yaml
  k8s/networking/external-services/templates/minio.yaml
Labels: area/k8s

fix: add ingress
  k8s/monitoring/kube-prometheus-stack/secrets.yaml
  k8s/monitoring/kube-prometheus-stack/templates/ingress.yaml
Labels: area/k8s

fix: endpoint
  k8s/monitoring/kube-prometheus-stack/templates/ingress.yaml
Labels: area/k8s

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/k8s:
  - "k8s/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
