Repository mfin/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/k8s, area/hack, area/terraform

chore(container): update image ghcr.io/authelia/authelia to e68a759
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 0582452
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to c4669ce
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to c994d12
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 7a8f979
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 2283ca0
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to ac07f09
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

fix(container): update image cloudflare/cloudflared to v2024.1.5
  k8s/networking/cloudflared/values.yaml
Labels: area/k8s

fix(container): update image docker.io/caronc/apprise to v0.9.8
  k8s/automation/apprise-api/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/mfin/argocd to v2.9.4
  k8s/bootstrap/argocd/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/alpine to v3.19.1
  .taskfiles/volumes/templates/WipeJob.tmpl.yaml
Labels: none

fix(container): update image ghcr.io/onedr0p/lidarr-develop to v2.1.4.3941
  k8s/media/lidarr/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/readarr-develop to v0.3.17.2409
  k8s/media/readarr/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.1.1014
  k8s/media/sonarr/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/paperless-ngx/paperless-ngx to v2.4.3
  k8s/selfhosted/paperless-ngx/values.yaml
Labels: area/k8s

fix(helm): update chart external-dns to 1.14.3
  k8s/networking/dns-external/Chart.yaml
  k8s/networking/dns-internal/Chart.yaml
Labels: area/k8s

fix(helm): update chart grafana to 7.2.5
  k8s/monitoring/grafana/Chart.yaml
Labels: area/k8s

fix(helm): update chart ingress-nginx to 4.9.1
  k8s/networking/nginx-external/Chart.yaml
  k8s/networking/nginx-internal/Chart.yaml
Labels: area/k8s

fix(helm): update chart node-feature-discovery to 0.15.1
  k8s/system/node-feature-discovery/Chart.yaml
Labels: area/k8s

feat(container): update image ghcr.io/autobrr/autobrr to v1.36.0
  k8s/media/autobrr/values.yaml
Labels: area/k8s

feat(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.13.0.4217
  k8s/media/prowlarr/values.yaml
Labels: area/k8s

feat(helm): update chart prometheus-blackbox-exporter to 8.10.1
  k8s/monitoring/blackbox-exporter/Chart.yaml
Labels: area/k8s

feat(github-action)!: Update actions/labeler action to v5.0.0
  .github/workflows/labeler.yaml
Labels: area/github

feat(github-action)!: Update renovatebot/github-action action to v40.0.2
  .github/workflows/renovate.yaml
Labels: area/github

chore(container): update image ghcr.io/authelia/authelia to 218481d
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/mfin/n8n to 2a2137c
  k8s/automation/n8n/values.yaml
Labels: area/k8s

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/k8s:
  - "k8s/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
