Repository mfin/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/k8s, area/hack, area/terraform

fix(container): update image eclipse-mosquitto to v2.0.16
  k8s/automation/mosquitto/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/jmmaloney4/roon to v2.0.1303
  k8s/archive/roon/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/koenkk/zigbee2mqtt to v1.32.2
  k8s/automation/zigbee2mqtt/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/alpine to v3.18.3
  .taskfiles/volumes/templates/WipeJob.tmpl.yaml
Labels: none

fix(container): update image ghcr.io/onedr0p/filebrowser to v2.24.2
  k8s/media/filebrowser/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/radarr-develop to v4.7.5.7809
  k8s/media/radarr-4k/values.yaml
  k8s/media/radarr/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/readarr-develop to v0.3.3.2171
  k8s/media/readarr/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/taxel/plextraktsync to v0.26.11
  k8s/media/plex-trakt-sync/templates/cronjob.yaml
  k8s/media/plex-trakt-sync/values.yaml
Labels: area/k8s

feat(container): update image docker.io/library/redis to v7.2.0
  k8s/storage/redis/values.yaml
Labels: area/k8s

feat(container): update image ghcr.io/flaresolverr/flaresolverr to v3.3.2
  k8s/automation/flaresolverr/values.yaml
Labels: area/k8s

feat(container): update image ghcr.io/onedr0p/postgres-init to v14.9
  k8s/automation/n8n/values.yaml
  k8s/automation/nocodb/values.yaml
  k8s/selfhosted/miniflux/values.yaml
Labels: area/k8s

feat(container): update image ghcr.io/onedr0p/vector to v0.32.0
  k8s/monitoring/vector-agent/values.yaml
  k8s/monitoring/vector-aggregator/values.yaml
Labels: area/k8s

feat(container): update image ghcr.io/paperless-ngx/paperless-ngx to v1.17.1
  k8s/selfhosted/paperless-ngx/values.yaml
Labels: area/k8s

feat(container): update image ghcr.io/recyclarr/recyclarr to v5.2.1
  k8s/media/recyclarr/values.yaml
Labels: area/k8s

feat(container): update image ghcr.io/unpoller/unpoller to v2.8.1
  k8s/monitoring/unpoller/values.yaml
Labels: area/k8s

feat(container): update image homeassistant/home-assistant to v2023.8.3
  k8s/automation/home-assistant/values.yaml
Labels: area/k8s

feat(container): update image quay.io/minio/minio to release.2023-08-16t20-17-30z
  k8s/archive/minio/values.yaml
Labels: area/k8s

feat(github-release): update control-d-inc/ctrld to v1.3.0
  ansible/rpi/inventory/group_vars/all/ctrld.yaml
Labels: area/ansible

feat(github-release): update jkroepke/helm-secrets to v4.5.0
  k8s/bootstrap/argocd/values.yaml
Labels: area/k8s

feat(helm): update chart goldilocks to 7.1.1
  k8s/monitoring/goldilocks/Chart.yaml
Labels: area/k8s

feat(helm): update chart loki to 5.14.1
  k8s/monitoring/loki/Chart.yaml
Labels: area/k8s

feat(helm): update chart prometheus-blackbox-exporter to 8.3.0
  k8s/monitoring/blackbox-exporter/Chart.yaml
Labels: area/k8s

feat(helm): update chart prometheus-smartctl-exporter to 0.5.0
  k8s/monitoring/smartctl-exporter/Chart.yaml
Labels: area/k8s

feat(helm): update chart promtail to 6.14.1
  k8s/monitoring/promtail/Chart.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.8.3.3880
  k8s/media/prowlarr/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/lidarr-develop to v1.3.5.3530
  k8s/media/lidarr/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.644
  k8s/media/sonarr/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/miniflux/miniflux to v2.0.47
  k8s/selfhosted/miniflux/values.yaml
Labels: area/k8s

Revert "fix(container): update image eclipse-mosquitto to v2.0.16 (#839)"
  k8s/automation/mosquitto/values.yaml
Labels: area/k8s

Revert "fix(container): update image eclipse-mosquitto to v2.0.16 (#8… (#843)
  k8s/automation/mosquitto/values.yaml
Labels: area/k8s

fix(container): update image nocodb/nocodb to v0.109.7
  k8s/automation/nocodb/values.yaml
Labels: area/k8s

fix(helm): update chart grafana to 6.58.9
  k8s/monitoring/grafana/Chart.yaml
Labels: area/k8s

fix(helm): update chart reflector to 7.0.193
  k8s/system/reflector/Chart.yaml
Labels: area/k8s

fix(helm): update chart reloader to 1.0.38
  k8s/system/reloader/Chart.yaml
Labels: area/k8s

feat(container): update image postgres to v15.4
  k8s/storage/postgres/values.yaml
Labels: area/k8s

feat(helm): update chart argo-cd to 5.43.4
  k8s/bootstrap/argocd/Chart.yaml
Labels: area/k8s

feat(helm): update chart kube-prometheus-stack to 48.3.1
  k8s/monitoring/kube-prometheus-stack/Chart.yaml
Labels: area/k8s

feat(helm): update chart vpa to 2.4.0
  k8s/system/vpa/Chart.yaml
Labels: area/k8s

chore(container): update image ghcr.io/mfin/n8n to 60d9163
  k8s/automation/n8n/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to b03fa85
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/k8s:
  - "k8s/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
