Repository mfin/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/k8s, area/hack, area/terraform

fix: ip
  k8s/networking/external-services/templates/node-red.yaml
Labels: area/k8s

fix: ip
  k8s/networking/external-services/secrets.yaml
  k8s/networking/external-services/templates/node-red.yaml
Labels: area/k8s

fix(github-action): update renovatebot/github-action action to v40.2.1
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update image cloudflare/cloudflared to v2024.6.1
  k8s/networking/cloudflared/values.yaml
Labels: area/k8s

fix(container): update image docker.io/caronc/apprise to v1.1.4
  k8s/automation/apprise-api/values.yaml
Labels: area/k8s

fix(container): update image docker.io/restic/restic to v0.16.5
  .taskfiles/volumes/templates/ListJob.tmpl.yaml
Labels: none

fix(container): update image ghcr.io/flaresolverr/flaresolverr to v3.3.21
  k8s/automation/flaresolverr/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/jorenn92/maintainerr to v2.0.4
  k8s/media/maintainerr/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/plex to v1.40.3.8555-fef15d30c
  k8s/media/plex/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.6.1820
  k8s/media/sonarr/values.yaml
Labels: area/k8s

fix(helm): update chart cert-manager to v1.15.1
  k8s/networking/cert-manager/Chart.yaml
Labels: area/k8s

fix(helm): update chart cilium to 1.15.6
  k8s/networking/cilium/Chart.yaml
Labels: area/k8s

fix(helm): update chart external-dns to 1.14.5
  k8s/networking/dns-external/Chart.yaml
  k8s/networking/dns-internal/Chart.yaml
  k8s/networking/dns-media/Chart.yaml
Labels: area/k8s

fix(helm): update chart node-feature-discovery to 0.16.1
  k8s/system/node-feature-discovery/Chart.yaml
Labels: area/k8s

fix(helm): update chart reflector to 7.1.288
  k8s/system/reflector/Chart.yaml
Labels: area/k8s

feat(container): update image ghcr.io/autobrr/autobrr to v1.43.0
  k8s/media/autobrr/values.yaml
Labels: area/k8s

feat(container): update image ghcr.io/onedr0p/lidarr-develop to v2.4.2.4238
  k8s/media/lidarr/values.yaml
Labels: area/k8s

feat(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.20.1.4603
  k8s/media/prowlarr/values.yaml
Labels: area/k8s

feat(container): update image ghcr.io/onedr0p/radarr-develop to v5.8.1.8906
  k8s/media/radarr-4k/values.yaml
  k8s/media/radarr/values.yaml
Labels: area/k8s

feat(container): update image ghcr.io/paperless-ngx/paperless-ngx to v2.10.2
  k8s/selfhosted/paperless-ngx/values.yaml
Labels: area/k8s

feat(container): update image ghcr.io/taxel/plextraktsync to v0.31.5
  k8s/media/plex-trakt-sync/templates/cronjob.yaml
  k8s/media/plex-trakt-sync/values.yaml
Labels: area/k8s

feat(container): update image gotenberg/gotenberg to v8.8.0
  k8s/automation/gotenberg/values.yaml
Labels: area/k8s

feat(container): update image nocodb/nocodb to v0.251.1
  k8s/automation/nocodb/values.yaml
Labels: area/k8s

feat(helm): update chart grafana to 8.3.2
  k8s/monitoring/grafana/Chart.yaml
Labels: area/k8s

feat(helm): update chart prometheus-smartctl-exporter to 0.10.0
  k8s/monitoring/smartctl-exporter/Chart.yaml
Labels: area/k8s

feat(helm): update chart prometheus-snmp-exporter to 5.5.0
  k8s/monitoring/snmp-exporter/Chart.yaml
Labels: area/k8s

feat(helm): update chart vpa to 4.5.0
  k8s/system/vpa/Chart.yaml
Labels: area/k8s

feat(helm)!: Update chart snapshot-controller to 3.0.5
  k8s/storage/snapshot-controller/Chart.yaml
Labels: area/k8s

fix(helm): update chart reloader to 1.0.116
  k8s/system/reloader/Chart.yaml
Labels: area/k8s

fix(github-action): update renovatebot/github-action action to v40.2.2
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-action): update renovatebot/github-action action to v40.2.3
  .github/workflows/renovate.yaml
Labels: area/github

fix: remove some services
  k8s/networking/external-services/secrets.yaml
  k8s/networking/external-services/templates/dns.yaml
  k8s/networking/external-services/templates/emqx.yaml
  k8s/networking/external-services/templates/minio.yaml
  k8s/networking/external-services/templates/node-red.yaml
  k8s/networking/external-services/templates/z2m.yaml
Labels: area/k8s

fix: update synology hostname
  k8s/networking/external-services/secrets.yaml
Labels: area/k8s

fix: update secrets
  k8s/authentication/authelia/secrets.yaml
  k8s/automation/n8n/secrets.yaml
  k8s/automation/nocodb/secrets.yaml
  k8s/media/autobrr/secrets.yaml
  k8s/media/bazarr/secrets.yaml
  k8s/media/calibre-web/secrets.yaml
  k8s/media/filebrowser/secrets.yaml
  k8s/media/lidarr/secrets.yaml
  k8s/media/maintainerr/secrets.yaml
  k8s/media/overseerr/secrets.yaml
  k8s/media/plex-trakt-sync/secrets.yaml
  k8s/media/plex/secrets.yaml
  k8s/media/prowlarr/secrets.yaml
  k8s/media/qbittorrent/secrets.yaml
  k8s/media/radarr-4k/secrets.yaml
  k8s/media/radarr/secrets.yaml
  k8s/media/sabnzbd/secrets.yaml
  k8s/media/sonarr/secrets.yaml
  k8s/media/tautulli/secrets.yaml
  k8s/media/unpackerr/secrets.yaml
  k8s/media/wizarr/secrets.yaml
  k8s/media/xteve/secrets.yaml
  k8s/monitoring/grafana/secrets.yaml
  k8s/monitoring/snmp-exporter/secrets.yaml
  k8s/selfhosted/homebox/secrets.yaml
  k8s/selfhosted/paperless-ngx/secrets.yaml
  k8s/selfhosted/static/secrets.yaml
  k8s/selfhosted/thelounge/secrets.yaml
Labels: area/k8s

fix: remove hass
  k8s/networking/external-services/secrets.yaml
  k8s/networking/external-services/templates/hass.yaml
Labels: area/k8s

fix: remove calibre
  k8s/bootstrap/app-of-apps/values.yaml
Labels: area/k8s

fix: remove calibre
  k8s/media/calibre-web/Chart.yaml
  k8s/media/calibre-web/secrets.yaml
  k8s/media/calibre-web/templates/pvc.yaml
  k8s/media/calibre-web/templates/volsync.yaml
  k8s/media/calibre-web/values.yaml
Labels: area/k8s

fix: remove plex
  k8s/bootstrap/app-of-apps/values.yaml
Labels: area/k8s

fix: remove plex
  k8s/media/plex/Chart.yaml
  k8s/media/plex/secrets.yaml
  k8s/media/plex/templates/pvc.yaml
  k8s/media/plex/templates/volsync.yaml
  k8s/media/plex/values.yaml
Labels: area/k8s

fix: plex info sync
  k8s/media/plex-trakt-sync/secrets.yaml
  k8s/media/plex-trakt-sync/templates/secret.yaml
  k8s/media/plex-trakt-sync/values.yaml
Labels: area/k8s

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
    - any-glob-to-any-file: "ansible/**/*"
area/github:
  - changed-files:
    - any-glob-to-any-file: ".github/**/*"
area/k8s:
  - changed-files:
    - any-glob-to-any-file: "k8s/**/*"
area/hack:
  - changed-files:
    - any-glob-to-any-file: "hack/**/*"
area/terraform:
  - changed-files:
    - any-glob-to-any-file: "terraform/**/*"
