Repository mfin/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/k8s, area/hack, area/terraform

chore(container): update image ghcr.io/authelia/authelia to cc724e8
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 0d9fef1
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 9113ee8
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 6cf0507
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to cc88746
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to f3c36f8
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 1755e70
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

feat(github-action): update actions/checkout action to v4.1.0
  .github/workflows/publish-cloudflare-networks.yaml
  .github/workflows/renovate.yaml
  .github/workflows/sync-labels.yaml
Labels: area/github

chore(container): update image ghcr.io/authelia/authelia to 3dce02a
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/wakeful-cloud/yarr to a3d2017
  k8s/archive/yarr/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 956878f
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/cross-seed/cross-seed to 55169f7
  k8s/media/cross-seed/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/cross-seed/cross-seed to da5b37a
  k8s/media/cross-seed/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to a26121c
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 7ff085c
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/cross-seed/cross-seed to 4d494f1
  k8s/media/cross-seed/values.yaml
Labels: area/k8s

fix: n8n has it's own auth now
  k8s/automation/n8n/values.yaml
Labels: area/k8s

fix(ansible): update community.sops to 1.6.6
  ansible/requirements.yaml
Labels: area/ansible

fix(container): update image docker.io/library/redis to v7.2.1
  k8s/storage/redis/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/flaresolverr/flaresolverr to v3.3.6
  k8s/automation/flaresolverr/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/miniflux/miniflux to v2.0.48
  k8s/selfhosted/miniflux/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/lidarr-develop to v1.4.3.3586
  k8s/media/lidarr/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/plex to v1.32.6.7468-07e0d4a7e
  k8s/media/plex/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/radarr-develop to v5.0.2.8103
  k8s/media/radarr-4k/values.yaml
  k8s/media/radarr/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/readarr-develop to v0.3.6.2232
  k8s/media/readarr/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.682
  k8s/media/sonarr/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/vector to v0.32.2
  k8s/monitoring/vector-agent/values.yaml
  k8s/monitoring/vector-aggregator/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/taxel/plextraktsync to v0.27.7
  k8s/media/plex-trakt-sync/templates/cronjob.yaml
  k8s/media/plex-trakt-sync/values.yaml
Labels: area/k8s

fix(container): update image gotenberg/gotenberg to v7.9.2
  k8s/automation/gotenberg/values.yaml
Labels: area/k8s

fix(container): update image nocodb/nocodb to v0.111.4
  k8s/automation/nocodb/values.yaml
Labels: area/k8s

fix(helm): update chart external-dns to 1.13.1
  k8s/networking/external-dns/Chart.yaml
Labels: area/k8s

fix(helm): update chart metallb to 0.13.11
  k8s/networking/metallb/Chart.yaml
Labels: area/k8s

fix(helm): update chart promtail to 6.15.2
  k8s/monitoring/promtail/Chart.yaml
Labels: area/k8s

fix(helm): update chart reloader to 1.0.41
  k8s/system/reloader/Chart.yaml
Labels: area/k8s

feat(ansible): update community.general to 7.4.0
  ansible/requirements.yaml
Labels: area/ansible

feat(container): update image curlimages/curl to v8.3.0
  k8s/archive/nextdns-ip/templates/cronjob.yaml
Labels: area/k8s

feat(container): update image docker.io/nodered/node-red to v3.1.0
  k8s/archive/node-red/values.yaml
Labels: area/k8s

feat(container): update image ghcr.io/advplyr/audiobookshelf to v2.4.3
  k8s/media/audiobookshelf/values.yaml
Labels: area/k8s

feat(container): update image ghcr.io/autobrr/autobrr to v1.30.0
  k8s/media/autobrr/values.yaml
Labels: area/k8s

feat(container): update image ghcr.io/onedr0p/bazarr to v1.3.0
  k8s/media/bazarr/values.yaml
Labels: area/k8s

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/k8s:
  - "k8s/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
