Repository mfin/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/k8s, area/hack, area/terraform

feat(container): update image ghcr.io/autobrr/autobrr to v1.40.1
  k8s/media/autobrr/values.yaml
Labels: area/k8s

feat(container): update image ghcr.io/autobrr/omegabrr to v1.12.1
  k8s/media/omegabrr/values.yaml
Labels: area/k8s

feat(container): update image ghcr.io/coder/code-server to v4.22.1
  k8s/automation/ha-config/values.yaml
Labels: area/k8s

feat(container): update image ghcr.io/koenkk/zigbee2mqtt to v1.36.0
  k8s/automation/zigbee2mqtt/values.yaml
Labels: area/k8s

feat(container): update image ghcr.io/mfin/argocd to v2.10.4
  k8s/bootstrap/argocd/values.yaml
Labels: area/k8s

feat(container): update image ghcr.io/qdm12/gluetun to v3.38.0
  k8s/networking/pod-gateway/values.yaml
Labels: area/k8s

feat(container): update image ghcr.io/unpoller/unpoller to v2.10.0
  k8s/monitoring/unpoller/values.yaml
Labels: area/k8s

feat(container): update image gotenberg/gotenberg to v8.3.0
  k8s/automation/gotenberg/values.yaml
Labels: area/k8s

feat(container): update image homeassistant/home-assistant to v2024.3.3
  k8s/automation/home-assistant/values.yaml
Labels: area/k8s

feat(container): update image postgres to v15.6
  k8s/storage/postgres/values.yaml
Labels: area/k8s

feat(helm): update chart argo-cd to 5.55.0
  k8s/bootstrap/argocd/Chart.yaml
Labels: area/k8s

feat(helm): update chart ingress-nginx to 4.10.0
  k8s/networking/nginx-external/Chart.yaml
  k8s/networking/nginx-internal/Chart.yaml
Labels: area/k8s

feat(helm): update chart kube-prometheus-stack to 56.21.4
  k8s/monitoring/kube-prometheus-stack/Chart.yaml
Labels: area/k8s

feat(helm): update chart prometheus-snmp-exporter to 3.1.1
  k8s/monitoring/snmp-exporter/Chart.yaml
Labels: area/k8s

feat(helm): update chart volsync to 0.9.0
  k8s/storage/volsync/Chart.yaml
Labels: area/k8s

feat(container)!: Update image docker.io/caronc/apprise to v1
  k8s/automation/apprise-api/values.yaml
Labels: area/k8s

feat(container)!: Update image ghcr.io/onedr0p/postgres-init to v16
  k8s/automation/n8n/values.yaml
  k8s/automation/nocodb/values.yaml
  k8s/selfhosted/miniflux/values.yaml
Labels: area/k8s

feat(container)!: Update image postgres to v16
  k8s/storage/postgres/values.yaml
Labels: area/k8s

feat(github-action)!: Update peter-evans/create-pull-request action to v6.0.2
  .github/workflows/publish-cloudflare-networks.yaml
Labels: area/github

feat(helm)!: Update chart argo-cd to 6.7.3
  k8s/bootstrap/argocd/Chart.yaml
Labels: area/k8s

feat(helm)!: Update chart kube-prometheus-stack to 57.2.0
  k8s/monitoring/kube-prometheus-stack/Chart.yaml
Labels: area/k8s

feat(helm)!: Update chart prometheus-snmp-exporter to 5.1.0
  k8s/monitoring/snmp-exporter/Chart.yaml
Labels: area/k8s

feat(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.15.0.4361
  k8s/media/prowlarr/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.2.1408
  k8s/media/sonarr/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/taxel/plextraktsync to v0.29.10
  k8s/media/plex-trakt-sync/templates/cronjob.yaml
  k8s/media/plex-trakt-sync/values.yaml
Labels: area/k8s

feat(terraform): update terraform cloudflare to 4.28.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: area/terraform

chore(container): update image linuxserver/pairdrop to 58f9ff3
  k8s/selfhosted/pairdrop/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/onedr0p/lidarr-develop to 5b24ac3
  k8s/media/lidarr/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/bjw-s/calibre-web to e68052c
  k8s/media/calibre-web/values.yaml
Labels: area/k8s

chore(container): update image linuxserver/pairdrop to 862709d
  k8s/selfhosted/pairdrop/values.yaml
Labels: area/k8s

feat(helm)!: Update chart kube-prometheus-stack to 57.2.1
  k8s/monitoring/kube-prometheus-stack/Chart.yaml
Labels: area/k8s

fix(github-action): update renovatebot/github-action action to v40.1.8
  .github/workflows/renovate.yaml
Labels: area/github

chore(container): update image ghcr.io/onedr0p/lidarr-develop to e303e3a
  k8s/media/lidarr/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/onedr0p/sabnzbd to 164f61c
  k8s/media/sabnzbd/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/onedr0p/lidarr-develop to 51ad0a1
  k8s/media/lidarr/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/onedr0p/sabnzbd to bb20d39
  k8s/media/sabnzbd/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/bjw-s/calibre-web to 426ddd5
  k8s/media/calibre-web/values.yaml
Labels: area/k8s

chore(container): update image nginx to 215c18d
  k8s/selfhosted/static/values.yaml
Labels: area/k8s

chore(container): update image nginx to 391f9f4
  k8s/selfhosted/static/values.yaml
Labels: area/k8s

chore(container): update image nginx to 5be2285
  k8s/selfhosted/static/values.yaml
Labels: area/k8s

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
    - any-glob-to-any-file: "ansible/**/*"
area/github:
  - changed-files:
    - any-glob-to-any-file: ".github/**/*"
area/k8s:
  - changed-files:
    - any-glob-to-any-file: "k8s/**/*"
area/hack:
  - changed-files:
    - any-glob-to-any-file: "hack/**/*"
area/terraform:
  - changed-files:
    - any-glob-to-any-file: "terraform/**/*"
