Repository mfin/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/k8s, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/k8s:
  - "k8s/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"

feat(ansible)!: Update community.general to 8.0.1
  ansible/requirements.yaml
Labels: area/ansible

fix: kinda disable cloudflare ip workflow
  .github/workflows/publish-cloudflare-networks.yaml
Labels: area/github

fix: tf improvements
  terraform/cloudflare/.terraform-version
  terraform/cloudflare/.terraform.lock.hcl
  terraform/unifi/.terraform-version
  terraform/unifi/secret.sops.yaml
Labels: area/terraform

fix(github-release): update k3s-io/k3s to v1.28.3+k3s2
  ansible/k3s/inventory/group_vars/all/k3s.yaml
Labels: area/ansible

fix: disable default local storage
  .taskfiles/ansible/Taskfile.yaml
  ansible/k3s/inventory/group_vars/all/k3s.yaml
  ansible/k3s/playbooks/all.yaml
Labels: area/ansible

fix: bump ubuntu
  k8s/bootstrap/argocd/values.yaml
  k8s/selfhosted/paperless-ngx/values.yaml
Labels: area/k8s

fix: bump ubuntu
  k8s/selfhosted/paperless-ngx/values.yaml
Labels: area/k8s

fix: debump ubuntu
  k8s/bootstrap/argocd/values.yaml
  k8s/selfhosted/paperless-ngx/values.yaml
Labels: area/k8s

fix: bump postgres
  k8s/storage/postgres/values.yaml
Labels: area/k8s

fix: bump postgres
  k8s/storage/postgres/values.yaml
Labels: area/k8s

fix: change ips
  k8s/networking/nginx-external/values.yaml
  k8s/networking/nginx-internal/values.yaml
Labels: area/k8s

fix: dns
  k8s/monitoring/blackbox-exporter/secrets.yaml
Labels: area/k8s

feat(helm)!: Update chart kube-prometheus-stack to 53.0.0
  k8s/monitoring/kube-prometheus-stack/Chart.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/lidarr-develop to v2.0.2.3782
  k8s/media/lidarr/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/flaresolverr/flaresolverr to v3.3.8
  k8s/automation/flaresolverr/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 75e313e
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/miniflux/miniflux to v2.0.50
  k8s/selfhosted/miniflux/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/flaresolverr/flaresolverr to v3.3.9
  k8s/automation/flaresolverr/values.yaml
Labels: area/k8s

feat(helm)!: Update chart kube-prometheus-stack to 54.0.0
  k8s/monitoring/kube-prometheus-stack/Chart.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 72982df
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

feat: use custom ArgoCD image for repo-server
  k8s/bootstrap/argocd/values.yaml
Labels: area/k8s

feat: use custom ArgoCD image for repo-server (#1071)
  k8s/bootstrap/argocd/values.yaml
Labels: area/k8s

Revert "feat: use custom ArgoCD image for repo-server (#1071)"
  k8s/bootstrap/argocd/values.yaml
Labels: area/k8s

Revert "feat: use custom ArgoCD image for repo-server" (#1072)
  k8s/bootstrap/argocd/values.yaml
Labels: area/k8s

Revert "Revert "feat: use custom ArgoCD image for repo-server" (#1072)"
  k8s/bootstrap/argocd/values.yaml
Labels: area/k8s

fix: update image tag
  k8s/bootstrap/argocd/values.yaml
Labels: area/k8s

Revert "Revert "feat: use custom ArgoCD image for repo-server"" (#1073)
  k8s/bootstrap/argocd/values.yaml
Labels: area/k8s

Revert "Revert "Revert "feat: use custom ArgoCD image for repo-server"" (#1073)"
  k8s/bootstrap/argocd/values.yaml
Labels: area/k8s

Revert "Revert "Revert "feat: use custom ArgoCD image for repo-server""" (#1074)
  k8s/bootstrap/argocd/values.yaml
Labels: area/k8s

Revert "Revert "Revert "Revert "feat: use custom ArgoCD image for repo-server""" (#1074)"
  k8s/bootstrap/argocd/values.yaml
Labels: area/k8s

fix: update hash
  k8s/bootstrap/argocd/values.yaml
Labels: area/k8s

Revert "Revert "Revert "Revert "feat: use custom ArgoCD image for repo-server"""" (#1075)
  k8s/bootstrap/argocd/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 521503c
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/mfin/postgres-minio-backup to b860651
  k8s/automation/n8n/templates/backup.yaml
  k8s/automation/nocodb/templates/backup.yaml
  k8s/selfhosted/miniflux/templates/backup.yaml
Labels: area/k8s

chore(container): update image ghcr.io/mfin/postgres-minio-restore to 19735fc
  .taskfiles/postgres/templates/RestoreJob.tmpl.yaml
Labels: none

chore(container): update image ghcr.io/authelia/authelia to ea59fa6
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/mfin/n8n to a8523de
  k8s/automation/n8n/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/mfin/n8n to a497b40
  k8s/automation/n8n/values.yaml
Labels: area/k8s

fix(helm): update chart cilium to 1.14.4
  k8s/networking/cilium/Chart.yaml
Labels: area/k8s

fix(container): update image ghcr.io/flaresolverr/flaresolverr to v3.3.10
  k8s/automation/flaresolverr/values.yaml
Labels: area/k8s
