Repository mfin/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/k8s, area/hack, area/terraform

feat(helm): update chart kube-prometheus-stack to 45.6.0
  k8s/monitoring/kube-prometheus-stack/Chart.yaml
Labels: area/k8s

feat(helm): update chart pod-gateway to 6.5.0
  k8s/networking/pod-gateway/Chart.yaml
Labels: area/k8s

fix(github-action): update actions/labeler action to v4.0.3
  .github/workflows/labeler.yaml
Labels: area/github

feat(github-action): update renovatebot/github-action action to v34.158.1
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-action): update renovatebot/github-action action to v34.158.2
  .github/workflows/renovate.yaml
Labels: area/github

chore(container): update image ghcr.io/authelia/authelia to 1cddb81
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.396
  k8s/media/sonarr/values.yaml
Labels: area/k8s

fix(helm): update chart volsync to 0.6.1
  k8s/storage/volsync/Chart.yaml
Labels: area/k8s

feat(github-action): update renovatebot/github-action action to v34.159.1
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update image homeassistant/home-assistant to v2023.3.2
  k8s/automation/home-assistant/values.yaml
Labels: area/k8s

feat(helm): update chart kube-prometheus-stack to 45.7.1
  k8s/monitoring/kube-prometheus-stack/Chart.yaml
Labels: area/k8s

feat(helm): update chart traefik to 21.2.0
  k8s/networking/traefik/Chart.yaml
Labels: area/k8s

add nix shell
  .envrc
  shell.nix
Labels: none

chore(container): update image ghcr.io/authelia/authelia to 186af7a
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

fix(github-action): update renovatebot/github-action action to v34.159.2
  .github/workflows/renovate.yaml
Labels: area/github

chore(container): update image ghcr.io/authelia/authelia to 957d5ac
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to d5299d4
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

feat(github-action)!: Update renovatebot/github-action action to v35.0.0
  .github/workflows/renovate.yaml
Labels: area/github

fix(helm): update chart reflector to 7.0.151
  k8s/system/reflector/Chart.yaml
Labels: area/k8s

fix(helm): update chart reloader to v1.0.14
  k8s/system/reloader/Chart.yaml
Labels: area/k8s

feat(container): update image quay.io/minio/minio to release.2023-03-09t23-16-13z
  k8s/archive/minio/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/plex to v1.31.1.6782-77dfff442
  k8s/media/plex/values.yaml
Labels: area/k8s

fix(container): update image homeassistant/home-assistant to v2023.3.3
  k8s/automation/home-assistant/values.yaml
Labels: area/k8s

feat(helm): update chart argo-cd to 5.25.0
  k8s/bootstrap/argocd/Chart.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 0a8394f
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to a89b952
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/wakeful-cloud/yarr to c23cba4
  k8s/selfhosted/yarr/values.yaml
Labels: area/k8s

feat(github-action): update renovatebot/github-action action to v35.1.1
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.397
  k8s/media/sonarr/values.yaml
Labels: area/k8s

fix(helm): update chart grafana to 6.52.2
  k8s/monitoring/grafana/Chart.yaml
Labels: area/k8s

fix(helm): update chart reloader to v1.0.15
  k8s/system/reloader/Chart.yaml
Labels: area/k8s

fix(github-action): update renovatebot/github-action action to v35.1.2
  .github/workflows/renovate.yaml
Labels: area/github

chore(container): update image ghcr.io/authelia/authelia to 220cf7b
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

feat(github-action): update renovatebot/github-action action to v35.2.0
  .github/workflows/renovate.yaml
Labels: area/github

chore(container): update image ghcr.io/authelia/authelia to 8574992
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

fix(github-release): update jkroepke/helm-secrets to v4.4.2
  k8s/bootstrap/argocd/values.yaml
Labels: area/k8s

fix(helm): update chart grafana to 6.52.3
  k8s/monitoring/grafana/Chart.yaml
Labels: area/k8s

feat(helm): update chart argo-cd to 5.26.0
  k8s/bootstrap/argocd/Chart.yaml
Labels: area/k8s

fix(container): update image cloudflare/cloudflared to v2023.3.1
  k8s/archive/cloudflared/values.yaml
Labels: area/k8s

feat(container): update image ghcr.io/onedr0p/tautulli to v2.12.0
  k8s/media/tautulli/values.yaml
Labels: area/k8s

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/k8s:
  - "k8s/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
