Repository mfin/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/k8s, area/hack, area/terraform

fix: resume app
  k8s/bootstrap/app-of-apps/values.yaml
Labels: area/k8s

fix(helm): update chart reloader to v1.0.5
  k8s/system/reloader/Chart.yaml
Labels: area/k8s

feat(github-action): update renovatebot/github-action action to v34.128.0
  .github/workflows/renovate.yaml
Labels: area/github

Update volsync.yaml
  k8s/media/prowlarr/templates/volsync.yaml
Labels: area/k8s

Update volsync.yaml
  k8s/media/sonarr/templates/volsync.yaml
Labels: area/k8s

Update volsync.yaml
  k8s/media/radarr/templates/volsync.yaml
Labels: area/k8s

Update volsync.yaml
  k8s/media/radarr-4k/templates/volsync.yaml
Labels: area/k8s

Update volsync.yaml
  k8s/automation/node-red/templates/volsync.yaml
Labels: area/k8s

Update volsync.yaml
  k8s/automation/zigbee2mqtt/templates/volsync.yaml
Labels: area/k8s

Update volsync.yaml
  k8s/automation/home-assistant/templates/volsync.yaml
Labels: area/k8s

Update volsync.yaml
  k8s/media/bazarr/templates/volsync.yaml
Labels: area/k8s

Update volsync.yaml
  k8s/media/overseerr/templates/volsync.yaml
Labels: area/k8s

Update volsync.yaml
  k8s/media/qbittorrent/templates/volsync.yaml
Labels: area/k8s

Update volsync.yaml
  k8s/media/sabnzbd/templates/volsync.yaml
Labels: area/k8s

Update volsync.yaml
  k8s/media/tautulli/templates/volsync.yaml
Labels: area/k8s

Update volsync.yaml
  k8s/media/xteve/templates/volsync.yaml
Labels: area/k8s

Update volsync.yaml
  k8s/media/xteve/templates/volsync.yaml
Labels: area/k8s

Update volsync.yaml
  k8s/media/tautulli/templates/volsync.yaml
Labels: area/k8s

Update volsync.yaml
  k8s/media/sonarr/templates/volsync.yaml
Labels: area/k8s

Update volsync.yaml
  k8s/media/sabnzbd/templates/volsync.yaml
Labels: area/k8s

Update volsync.yaml
  k8s/media/radarr-4k/templates/volsync.yaml
Labels: area/k8s

Update volsync.yaml
  k8s/media/radarr/templates/volsync.yaml
Labels: area/k8s

Update volsync.yaml
  k8s/media/qbittorrent/templates/volsync.yaml
Labels: area/k8s

Update volsync.yaml
  k8s/media/prowlarr/templates/volsync.yaml
Labels: area/k8s

Update volsync.yaml
  k8s/media/overseerr/templates/volsync.yaml
Labels: area/k8s

Update volsync.yaml
  k8s/media/bazarr/templates/volsync.yaml
Labels: area/k8s

Update volsync.yaml
  k8s/automation/home-assistant/templates/volsync.yaml
Labels: area/k8s

Update volsync.yaml
  k8s/automation/node-red/templates/volsync.yaml
Labels: area/k8s

Update volsync.yaml
  k8s/automation/zigbee2mqtt/templates/volsync.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.373
  k8s/media/sonarr/values.yaml
Labels: area/k8s

fix(github-action): update renovatebot/github-action action to v34.128.1
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update image homeassistant/home-assistant to v2023.2.3
  k8s/automation/home-assistant/values.yaml
Labels: area/k8s

fix(github-release): update coredns/coredns to v1.10.1
  ansible/rpi/inventory/group_vars/all/coredns.yaml
Labels: area/ansible

feat(helm): update chart argo-cd to 5.20.3
  k8s/bootstrap/argocd/Chart.yaml
Labels: area/k8s

feat(helm): update chart kube-prometheus-stack to 44.4.1
  k8s/monitoring/kube-prometheus-stack/Chart.yaml
Labels: area/k8s

feat(terraform): update terraform cloudflare to 3.34.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: area/terraform

fix: limit cpu
  k8s/storage/volsync/values.yaml
Labels: area/k8s

feat(container): update image quay.io/minio/minio to release.2023-02-09t05-16-53z
  k8s/archive/minio/values.yaml
Labels: area/k8s

fix: move dns to remote
  ansible/remote/ansible.cfg
  ansible/remote/inventory/group_vars/all/coredns.yaml
  ansible/remote/inventory/group_vars/all/remote.sops.yaml
  ansible/remote/inventory/hosts.ini
  ansible/remote/playbooks/coredns.yaml
  ansible/remote/playbooks/roles/coredns/handlers/main.yaml
  ansible/remote/playbooks/roles/coredns/tasks/main.yaml
  ansible/remote/playbooks/roles/coredns/templates/Corefile.j2
  ansible/remote/playbooks/roles/coredns/templates/coredns.service.j2
  ansible/remote/playbooks/roles/coredns/templates/remote.domain.j2
  ansible/rpi/playbooks/roles/coredns/templates/Corefile.j2
  ansible/rpi/playbooks/roles/nextdns/templates/nextdns.conf.j2
Labels: area/ansible

fix: probe to IP
  k8s/monitoring/blackbox-exporter/secrets.yaml
Labels: area/k8s

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/k8s:
  - "k8s/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
