Repository mfin/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/k8s, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/k8s:
  - "k8s/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"

chore(container): update image ghcr.io/authelia/authelia to 9745e3e
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 2ff87a9
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to fb51c4f
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/wakeful-cloud/yarr to 736ef3e
  k8s/archive/yarr/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 93e005b
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

feat: add back personal domain
  terraform/cloudflare/domain_email.tf
  terraform/cloudflare/domain_personal.tf
  terraform/cloudflare/secret.sops.yaml
Labels: area/terraform

chore(container): update image ghcr.io/authelia/authelia to de271a3
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 93a089c
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to aefa82c
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/cross-seed/cross-seed to 36670b1
  k8s/media/cross-seed/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/cross-seed/cross-seed to 65320f9
  k8s/media/cross-seed/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/cross-seed/cross-seed to cecc854
  k8s/media/cross-seed/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 552ce03
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 163073c
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 618ea20
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

fix(container): update image eclipse-mosquitto to v2.0.18
  k8s/automation/mosquitto/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/advplyr/audiobookshelf to v2.4.4
  k8s/media/audiobookshelf/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/alpine to v3.18.4
  .taskfiles/volumes/templates/WipeJob.tmpl.yaml
Labels: none

fix(container): update image ghcr.io/onedr0p/plex to v1.32.6.7557-1cf77d501
  k8s/media/plex/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/radarr-develop to v5.0.3.8107
  k8s/media/radarr-4k/values.yaml
  k8s/media/radarr/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.688
  k8s/media/sonarr/values.yaml
Labels: area/k8s

fix(container): update image quay.io/minio/minio to release.2023-09-30t07-02-29z
  k8s/archive/minio/values.yaml
Labels: area/k8s

fix(helm): update chart cert-manager to v1.13.1
  k8s/networking/cert-manager/Chart.yaml
Labels: area/k8s

fix(helm): update chart grafana to 6.60.2
  k8s/monitoring/grafana/Chart.yaml
Labels: area/k8s

fix(helm): update chart loki to 5.23.1
  k8s/monitoring/loki/Chart.yaml
Labels: area/k8s

fix(helm): update chart prometheus-snmp-exporter to 1.8.1
  k8s/monitoring/snmp-exporter/Chart.yaml
Labels: area/k8s

fix(helm): update chart reflector to 7.1.210
  k8s/system/reflector/Chart.yaml
Labels: area/k8s

feat(container): update image ghcr.io/autobrr/autobrr to v1.31.0
  k8s/media/autobrr/values.yaml
Labels: area/k8s

feat(container): update image ghcr.io/coder/code-server to v4.17.1
  k8s/automation/home-assistant/values.yaml
Labels: area/k8s

feat(container): update image ghcr.io/koenkk/zigbee2mqtt to v1.33.1
  k8s/automation/zigbee2mqtt/values.yaml
Labels: area/k8s

feat(container): update image ghcr.io/onedr0p/sabnzbd to v4.1.0
  k8s/media/sabnzbd/values.yaml
Labels: area/k8s

feat(container): update image ghcr.io/onedr0p/vector to v0.33.0
  k8s/monitoring/vector-agent/values.yaml
  k8s/monitoring/vector-aggregator/values.yaml
Labels: area/k8s

feat(container): update image homeassistant/home-assistant to v2023.9.3
  k8s/automation/home-assistant/values.yaml
Labels: area/k8s

feat(github-release): update k3s-io/k3s to v1.28.2+k3s1
  ansible/k3s/inventory/group_vars/all/k3s.yaml
Labels: area/ansible

feat(helm): update chart goldilocks to 7.3.0
  k8s/monitoring/goldilocks/Chart.yaml
Labels: area/k8s

feat(helm): update chart intel-device-plugins-operator to 0.28.0
  k8s/system/intel-device-plugins-operator/Chart.yaml
Labels: area/k8s

feat(helm): update chart prometheus-blackbox-exporter to 8.4.0
  k8s/monitoring/blackbox-exporter/Chart.yaml
Labels: area/k8s

fix: use tag for cross-seed
  k8s/media/cross-seed/values.yaml
Labels: area/k8s

fix: qbit url
  k8s/media/cross-seed/secrets.yaml
Labels: area/k8s

chore(container): update image ghcr.io/mfin/n8n to 93ebc3a
  k8s/automation/n8n/values.yaml
Labels: area/k8s
