Repository mfin/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/k8s, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/k8s:
  - "k8s/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"

fix(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.5.1.3422
  k8s/media/prowlarr/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/radarr-develop to v4.5.2.7388
  k8s/media/radarr-4k/values.yaml
  k8s/media/radarr/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/readarr-develop to v0.1.6.1867
  k8s/media/readarr/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.534
  k8s/media/sonarr/values.yaml
Labels: area/k8s

fix(container): update image gotenberg/gotenberg to v7.8.3
  k8s/automation/gotenberg/values.yaml
Labels: area/k8s

fix(container): update image quay.io/minio/minio to release.2023-05-27t05-56-19z
  k8s/archive/minio/values.yaml
Labels: area/k8s

fix(helm): update chart loki to 5.5.10
  k8s/monitoring/loki/Chart.yaml
Labels: area/k8s

feat(github-release): update projectcalico/calico to v3.26.0
  k8s/networking/calico/kustomization.yaml
Labels: area/k8s

feat(helm): update chart kube-prometheus-stack to 45.31.1
  k8s/monitoring/kube-prometheus-stack/Chart.yaml
Labels: area/k8s

feat(helm): update chart prometheus-snmp-exporter to 1.5.0
  k8s/monitoring/snmp-exporter/Chart.yaml
Labels: area/k8s

fix(helm): update chart argo-cd to 5.34.6
  k8s/bootstrap/argocd/Chart.yaml
Labels: area/k8s

fix: add missing reloads
  k8s/automation/home-assistant/values.yaml
  k8s/automation/n8n/values.yaml
  k8s/media/autobrr/values.yaml
Labels: area/k8s

Revert "feat(github-release): update projectcalico/calico to v3.26.0 (#532)"
  k8s/networking/calico/kustomization.yaml
Labels: area/k8s

Revert "feat(github-release): update projectcalico/calico to v3.26.0" (#539)
  k8s/networking/calico/kustomization.yaml
Labels: area/k8s

fix(ansible): update community.general to 7.0.1
  ansible/requirements.yaml
Labels: area/ansible

fix(github-release): update kubernetes/kubernetes to v1.27.2
  .taskfiles/k8s/scripts/kubeconform.sh
  k8s/bootstrap/argocd/values.yaml
Labels: area/k8s

feat(terraform): update terraform cloudflare to 4.6.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: area/terraform

feat(helm)!: Update chart kube-prometheus-stack to 46.4.1
  k8s/monitoring/kube-prometheus-stack/Chart.yaml
Labels: area/k8s

fix: bump lock
  terraform/cloudflare/.terraform.lock.hcl
Labels: area/terraform

fix(container): update image ghcr.io/onedr0p/qbittorrent to v4.5.3
  k8s/media/qbittorrent/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/qdm12/gluetun to v3.34.2
  k8s/networking/pod-gateway/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 5170b8e
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 69fbb73
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 9235009
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 34b2be5
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 4f0b795
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 4f4e098
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/advplyr/audiobookshelf to v2.2.22
  k8s/media/audiobookshelf/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/n8n-io/n8n to v0.230.2
  k8s/automation/n8n/values.yaml
Labels: area/k8s

fix(helm): update chart loki to 5.5.11
  k8s/monitoring/loki/Chart.yaml
Labels: area/k8s

feat(container): update image ghcr.io/nginxinc/nginx-unprivileged to v1.25
  k8s/monitoring/loki/values.yaml
Labels: area/k8s

fix(helm): update chart loki to 5.5.12
  k8s/monitoring/loki/Chart.yaml
Labels: area/k8s

fix(helm): update chart reloader to v1.0.26
  k8s/system/reloader/Chart.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 69640c2
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to c239bfe
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/authelia/authelia to 4e43afe
  k8s/authentication/authelia/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/qdm12/gluetun to v3.34.3
  k8s/networking/pod-gateway/values.yaml
Labels: area/k8s

fix(helm): update chart metallb to 0.13.10
  k8s/networking/metallb/Chart.yaml
Labels: area/k8s

feat(container): update image ghcr.io/n8n-io/n8n to v0.231.0
  k8s/automation/n8n/values.yaml
Labels: area/k8s

feat(helm): update chart grafana to 6.57.0
  k8s/monitoring/grafana/Chart.yaml
Labels: area/k8s
