Repository mfin/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/k8s, area/hack, area/terraform

fix(helm): update chart prometheus-snmp-exporter to 5.1.1
  k8s/monitoring/snmp-exporter/Chart.yaml
Labels: area/k8s

fix(helm): update chart volsync to 0.9.1
  k8s/storage/volsync/Chart.yaml
Labels: area/k8s

feat(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.16.1.4420
  k8s/media/prowlarr/values.yaml
Labels: area/k8s

fix(helm): update chart prometheus-blackbox-exporter to 8.15.1
  k8s/monitoring/blackbox-exporter/Chart.yaml
Labels: area/k8s

feat(helm): update chart kube-prometheus-stack to 58.1.2
  k8s/monitoring/kube-prometheus-stack/Chart.yaml
Labels: area/k8s

fix(container): update image ghcr.io/coder/code-server to v4.23.1
  k8s/automation/ha-config/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.4.1515
  k8s/media/sonarr/values.yaml
Labels: area/k8s

Revert "fix: remove pairdrop"
  k8s/selfhosted/pairdrop/Chart.yaml
  k8s/selfhosted/pairdrop/secrets.yaml
  k8s/selfhosted/pairdrop/templates/pvc.yaml
  k8s/selfhosted/pairdrop/templates/volsync.yaml
  k8s/selfhosted/pairdrop/values.yaml
  k8s/selfhosted/static/values.yaml
Labels: area/k8s

fix: disable pairdrop
  k8s/bootstrap/app-of-apps/values.yaml
Labels: area/k8s

fix: static path
  k8s/selfhosted/static/values.yaml
Labels: area/k8s

fix: remove pairdrop
  k8s/selfhosted/pairdrop/Chart.yaml
  k8s/selfhosted/pairdrop/secrets.yaml
  k8s/selfhosted/pairdrop/templates/pvc.yaml
  k8s/selfhosted/pairdrop/templates/volsync.yaml
  k8s/selfhosted/pairdrop/values.yaml
Labels: area/k8s

fix(github-action): update peter-evans/create-pull-request action to v6.0.4
  .github/workflows/publish-cloudflare-networks.yaml
Labels: area/github

fix(github-action): update renovatebot/github-action action to v40.1.10
  .github/workflows/renovate.yaml
Labels: area/github

chore(container): update image ghcr.io/bjw-s/calibre-web to bf30cd2
  k8s/media/calibre-web/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/bjw-s/calibre-web to cdb160c
  k8s/media/calibre-web/values.yaml
Labels: area/k8s

fix(github-action): update actions/checkout action to v4.1.3
  .github/workflows/publish-cloudflare-networks.yaml
  .github/workflows/renovate.yaml
  .github/workflows/sync-labels.yaml
Labels: area/github

fix(container): update image ghcr.io/mfin/argocd to v2.10.7
  k8s/bootstrap/argocd/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/plex to v1.40.2.8395-c67dce28e
  k8s/media/plex/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.16.2.4435
  k8s/media/prowlarr/values.yaml
Labels: area/k8s

fix(container): update image ghcr.io/unpoller/unpoller to v2.11.2
  k8s/monitoring/unpoller/values.yaml
Labels: area/k8s

fix(container): update image nginx to v1.25.5
  k8s/selfhosted/static/values.yaml
Labels: area/k8s

fix(helm): update chart grafana to 7.3.9
  k8s/monitoring/grafana/Chart.yaml
Labels: area/k8s

fix(helm): update chart reloader to 1.0.80
  k8s/system/reloader/Chart.yaml
Labels: area/k8s

fix(helm): update chart vpa to 4.4.6
  k8s/system/vpa/Chart.yaml
Labels: area/k8s

feat(container): update image ghcr.io/autobrr/autobrr to v1.41.0
  k8s/media/autobrr/values.yaml
Labels: area/k8s

feat(container): update image ghcr.io/onedr0p/radarr-develop to v5.5.0.8730
  k8s/media/radarr-4k/values.yaml
  k8s/media/radarr/values.yaml
Labels: area/k8s

feat(helm): update chart kube-prometheus-stack to 58.2.1
  k8s/monitoring/kube-prometheus-stack/Chart.yaml
Labels: area/k8s

fix(helm): update chart prometheus-blackbox-exporter to 8.15.2
  k8s/monitoring/blackbox-exporter/Chart.yaml
Labels: area/k8s

chore(container): update image ghcr.io/mfin/n8n to 7f1e0f6
  k8s/automation/n8n/values.yaml
Labels: area/k8s

chore(container): update image ghcr.io/mfin/postgres-minio-backup to a749c2f
  k8s/automation/n8n/templates/backup.yaml
  k8s/automation/nocodb/templates/backup.yaml
  k8s/selfhosted/miniflux/templates/backup.yaml
Labels: area/k8s

chore(container): update image ghcr.io/mfin/postgres-minio-restore to 0b43fa3
  .taskfiles/postgres/templates/RestoreJob.tmpl.yaml
Labels: none

chore(container): update image ghcr.io/mfin/argocd to d700efe
  k8s/bootstrap/argocd/values.yaml
Labels: area/k8s

chore(container): update image nginx to 87391b5
  k8s/selfhosted/static/values.yaml
Labels: area/k8s

chore(container): update image nginx to 61f40f0
  k8s/selfhosted/static/values.yaml
Labels: area/k8s

chore(container): update image nginx to fe6a88e
  k8s/selfhosted/static/values.yaml
Labels: area/k8s

chore(container): update image nginx to e701dfb
  k8s/selfhosted/static/values.yaml
Labels: area/k8s

chore(container): update image nginx to 19c60bd
  k8s/selfhosted/static/values.yaml
Labels: area/k8s

chore(container): update image nginx to 711cc22
  k8s/selfhosted/static/values.yaml
Labels: area/k8s

fix(github-action): update peter-evans/create-pull-request action to v6.0.5
  .github/workflows/publish-cloudflare-networks.yaml
Labels: area/github

fix(github-action): update actions/checkout action to v4.1.4
  .github/workflows/publish-cloudflare-networks.yaml
  .github/workflows/renovate.yaml
  .github/workflows/sync-labels.yaml
Labels: area/github

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
    - any-glob-to-any-file: "ansible/**/*"
area/github:
  - changed-files:
    - any-glob-to-any-file: ".github/**/*"
area/k8s:
  - changed-files:
    - any-glob-to-any-file: "k8s/**/*"
area/hack:
  - changed-files:
    - any-glob-to-any-file: "hack/**/*"
area/terraform:
  - changed-files:
    - any-glob-to-any-file: "terraform/**/*"
